In [1]:
import numpy as np
import pandas as pd
import openpyxl

## Load Data

In [2]:
transactions_agent_df = pd.read_excel('AGENT_02_08_2025.xlsx', header = 1, engine='openpyxl')
transactions_customer_df = pd.read_excel('CUSTOMER_02_08_2025.xlsx', header = 1,  engine = 'openpyxl')

/home/maxtheking/anaconda3/envs/cuda_env/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/maxtheking/anaconda3/envs/cuda_env/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
transactions_agent_df.head()

,Unnamed: 0,Date heure,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction
0,NaN,2025-08-02 07:06:50,W202508028628809,CASH_OUT,AGENT,HOP EVOUDOULAEVOUDOULA,2.376838e+11,401000.0,268500,132500.0,10005-00034-08342241001-25,NTAMBENG COOP CREDIT UNION LTD,NaN,NaN,NaN,NaN,AGENT_WEB,COMPLETED
1,NaN,2025-08-02 07:17:12,W202508028628919,CASH_OUT,AGENT,HOP MAROUA COMICE HOP MAROUA COMICE,2.376838e+11,154000.0,100000,54000.0,10005-00018-08291041051-33,TCHONKOTEU TOUGOUE PAULE,NaN,NaN,NaN,NaN,AGENT_WEB,COMPLETED
2,NaN,2025-08-02 08:21:28,W202508028629689,CASH_OUT,AGENT,HOP OBALAOBALA,2.376837e+11,11000.0,10000,1000.0,10005-00082-09207851101-43,KWAYEP TAYO PAULIVETTE,NaN,NaN,NaN,NaN,AGENT_WEB,COMPLETED
3,NaN,2025-08-02 08:43:58,W202508028629986,WALLET_TO_WALLET,AGENT,MULTI-SERVICE SARL,2.376736e+11,2434750.0,2000000,434750.0,NaN,NaN,2.376590e+11,MS MULTISERVICES09SARL,100000.0,2100000.0,AGENT_WEB,COMPLETED
4,NaN,2025-08-02 09:38:53,W202508028630757,WALLET_TO_WALLET,AGENT,EXPRESS UNIONSA,2.376795e+11,1323640.0,100000,1223640.0,NaN,NaN,2.376838e+11,EU BAFOUSSAM KAMKOPBAFOUSSAM KAMKOP,22100.0,122100.0,AGENT_WEB,COMPLETED

In [4]:
transactions_customer_df.head()

,Unnamed: 0,Date heure,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction
0,NaN,2025-08-02 00:05:40,W202508028627446,CASH_IN,CUSTOMER,NaN,NaN,NaN,10000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376743e+11,EKOTO ALEX,3452.3,13452.3,SARA_MOBILE,COMPLETED
1,NaN,2025-08-02 00:05:53,W202508028627447,CASH_IN,CUSTOMER,NaN,NaN,NaN,5000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376778e+11,GUY MERLIN KOUAM KAMDEM,280.4,5280.4,SARA_MOBILE,COMPLETED
2,NaN,2025-08-02 00:06:42,W202508028627448,CASH_IN,CUSTOMER,NaN,NaN,NaN,70000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376731e+11,ABIRIBA AMBANI NOELL,357.6,70357.6,SARA_MOBILE,COMPLETED
3,NaN,2025-08-02 00:07:04,W202508028627450,CASH_IN,CUSTOMER,NaN,NaN,NaN,90000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376555e+11,DIDIER STEVE MAH NSANGOU,469.9,90469.9,SARA_MOBILE,COMPLETED
4,NaN,2025-08-02 00:07:07,W202508028627451,CASH_IN,CUSTOMER,NaN,NaN,NaN,30000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376958e+11,KEVIN DONALD NJOCK NGONO,52.6,30052.6,SARA_MOBILE,COMPLETED

#### Dropping Unnamed:0 column...

In [5]:
transactions_agent_df.drop(['Unnamed: 0'], axis = 1, inplace = True)
transactions_customer_df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [6]:
transactions_agent_df.shape, transactions_customer_df.shape

((75, 17), (4606, 17))

In [7]:
transactions_customer_df.columns

Index(['Date heure', 'Reference transaction', 'Type transaction',
       'Type utilisateur transaction', 'Nom portefeuille expediteur',
       'Numero porte feuille expediteur', 'Solde expediteur avant transaction',
       'Montant transaction', 'Solde expediteur apres transaction',
       'Compte bancaire destinataire', 'Nom destinataire',
       'Numero porte feuille destinataire', 'Nom portefeuille destinataire',
       'Solde destinataire avant transaction',
       'Solde destinataire apres transaction', 'Type canal',
       'Statut transaction'],
      dtype='object')

In [8]:
transactions_agent_df.columns

Index(['Date heure', 'Reference transaction', 'Type transaction',
       'Type utilisateur transaction', 'Nom portefeuille expediteur',
       'Numero porte feuille expediteur', 'Solde expediteur avant transaction',
       'Montant transaction', 'Solde expediteur apres transaction',
       'Compte bancaire destinataire', 'Nom destinataire',
       'Numero porte feuille destinataire', 'Nom portefeuille destinataire',
       'Solde destinataire avant transaction',
       'Solde destinataire apres transaction', 'Type canal',
       'Statut transaction'],
      dtype='object')

In [14]:
transactions_customer_df['Type utilisateur transaction'].value_counts()

Type utilisateur transaction
CUSTOMER    4606
Name: count, dtype: int64

In [15]:
transactions_customer_df[transactions_customer_df['Type utilisateur transaction'] != 'CUSTOMER']

Empty DataFrame
Columns: [Date heure, Reference transaction, Type transaction, Type utilisateur transaction, Nom portefeuille expediteur, Numero porte feuille expediteur, Solde expediteur avant transaction, Montant transaction, Solde expediteur apres transaction, Compte bancaire destinataire, Nom destinataire, Numero porte feuille destinataire, Nom portefeuille destinataire, Solde destinataire avant transaction, Solde destinataire apres transaction, Type canal, Statut transaction]
Index: []

In [16]:
transactions_agent_df.head()

,Date heure,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction
0,2025-08-02 07:06:50,W202508028628809,CASH_OUT,AGENT,HOP EVOUDOULAEVOUDOULA,2.376838e+11,401000.0,268500,132500.0,10005-00034-08342241001-25,NTAMBENG COOP CREDIT UNION LTD,NaN,NaN,NaN,NaN,AGENT_WEB,COMPLETED
1,2025-08-02 07:17:12,W202508028628919,CASH_OUT,AGENT,HOP MAROUA COMICE HOP MAROUA COMICE,2.376838e+11,154000.0,100000,54000.0,10005-00018-08291041051-33,TCHONKOTEU TOUGOUE PAULE,NaN,NaN,NaN,NaN,AGENT_WEB,COMPLETED
2,2025-08-02 08:21:28,W202508028629689,CASH_OUT,AGENT,HOP OBALAOBALA,2.376837e+11,11000.0,10000,1000.0,10005-00082-09207851101-43,KWAYEP TAYO PAULIVETTE,NaN,NaN,NaN,NaN,AGENT_WEB,COMPLETED
3,2025-08-02 08:43:58,W202508028629986,WALLET_TO_WALLET,AGENT,MULTI-SERVICE SARL,2.376736e+11,2434750.0,2000000,434750.0,NaN,NaN,2.376590e+11,MS MULTISERVICES09SARL,100000.0,2100000.0,AGENT_WEB,COMPLETED
4,2025-08-02 09:38:53,W202508028630757,WALLET_TO_WALLET,AGENT,EXPRESS UNIONSA,2.376795e+11,1323640.0,100000,1223640.0,NaN,NaN,2.376838e+11,EU BAFOUSSAM KAMKOPBAFOUSSAM KAMKOP,22100.0,122100.0,AGENT_WEB,COMPLETED

In [17]:
transactions_customer_df.head()

,Date heure,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction
0,2025-08-02 00:05:40,W202508028627446,CASH_IN,CUSTOMER,NaN,NaN,NaN,10000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376743e+11,EKOTO ALEX,3452.3,13452.3,SARA_MOBILE,COMPLETED
1,2025-08-02 00:05:53,W202508028627447,CASH_IN,CUSTOMER,NaN,NaN,NaN,5000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376778e+11,GUY MERLIN KOUAM KAMDEM,280.4,5280.4,SARA_MOBILE,COMPLETED
2,2025-08-02 00:06:42,W202508028627448,CASH_IN,CUSTOMER,NaN,NaN,NaN,70000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376731e+11,ABIRIBA AMBANI NOELL,357.6,70357.6,SARA_MOBILE,COMPLETED
3,2025-08-02 00:07:04,W202508028627450,CASH_IN,CUSTOMER,NaN,NaN,NaN,90000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376555e+11,DIDIER STEVE MAH NSANGOU,469.9,90469.9,SARA_MOBILE,COMPLETED
4,2025-08-02 00:07:07,W202508028627451,CASH_IN,CUSTOMER,NaN,NaN,NaN,30000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376958e+11,KEVIN DONALD NJOCK NGONO,52.6,30052.6,SARA_MOBILE,COMPLETED

#### Taking only successful transactions...

In [18]:
transactions_agent_df = transactions_agent_df[transactions_agent_df['Statut transaction'] == "COMPLETED"]
transactions_customer_df = transactions_customer_df[transactions_customer_df['Statut transaction'] == "COMPLETED"]

#### Let's see the new shape...

In [19]:
transactions_agent_df.shape, transactions_customer_df.shape

((75, 17), (4606, 17))

### Combinons les dataframes...

In [20]:
# Concatenate both dataframes into a single transactions dataframe
transactions_df = pd.concat([transactions_agent_df, transactions_customer_df], ignore_index=True)

#### Vérifions la fusion...

In [21]:
transactions_df.shape

(4681, 17)

In [22]:
transactions_df['Type utilisateur transaction'].value_counts()

Type utilisateur transaction
CUSTOMER    4606
AGENT         75
Name: count, dtype: int64

In [23]:
transactions_df["Type transaction"].value_counts()

Type transaction
CASH_IN             4376
CASH_OUT             240
WALLET_TO_WALLET      65
Name: count, dtype: int64

In [24]:
# Keep only CASH_IN, CASH_OUT and WALLET_TO_WALLET transactions
transactions_df = transactions_df[transactions_df['Type transaction'].isin(['CASH_IN', 'CASH_OUT', 'WALLET_TO_WALLET'])]

In [25]:
transactions_df["Type transaction"].value_counts()

Type transaction
CASH_IN             4376
CASH_OUT             240
WALLET_TO_WALLET      65
Name: count, dtype: int64

On a bien les types d'utilisateur transaction désirés (CUSTOMER, AGENT) et le type de transaction (CASH_IN, WALLET_TO_WALLET, CASH_OUT)

#### Création des colonnes Date et Heure de transaction

In [26]:

#Créer colonne date, et colonne heure
transactions_df['Heure transaction'] = pd.to_datetime(transactions_df['Date heure']).dt.time
transactions_df['Date transaction'] = pd.to_datetime(transactions_df['Date heure']).dt.date
transactions_df.drop(['Date heure'], axis=1, inplace=True)


#Numéro portefeuille destinataire 
transactions_df['Numero porte feuille expediteur'] = transactions_df['Numero porte feuille expediteur'].fillna(0).astype(int).astype(str)
#Numéro portefeuille
transactions_df['Numero porte feuille destinataire'] = transactions_df['Numero porte feuille destinataire'].fillna(0).astype(int).astype(str)

In [27]:
transactions_df[transactions_df['Type utilisateur transaction'] == 'CUSTOMER']['Nom destinataire'].value_counts()

Nom destinataire
DAP MONNAIE ELECTRONIQUE                4334
WANDJI NANA CARREL ALEXIS                  4
ACHA NGOH JACKSON                          3
NOUTSOUE TOUKAM LUC EUDES                  3
GASSISSOU HOUNA OLIVIER                    3
                                        ...
AFAGNIGNI PANCHA MOUGNUTOU WAHSSIHOU       1
NGAMTIATE KASSIMOU                         1
NTAMACK NDZIE GLAWDYS MARIE FLEUR          1
LOUL SANDO JEAN MERMOZ                     1
EMANE NGNAMA MIKAEL                        1
Name: count, Length: 200, dtype: int64

In [28]:
transactions_df[transactions_df['Type utilisateur transaction'] == 'CUSTOMER']['Nom portefeuille destinataire'].value_counts()

Nom portefeuille destinataire
FLORENT BORIS KAME TCHOUABOU         11
NTONKO FULGAN ERNEST                 10
JACOB POSSIE                          8
EMOK TENGUEN SIMPLICE                 7
TCHOUA VIRGINIE                       7
                                     ..
CHARLOTTE FLAVIENNE NGO BINYA         1
NOEL PENANJOUO MIENTHIA               1
SIMON MICHEL SOUCK MBOUG              1
MARILYNE NATHACHA NSIEWE TCHOUBOU     1
claudios sindze moukoko               1
Name: count, Length: 3316, dtype: int64

Les opérations effectuées par les CUSTOMER ont pour principale destinataire (cas de versement) le **DAP MONNAIE ELECTRONIQUE**, et pour principale portefeuille destinataire **JANGI DRL**

## Obtenir les differents point de services de chaque distributeur

In [29]:
transactions_df['Nom portefeuille expediteur'].unique()

array([' HOP EVOUDOULAEVOUDOULA', ' HOP MAROUA COMICE HOP MAROUA COMICE',
       ' HOP OBALAOBALA', ' MULTI-SERVICE SARL', ' EXPRESS UNIONSA',
       ' HOP SERVICESARL', ' HOP YAOUNDÉ CARRIERE YAOUNDÉ CARRIERE ',
       ' EU BAFOUSSAM KAMKOPBAFOUSSAM KAMKOP',
       ' EU FOUMBAN CENTRE FOUMBAN CENTRE ', ' HOP YDE NKOZOA NKOZOA',
       ' HOP MAYO DARLEYMAYO DARLEY', ' CB ETS ARCHANGES ARCHANGE ',
       ' IT MELEN', ' HOP LIMBE DOWN BEACHHOP LIMBE DOWN BEACH', nan,
       ' HOP YOKADOUMA 1HOP YOKADOUMA 1', ' HOP NGAOUIHOP NGAOUI',
       ' IT EMANA', ' HOP DLA PK 15HOP DLA PK 15', 'NDEH NICHOLAS MUNOJI',
       'PAUL ZOUADA', 'BACHIROU MOUHAMMADOU', 'KOI WANKAKI',
       'ACHA NGOH JACKSON', 'AJA FOWE ANGELE', 'ALI AHMADOU ND',
       'FOMAT JUDITH', 'OLIVIER GASSISSOU HOUNA',
       'ENOKENWA BESONG NKONGHOTABI ND', 'NYEMB ENOUNE PAUL INNOCENT',
       'WAFO GUY', 'HAMDJA CHOUADAOU', 'DJONWANG YARMA ND',
       'GERARD NGUEME TSIMI', 'ONANA BERLINE', 'APOLLINAIRE TALLA',
       'NGUEBIPOU KAMGANG FRANCK', 'KENGNE NDE BALBINE',
       'ARSEL MOMO KENFACK', 'DONGMO KENFACK VANESSA',
       'MIRABEAU NKWIDJEU', 'RAISSA MAFO', 'ZANDA JEAN CAROL',
       'RICHARD JIENANG', 'ANDERSON OSSELYN', 'EBONOKO BRICE ARSENE',
       'GUY CHARLY SOB', 'HUYGHENS BATOUM NYOBE', 'ARIEL MENDOUA',
       'ARISTIDE  VERDIANE MEDA TCHONET', 'KENGNE  Cabrin',
       'DILANE FLORIANT NGOUANA SOB', 'FIENIH LILIAN EKFUINGEIH',
       'TCHATCHOUA TCHOUATE ROCCHY', 'EMMANUEL KOUMBIO',
       "NDO'O ZILI LINDA SALOME HONORINE", 'ELVIRE MEFFO MECHE',
       "OYE NKO'O NERINE", 'ABBO HAMIDOU', 'DJEUMENI DJEUNA FRANCIS',
       'ESSIBEN ESSIBEN AGNES SONIA', 'HYACINTHE DJANAN',
       'NDENGE GERARD ATUMU', 'KARREL AUDREY POUAHA NZAMAFFO',
       'JEANNE IDENNE AKOL MAILLEY', 'PAVEL TCHATCHOUANG TCHINDA',
       'METEE BITEE CLAUDINE MERYL', 'WOUBA TCHANGA ANNICK JOLIE',
       'NYIDJINA AYOCK TRIPHOSE', 'MANGA NELSON', 'JANE TSAGUE TEZONG',
       'PEREVET SAWALDA VICTORIEN', 'JEAN BLAISE KENGNE SIDJIE',
       'MESSINA JEAN FABRICE', 'YVAN FREUD TOUKAM YOUKAM',
       'NDJOM MATHIEU', 'NGO NYEMECK Gertrude Yvette',
       'EUGENIE TCHOYA NKWATCHE', 'MOHAMADOU NOUROU ADAMOU',
       'IMELDA WATSOP FEUMENE', 'JACQUELINE LAURE MAKALLE BIBOUM',
       'MANYO FLORENCE AGBOR ENOW', 'IBRAHIM HIDERY',
       'DERICK KEVIN ASSEM NGOLOK',
       'JOEL CEDRIC TCHAPMEN NDJANGA MBIANDA', 'CHRISTABEL BERINYUY',
       'ZANFACK NGUIMATSIA STEPHANE LIONEL', 'SINSAI RONALD',
       'TCHAPDA TCHAMO SEDRY YANNICK', 'DIELA NGUEYEP CARLOS',
       'NOMO III FAUSTIN LUCIEN', 'KADIGE MEFIRE', 'NDJIE MATHIAS FRANCK',
       'LARISSA NKOUZOUER NINA', 'PRECIL TATIANE CHEUNO YOUMBI',
       '- MALIKI HAMADOU', 'ETUNDI EBENDA MARC', 'FRANCK STEVE GHOMSI',
       'NYAMSI JACQUES ROGER VIRGILE', 'Joseph Boris EDOA EFFA',
       'Mathieu 2 AWOMO AWOMO', 'JULIA CARINE NONGNI MAFFO',
       'NGAY JULIEN', 'OUMAROU MOHAMADOU ND',
       'AFAGNIGNI PANCHA MOUGNUTOU WAHSSIHOU', 'NGAMTIATE KASSIMOU',
       'GLAWDYS MARIE FLEUR NTAMACK NDZIE', 'LOUL SANDO JEAN MERMOZ',
       'DJONGUELE SOPPO ANGE', 'FRANK KEVIN MBIMBA',
       'YONGWA DTISSIBE FRANCIS', 'TIKENG SEGNING HERMANN STEPHANE',
       'MINKONGO MINKONGO CYRILLE', 'NELSON FORGHEMA ND',
       'NDJEUTO TCHOULI PROSPER', 'TALLA FLORENCE',
       'ND CONSTANCE WANWEAKAM NJI', 'DONGMO ZEBAZE MARTIAL',
       'ALIX MIREILLE ZANGA MBIDA', 'Delphine Ngo Minkeng',
       'MAYACK II MARCEL', 'LUC NOUTSOUE TOUKAM',
       'MONSIEUR YOUSSA ANSELME', 'Sidoine Tchakounté',
       'KAMDOM MARGUERITE', 'FULBERT ANDEGUE MBARGA',
       'YEMELI KENNE JOVILLE BELMIEN', 'BEN FOTSO KAMGA',
       'NGATCHOU BETNGA SONIA ERVAINE', 'BINTOU NGOUNGOURE MVUH',
       'EMERSON TATANFACK SONTIA', 'GEORGES KAMSU SIKATI',
       'STEPHEN MBORO ANDOSEH', 'ESHENING LONGINU HERMIONE',
       'JOSEE JENNY KAMGAING', 'Fouobang  Leonel Darius',
       'YVES NICK NKEMAIGNE', 'KEVINE MAPTUE TUETIOM',
       'OLIVIER BEKOMBO MEIGALI', 'NESTA ENOW EGBE', 'BARACK MARA DJADJO',
       'KENMENE ARCELE CRESSON', 'ROSA LARISSA BOLGA AYENE',
       'BAKARI ADAMOU ND', 'SAAGRY SA', 'BENGALA OYIE CORINNE ELISABETH',
       'DEILA DORGELESS TIEMGNI MELENDAN', 'ERIC STEVE NGUEKOU',
       'ONANA CLAUDE', 'MOUMY PAULINE', 'CEDRIC CHOUMKEU NTCHAMENI',
       'FELIX EBOUE TELA', 'AKO JOELLE AGBORNDANG', 'ONANA NDOMO GEORGES',
       'KAMDEM KAMWA FRANKLIN ROCKY', 'DJUPA NOUBEWO LAURA',
       'TALLE AHMADOU', 'WANDJI NANA CARREL ALEXIS', 'NELLY FOE ETONGO',
       'BAHEL BRICE ARMEL', 'ROGER NICK LOIC EBENGUE', 'DIN AURIOL',
       'KENFACK ASSONFACK SEGUI PATRICE', 'TAKEM BOGNING GUY ROLLAND',
       'NKAMBI BLAISE', 'APOLLINAIRE BOUNO SOBKA', 'DENIS KANYIMI BACHE',
       'PIERRETTE DJOPMOUO CHIMI', 'NOMO OHANA JOSEPH',
       'YOUSSOUFA SOULEY', 'KEMTA GUY PAULIN',
       'DOUAGNI MBOUGO CHRYSOSIANE', 'AMINOU SOULEYMANOU',
       'JUNIOR KEMAYOU ROMARICK', 'RAISSA NOMEL AGNIME',
       'NASSOUROU OUSSOUMANOU', 'GAB BUUDMIYAA JOEL',
       'SANA GAELLE MAFEUKOU GHEBABOGHE', 'LEONCE DEUMO DEUMO',
       'NOUAGA TCHAWO THIERRY', 'ABBO MOHAMADOU', 'ABOSSOLO JUDE OBERLIN',
       'TOYSSIA JOB DIKAMDI ANDRE', 'OTTOU SEME MARIE MADELEINE',
       'TCHUENDOM KEMEGNI GEORGE CIRILLE', 'NGOUNE KENFACK SATURNIN',
       'YOUSSOUFOU HAMIDOU', 'HABIBA BOUBA ND', 'TOUNYA ANGELE',
       'IRENE KECHA SIRRI', 'Yannick Denis NJIKI NADJIE',
       'TALLA WAMBA JEFF RODRIGUE', 'GUY PAULIN MBON MBON',
       'AMBE LESLIE NKAMTO', 'BEN YEMENI NIKEU LEVI',
       'FRANKY BENOIT AKOGOUA', 'Mael Toukap',
       'PATIPE DJEUPOU GEORGES ROBIN', 'ACHILLE NYOUMA',
       'AYISSI ABANDA BERNADETTE', 'GHEOGUIA DAMANOU AUBEPINE',
       'DOMINIQUE IVONNE NGANDEU', 'LINUS JORDAN NKUIKA',
       'TCHIOFFO MBEP CHRISTIAN', 'KOUOH ELOMBO FERDINAND',
       'FOGANG KOUESSO GIRESSE PARFAIT', 'NATHALIE BIKOE',
       'DJIAZET ALIPHE', 'MARLAINE KEVINE KAMDOM',
       'STEVE ARNOLD DOMGUIA NZETCHO', 'TCHANKEU TANKEU RODOLPHE',
       'SIMONE KOUNGOYO ESSOME', 'ISSA MAIGARI HAYATOU ND',
       'ONANA MBALA SOLANGE AGRIPPINE', 'KINOL TCHOFFO MELLA',
       'NOUBIELI TAWAMBA RAOUL', 'DJOYEP TCHOUZOU LE SAINT SOLEIL',
       'ALLAN LOIC FEZE DZALI', 'SASHA INGRID TOWA KEMADJOU',
       'DANIEL JOEL JEBENTCHOU NAMI', 'MBAMI YOPA JOEL',
       'CHRISTIAN STEVE NGAH AKOLO', 'LAURENT-FABRICE AMBASSA',
       'SACDE WAFFO', 'AUBIERGE MBOUBANN GUEASSE', 'Chaïb Kouengue Mveyn',
       'NDEFO KAMGA YVES FLORENTIN', 'MBESSE OSSENDE FABRICE',
       'NGANGUE BEBEY BORIS', 'ADDAGAROU AISSATOU AHMADOU',
       'BLAISE PAULIN TANKOUA NGABO', 'LOKO BILLE MBONDE AUGUSTE',
       'ENAMA AMBOMO GAEL', 'CHRISTIAN VIANNEY TCHEPNANG NJANMEGNI',
       'FETUE KAMGA JOSEPH CALVIN', 'NADIA MICHELLE HENYAM MORBANG',
       'IVAN VALERY NGOUDJOU TCHOUTEZEM',
       'ASSONFACK TCHINDA ALEX WILFRIED', 'GUEGUESSINGSA BONAVENTURE',
       'PAUL ABEGA', 'ALAKA REGINE JACQUELINE', 'WILFRIED DON FOUEKENG',
       'YANGOUO MOULIOM FABRICE', 'SONNE NORBERT',
       'ND RASSEMBAYE BIENVENU', 'ALEMBE NOMA ANTOINE DIDIER',
       'MUITIOUMBEL YANNICK WILLIE', 'FREDERIC STEVE NDEFO NANA',
       'ND MICHEL ALAIN BIENG', 'FATIMA NAZUIRA VESSAH',
       'YVAN MIGUEL MBAH', 'TCHUENTE CHEDJOU DANIELLE NANCY',
       'TCHOUAMO NANTCHOP CEDRIC', 'GUIDA JOEL FLORENTIN',
       'MIKAEL EMANE NGNAMA'], dtype=object)

#### Removing all the trailing spaces...

In [30]:
# Remove trailing spaces from all columns in transactions_df
for column in transactions_df.columns:
    if transactions_df[column].dtype == 'object':
        # Convert to string first and handle NaN values
        transactions_df[column] = transactions_df[column].astype(str).replace('nan', '')
        transactions_df[column] = transactions_df[column].str.strip()

In [31]:
transactions_df[transactions_df['Type utilisateur transaction'] == 'AGENT']['Nom portefeuille expediteur'].unique()

array(['HOP EVOUDOULAEVOUDOULA', 'HOP MAROUA COMICE HOP MAROUA COMICE',
       'HOP OBALAOBALA', 'MULTI-SERVICE SARL', 'EXPRESS UNIONSA',
       'HOP SERVICESARL', 'HOP YAOUNDÉ CARRIERE YAOUNDÉ CARRIERE',
       'EU BAFOUSSAM KAMKOPBAFOUSSAM KAMKOP',
       'EU FOUMBAN CENTRE FOUMBAN CENTRE', 'HOP YDE NKOZOA NKOZOA',
       'HOP MAYO DARLEYMAYO DARLEY', 'CB ETS ARCHANGES ARCHANGE',
       'IT MELEN', 'HOP LIMBE DOWN BEACHHOP LIMBE DOWN BEACH', '',
       'HOP YOKADOUMA 1HOP YOKADOUMA 1', 'HOP NGAOUIHOP NGAOUI',
       'IT EMANA', 'HOP DLA PK 15HOP DLA PK 15'], dtype=object)

#### Chargement des différents point de services

#### Function to identify all hop agencies

In [32]:
# Define a function to check if a name matches HOP patterns
def is_hop_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip().upper()
    return (name.startswith('HOP') or 
            name == 'HOP SERVICESARL' or
            name == 'ALBINEHOP' or 
            name == 'DTN NANGA NANGA JUNIORHOP SIEGE DCM')

# Get transactions where either sender or receiver matches HOP pattern
hop_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_hop_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_hop_agency))
].copy()

# Display first few rows
print("HOP transactions:")
hop_transactions_df.head()

HOP transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
0,W202508028628809,CASH_OUT,AGENT,HOP EVOUDOULAEVOUDOULA,237683758838,401000.0,268500,132500.0,10005-00034-08342241001-25,NTAMBENG COOP CREDIT UNION LTD,0,,NaN,NaN,AGENT_WEB,COMPLETED,07:06:50,2025-08-02
1,W202508028628919,CASH_OUT,AGENT,HOP MAROUA COMICE HOP MAROUA COMICE,237683758995,154000.0,100000,54000.0,10005-00018-08291041051-33,TCHONKOTEU TOUGOUE PAULE,0,,NaN,NaN,AGENT_WEB,COMPLETED,07:17:12,2025-08-02
2,W202508028629689,CASH_OUT,AGENT,HOP OBALAOBALA,237683726821,11000.0,10000,1000.0,10005-00082-09207851101-43,KWAYEP TAYO PAULIVETTE,0,,NaN,NaN,AGENT_WEB,COMPLETED,08:21:28,2025-08-02
5,W202508028630806,WALLET_TO_WALLET,AGENT,HOP SERVICESARL,237676739074,12272334.0,2000000,10272334.0,,,237683725595,HOP MAYO DARLEYMAYO DARLEY,0.0,2000000.0,AGENT_WEB,COMPLETED,09:43:06,2025-08-02
6,W202508028630836,WALLET_TO_WALLET,AGENT,HOP SERVICESARL,237676739074,10272334.0,482145,9790189.0,,,237683737235,HOP YAOUNDÉ CARRIERE YAOUNDÉ CARRIERE,0.0,482145.0,AGENT_WEB,COMPLETED,09:44:50,2025-08-02

In [34]:
hop_transactions_df[hop_transactions_df["Nom destinataire"] == ""]

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
5,W202508028630806,WALLET_TO_WALLET,AGENT,HOP SERVICESARL,237676739074,12272334.0,2000000,10272334.0,,,237683725595,HOP MAYO DARLEYMAYO DARLEY,0.0,2000000.0,AGENT_WEB,COMPLETED,09:43:06,2025-08-02
6,W202508028630836,WALLET_TO_WALLET,AGENT,HOP SERVICESARL,237676739074,10272334.0,482145,9790189.0,,,237683737235,HOP YAOUNDÉ CARRIERE YAOUNDÉ CARRIERE,0.0,482145.0,AGENT_WEB,COMPLETED,09:44:50,2025-08-02
7,W202508028630858,WALLET_TO_WALLET,AGENT,HOP SERVICESARL,237676739074,9790189.0,1974560,7815629.0,,,237683737235,HOP YAOUNDÉ CARRIERE YAOUNDÉ CARRIERE,482145.0,2456705.0,AGENT_WEB,COMPLETED,09:46:27,2025-08-02
9,W202508028630938,WALLET_TO_WALLET,AGENT,HOP SERVICESARL,237676739074,7815629.0,450000,7365629.0,,,237683735528,HOP YDE NKOZOA NKOZOA,0.0,450000.0,AGENT_WEB,COMPLETED,09:52:09,2025-08-02
15,W202508028631151,WALLET_TO_WALLET,AGENT,HOP SERVICESARL,237676739074,7365629.0,1075600,6290029.0,,,237683737235,HOP YAOUNDÉ CARRIERE YAOUNDÉ CARRIERE,0.0,1075600.0,AGENT_WEB,COMPLETED,10:08:02,2025-08-02
19,W202508028631705,WALLET_TO_WALLET,AGENT,HOP SERVICESARL,237676739074,6290029.0,64000,6226029.0,,,237683735289,HOP LIMBE DOWN BEACHHOP LIMBE DOWN BEACH,0.0,64000.0,AGENT_WEB,COMPLETED,10:44:39,2025-08-02
28,W202508028632181,WALLET_TO_WALLET,AGENT,HOP SERVICESARL,237676739074,13226029.0,8000000,5226029.0,,,237683751425,HOP NGAOUIHOP NGAOUI,0.0,8000000.0,AGENT_WEB,COMPLETED,11:13:41,2025-08-02
44,W202508028632321,WALLET_TO_WALLET,AGENT,HOP SERVICESARL,237676739074,20226029.0,10000000,10226029.0,,,237683725013,HOP YOKADOUMA 1HOP YOKADOUMA 1,1996500.0,11996500.0,AGENT_WEB,COMPLETED,11:23:45,2025-08-02
45,W202508028632335,WALLET_TO_WALLET,AGENT,HOP SERVICESARL,237676739074,10226029.0,10000000,226029.0,,,237683725013,HOP YOKADOUMA 1HOP YOKADOUMA 1,11996500.0,21996500.0,AGENT_WEB,COMPLETED,11:24:15,2025-08-02
54,W202508028632425,WALLET_TO_WALLET,AGENT,HOP SERVICESARL,237676739074,6226029.0,6000000,226029.0,,,237683737249,HOP DLA PK 15HOP DLA PK 15,1260000.0,7260000.0,AGENT_WEB,COMPLETED,11:29:15,2025-08-02
69,W202508028632982,WALLET_TO_WALLET,AGENT,HOP SERVICESARL,237676739074,14226029.0,10000000,4226029.0,,,237683725013,HOP YOKADOUMA 1HOP YOKADOUMA 1,1996500.0,11996500.0,AGENT_WEB,COMPLETED,12:02:52,2025-08-02
70,W202508028632991,WALLET_TO_WALLET,AGENT,HOP SERVICESARL,237676739074,4226029.0,4000000,226029.0,,,237683725013,HOP YOKADOUMA 1HOP YOKADOUMA 1,11996500.0,15996500.0,AGENT_WEB,COMPLETED,12:03:25,2025-08-02
71,W202508028633101,WALLET_TO_WALLET,AGENT,HOP SERVICESARL,237676739074,226029.0,100000,126029.0,,,237683725013,HOP YOKADOUMA 1HOP YOKADOUMA 1,15996500.0,16096500.0,AGENT_WEB,COMPLETED,12:11:09,2025-08-02

In [35]:
hop_transactions_df.shape

(68, 18)

#### Emi money agences

#### Function to identify Emi money transactions...

In [36]:
# Define a function to check if a name matches EMI Money patterns
def is_emi_money_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip()
    patterns = ['Emi money', 'EMI MONEY', 'Sarl Emi', 'Sarl Emi money', 'EMI MONEY SARL']
    return any(pattern in name for pattern in patterns)

# Get transactions where either sender or receiver matches EMI Money pattern
emi_money_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_emi_money_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_emi_money_agency)) |
    (transactions_df['Nom portefeuille expediteur'] == 'EMI MONEY SARL') |
    (transactions_df['Nom portefeuille destinataire'] == 'EMI MONEY SARL')
].copy()

# Display first few rows
print("EMI Money transactions:")
emi_money_transactions_df.head()

EMI Money transactions:

Empty DataFrame
Columns: [Reference transaction, Type transaction, Type utilisateur transaction, Nom portefeuille expediteur, Numero porte feuille expediteur, Solde expediteur avant transaction, Montant transaction, Solde expediteur apres transaction, Compte bancaire destinataire, Nom destinataire, Numero porte feuille destinataire, Nom portefeuille destinataire, Solde destinataire avant transaction, Solde destinataire apres transaction, Type canal, Statut transaction, Heure transaction, Date transaction]
Index: []

In [37]:
emi_money_transactions_df.shape

(0, 18)

#### Function to identify Express Union agences

In [38]:
# Define a function to check if a name matches Express Union patterns
def is_express_union_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip()
    return name.startswith('EU ') or name.startswith('EUF ') or name == 'EXPRESS UNIONSA'

# Get transactions where either sender or receiver matches Express Union pattern
express_union_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_express_union_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_express_union_agency))
].copy()

# Display first few rows
print("Express Union transactions:")
express_union_transactions_df.head()

Express Union transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
4,W202508028630757,WALLET_TO_WALLET,AGENT,EXPRESS UNIONSA,237679530802,1323640.0,100000,1223640.0,,,237683751495,EU BAFOUSSAM KAMKOPBAFOUSSAM KAMKOP,22100.0,122100.0,AGENT_WEB,COMPLETED,09:38:53,2025-08-02
11,W202508028631040,CASH_OUT,AGENT,EU BAFOUSSAM KAMKOPBAFOUSSAM KAMKOP,237683751495,122100.0,50000,72100.0,10005-00036-09314441101-60,SIDJEU BIANKEU ROSE,0,,NaN,NaN,AGENT_WEB,COMPLETED,09:59:06,2025-08-02
12,W202508028631042,CASH_OUT,AGENT,EU FOUMBAN CENTRE FOUMBAN CENTRE,237683735851,516416.0,43000,473416.0,10005-00002-04402621004-62,CAMEROON WATER UTILITIES CORPORATION,0,,NaN,NaN,AGENT_WEB,COMPLETED,09:59:14,2025-08-02

In [39]:
express_union_transactions_df.shape

(3, 18)

#### Function to identify all Instant transfert transactions(IT)

In [40]:
# Define a function to check if a name matches Instant Transfer patterns
def is_instant_transfer_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip()
    return name.startswith('IT ') or name == 'INSTANTTRANSFER SARL'

# Get transactions where either sender or receiver matches Instant Transfer pattern 
instant_transfer_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_instant_transfer_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_instant_transfer_agency))
].copy()

# Display first few rows
print("Instant Transfer transactions:")
instant_transfer_transactions_df.head()

Instant Transfer transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
18,W202508028631663,WALLET_TO_WALLET,AGENT,IT MELEN,237652072524,83000.0,5000,78000.0,,,237658105406,EDWIGE CHRISTELLE NIMENI,19991.0,24991.0,AGENT_WEB,COMPLETED,10:40:47,2025-08-02
73,W202508028635342,WALLET_TO_WALLET,AGENT,IT EMANA,237652072516,140375.0,40000,100375.0,,,237698509488,Mael Toukap,185.3,40185.3,AGENT_WEB,COMPLETED,15:02:01,2025-08-02

In [41]:
instant_transfer_transactions_df.shape

(2, 18)

#### Function to identify Multi-Service Sarl transactions

In [42]:
# # Extract CB entries to add to call_box_agences
# cb_entries = np.array([x for x in ms_agences if x.startswith('CB ')])

# # Combine with existing call_box_agences and remove duplicates
# call_box_agences = np.unique(np.concatenate([call_box_agences, cb_entries]))

# # Filter out CB entries from ms_agences array
# ms_agences = np.array([x for x in ms_agences if not x.startswith('CB ')])

# # Display filtered ms_agences
# ms_agences

In [43]:
# Define a function to check if a name matches Multi-Service patterns
def is_multiservice_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip()
    # Check if name starts with 'MS ' or contains 'MULTI-SERVICE'
    if name.startswith('MS ') or 'MULTI-SERVICE' in name.upper():
        return True
    # Check for isolated 'MS' in the name
    words = name.split()
    if 'MS' in words:
        return True
    return False

# Get transactions where either sender or receiver matches Multi-Service pattern
multiservice_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_multiservice_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_multiservice_agency))
].copy()

# Display first few rows
print("Multi-Service transactions:")
multiservice_transactions_df.head()

Multi-Service transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
3,W202508028629986,WALLET_TO_WALLET,AGENT,MULTI-SERVICE SARL,237673622528,2434750.0,2000000,434750.0,,,237659023887,MS MULTISERVICES09SARL,100000.0,2100000.0,AGENT_WEB,COMPLETED,08:43:58,2025-08-02

In [44]:
multiservice_transactions_df['Nom portefeuille expediteur'].unique()

array(['MULTI-SERVICE SARL'], dtype=object)

In [45]:
# Filter for transactions with 'MULTI-SERVICE SARL' as either sender or receiver
super_agent_transactions = multiservice_transactions_df[
    (multiservice_transactions_df['Nom portefeuille expediteur'] == 'MULTI-SERVICE SARL') |
    (multiservice_transactions_df['Nom portefeuille destinataire'] == 'MULTI-SERVICE SARL')
]

# Display the filtered transactions
print("Super agent (MULTI-SERVICE SARL) transactions:")
super_agent_transactions.head()

Super agent (MULTI-SERVICE SARL) transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
3,W202508028629986,WALLET_TO_WALLET,AGENT,MULTI-SERVICE SARL,237673622528,2434750.0,2000000,434750.0,,,237659023887,MS MULTISERVICES09SARL,100000.0,2100000.0,AGENT_WEB,COMPLETED,08:43:58,2025-08-02

In [46]:
multiservice_transactions_df.shape

(1, 18)

#### Function to identify Muffa transactions...

In [47]:
# Define a function to check if a name matches Muffa patterns
def is_muffa_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip().upper()
    return name.startswith('MUFFA')

# Get transactions where either sender or receiver matches Muffa pattern
muffa_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_muffa_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_muffa_agency))
].copy()

# Display first few rows
print("Muffa transactions:")
muffa_transactions_df.head()

Muffa transactions:

Empty DataFrame
Columns: [Reference transaction, Type transaction, Type utilisateur transaction, Nom portefeuille expediteur, Numero porte feuille expediteur, Solde expediteur avant transaction, Montant transaction, Solde expediteur apres transaction, Compte bancaire destinataire, Nom destinataire, Numero porte feuille destinataire, Nom portefeuille destinataire, Solde destinataire avant transaction, Solde destinataire apres transaction, Type canal, Statut transaction, Heure transaction, Date transaction]
Index: []

In [48]:
muffa_transactions_df.shape

(0, 18)

#### Function to identify all Call box transactions

In [49]:
# Define a function to check if a name matches Call Box patterns
def is_call_box_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip().upper()
    return name.startswith('CB')

# Get transactions where either sender or receiver matches Call Box pattern
call_box_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_call_box_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_call_box_agency))
].copy()

# Display first few rows
print("Call Box transactions:")
call_box_transactions_df.head()

Call Box transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
17,W202508028631557,WALLET_TO_WALLET,AGENT,CB ETS ARCHANGES ARCHANGE,237677812514,1453.0,1453,0.0,,,237695287860,Youmsi Kevin Richard,84.0,1537.0,AGENT_WEB,COMPLETED,10:33:39,2025-08-02

In [50]:
call_box_transactions_df.shape

(1, 18)

#### Super agent Names...

In [51]:
hop_super_agent = 'HOP SERVICESARL'
express_union_super_agent = 'EXPRESS UNIONSA'
emi_money_super_agent = 'EMI MONEY SARL'
multiservice_super_agent = 'MULTI-SERVICE SARL'
instant_transfer_super_agent = 'INSTANTTRANSFER SARL'

#### Recap of the different agences dataframes

In [52]:
hop_transactions_df.shape, emi_money_transactions_df.shape, express_union_transactions_df.shape, instant_transfer_transactions_df.shape, multiservice_transactions_df.shape, muffa_transactions_df.shape, call_box_transactions_df.shape

((68, 18), (0, 18), (3, 18), (2, 18), (1, 18), (0, 18), (1, 18))

In [53]:
# Sum all rows from different agency dataframes
total_agency_transactions = (
    len(hop_transactions_df) + 
    len(emi_money_transactions_df) + 
    len(express_union_transactions_df) + 
    len(instant_transfer_transactions_df) + 
    len(multiservice_transactions_df) + 
    len(muffa_transactions_df) + 
    len(call_box_transactions_df)
)

print(f"Total number of agency transactions: {total_agency_transactions}")

Total number of agency transactions: 75

In [54]:
# Get all transactions that are not in any agency dataframe
non_agency_transactions = transactions_df[
    ~(
        # Check if transaction is not in any agency dataframe
        transactions_df.index.isin(hop_transactions_df.index) |
        transactions_df.index.isin(emi_money_transactions_df.index) |
        transactions_df.index.isin(express_union_transactions_df.index) |
        transactions_df.index.isin(instant_transfer_transactions_df.index) |
        transactions_df.index.isin(multiservice_transactions_df.index) |
        transactions_df.index.isin(muffa_transactions_df.index) |
        transactions_df.index.isin(call_box_transactions_df.index)
    )
].copy()

print(f"Number of transactions not in any agency dataframe: {len(non_agency_transactions)}")
print("\nSample of transactions not in any agency dataframe:")
display(non_agency_transactions.head())

Number of transactions not in any agency dataframe: 4606

Sample of transactions not in any agency dataframe:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
75,W202508028627446,CASH_IN,CUSTOMER,,0,NaN,10000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,237674258375,EKOTO ALEX,3452.3,13452.3,SARA_MOBILE,COMPLETED,00:05:40,2025-08-02
76,W202508028627447,CASH_IN,CUSTOMER,,0,NaN,5000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,237677758439,GUY MERLIN KOUAM KAMDEM,280.4,5280.4,SARA_MOBILE,COMPLETED,00:05:53,2025-08-02
77,W202508028627448,CASH_IN,CUSTOMER,,0,NaN,70000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,237673108128,ABIRIBA AMBANI NOELL,357.6,70357.6,SARA_MOBILE,COMPLETED,00:06:42,2025-08-02
78,W202508028627450,CASH_IN,CUSTOMER,,0,NaN,90000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,237655514423,DIDIER STEVE MAH NSANGOU,469.9,90469.9,SARA_MOBILE,COMPLETED,00:07:04,2025-08-02
79,W202508028627451,CASH_IN,CUSTOMER,,0,NaN,30000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,237695756159,KEVIN DONALD NJOCK NGONO,52.6,30052.6,SARA_MOBILE,COMPLETED,00:07:07,2025-08-02

#### Let's see the different agent we are not capturing...

In [55]:
# Get unique sender and receiver names for AGENT transactions not captured by any agency
agent_senders = non_agency_transactions[non_agency_transactions['Type utilisateur transaction'] == 'AGENT']['Nom portefeuille expediteur'].unique()
agent_receivers = non_agency_transactions[non_agency_transactions['Type utilisateur transaction'] == 'AGENT']['Nom portefeuille destinataire'].unique()

print("Unique sender names for AGENT transactions not captured:")
print("-----------------------------------------------------")
for sender in agent_senders:
    print(sender)
    
print("\nUnique receiver names for AGENT transactions not captured:")
print("-------------------------------------------------------") 
for receiver in agent_receivers:
    print(receiver)

Unique sender names for AGENT transactions not captured:
-----------------------------------------------------

Unique receiver names for AGENT transactions not captured:
-------------------------------------------------------

## Donner le type de transaction

In [56]:
def categorize_transactions(df, is_agency_func, super_agent=None):
    """
    Categorizes transactions based on type and participants.
    
    Args:
        df: DataFrame containing transactions
        is_agency_func: Function that takes a name and returns True if it belongs to the agency
        super_agent: Name of the super agent (optional)
        
    Returns:
        DataFrame with categorized transaction types
    """
    # Create a copy of the DataFrame to avoid modifying the original
    df = df.copy()
    
    # Replace CASH_IN and CASH_OUT
    df['Type transaction'] = df['Type transaction'].replace({
        'CASH_IN': 'Approvisionement',
        'CASH_OUT': 'Versement bancaire'
    })

    # Handle WALLET_TO_WALLET cases
    wallet_mask = df['Type transaction'] == 'WALLET_TO_WALLET'

    # Case 1: From agency or super agent to non-agency (Dépot)
    depot_mask = (
        wallet_mask & 
        ((df['Nom portefeuille expediteur'].apply(is_agency_func)) | 
         (df['Nom portefeuille expediteur'] == super_agent)) &
        ~df['Nom portefeuille destinataire'].apply(is_agency_func)
    )
    df.loc[depot_mask, 'Type transaction'] = 'Dépot'

    # Case 2: From non-agency and non-super agent to agency (Retrait)
    retrait_mask = (
        wallet_mask &
        ~df['Nom portefeuille expediteur'].apply(is_agency_func) &
        (df['Nom portefeuille expediteur'] != super_agent) &
        df['Nom portefeuille destinataire'].apply(is_agency_func)
    )
    df.loc[retrait_mask, 'Type transaction'] = 'Retrait'

    # Only apply super agent logic if super_agent is provided
    if super_agent:
        # Case 3: From super agent to its own agency type (Approvisionement)
        appro_mask = (
            wallet_mask &
            (df['Nom portefeuille expediteur'] == super_agent) &
            df['Nom portefeuille destinataire'].apply(is_agency_func)
        )
        df.loc[appro_mask, 'Type transaction'] = 'Approvisionement'

        # Case 4: From agency to its own super agent type (Décharge)
        decharge_mask = (
            wallet_mask &
            df['Nom portefeuille expediteur'].apply(is_agency_func) &
            (df['Nom portefeuille destinataire'] == super_agent)
        )
        df.loc[decharge_mask, 'Type transaction'] = 'Décharge'

    # Handle transactions between different types of agents
    def is_any_agency(name):
        return (is_hop_agency(name) or is_emi_money_agency(name) or 
                is_express_union_agency(name) or is_instant_transfer_agency(name) or
                is_multiservice_agency(name) or is_muffa_agency(name) or 
                is_call_box_agency(name))

    inter_agency_mask = wallet_mask & (
        df['Nom portefeuille expediteur'].apply(is_any_agency) &
        df['Nom portefeuille destinataire'].apply(is_any_agency)
    )
    
    # For these inter-agency transactions, classify based on balance changes
    retrait_by_balance = (
        inter_agency_mask &
        (df['Solde expediteur avant transaction'] > df['Solde expediteur apres transaction'])
    )
    df.loc[retrait_by_balance, 'Type transaction'] = 'Dépot'
    
    depot_by_balance = (
        inter_agency_mask &
        (df['Solde expediteur avant transaction'] < df['Solde expediteur apres transaction'])
    )
    df.loc[depot_by_balance, 'Type transaction'] = 'Retrait'
    
    return df

# Apply categorization to each dataframe separately
hop_transactions_df = categorize_transactions(hop_transactions_df, is_hop_agency, hop_super_agent)
emi_money_transactions_df = categorize_transactions(emi_money_transactions_df, is_emi_money_agency, None)
express_union_transactions_df = categorize_transactions(express_union_transactions_df, is_express_union_agency, express_union_super_agent)
instant_transfer_transactions_df = categorize_transactions(instant_transfer_transactions_df, is_instant_transfer_agency, instant_transfer_super_agent)
multiservice_transactions_df = categorize_transactions(multiservice_transactions_df, is_multiservice_agency, multiservice_super_agent)
muffa_transactions_df = categorize_transactions(muffa_transactions_df, is_muffa_agency, None)
call_box_transactions_df = categorize_transactions(call_box_transactions_df, is_call_box_agency, None)

In [57]:
hop_transactions_df.head()

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
0,W202508028628809,Versement bancaire,AGENT,HOP EVOUDOULAEVOUDOULA,237683758838,401000.0,268500,132500.0,10005-00034-08342241001-25,NTAMBENG COOP CREDIT UNION LTD,0,,NaN,NaN,AGENT_WEB,COMPLETED,07:06:50,2025-08-02
1,W202508028628919,Versement bancaire,AGENT,HOP MAROUA COMICE HOP MAROUA COMICE,237683758995,154000.0,100000,54000.0,10005-00018-08291041051-33,TCHONKOTEU TOUGOUE PAULE,0,,NaN,NaN,AGENT_WEB,COMPLETED,07:17:12,2025-08-02
2,W202508028629689,Versement bancaire,AGENT,HOP OBALAOBALA,237683726821,11000.0,10000,1000.0,10005-00082-09207851101-43,KWAYEP TAYO PAULIVETTE,0,,NaN,NaN,AGENT_WEB,COMPLETED,08:21:28,2025-08-02
5,W202508028630806,Dépot,AGENT,HOP SERVICESARL,237676739074,12272334.0,2000000,10272334.0,,,237683725595,HOP MAYO DARLEYMAYO DARLEY,0.0,2000000.0,AGENT_WEB,COMPLETED,09:43:06,2025-08-02
6,W202508028630836,Dépot,AGENT,HOP SERVICESARL,237676739074,10272334.0,482145,9790189.0,,,237683737235,HOP YAOUNDÉ CARRIERE YAOUNDÉ CARRIERE,0.0,482145.0,AGENT_WEB,COMPLETED,09:44:50,2025-08-02

In [58]:
hop_transactions_df['Type transaction'].value_counts()

Type transaction
Approvisionement      42
Versement bancaire    13
Dépot                 13
Name: count, dtype: int64

In [59]:
express_union_transactions_df['Type transaction'].value_counts()

Type transaction
Versement bancaire    2
Dépot                 1
Name: count, dtype: int64

In [60]:
instant_transfer_transactions_df['Type transaction'].value_counts()

Type transaction
Dépot    2
Name: count, dtype: int64

In [61]:
emi_money_transactions_df['Type transaction'].value_counts()

Series([], Name: count, dtype: int64)

In [62]:
multiservice_transactions_df['Type transaction'].value_counts()

Type transaction
Dépot    1
Name: count, dtype: int64

In [63]:
call_box_transactions_df['Type transaction'].value_counts()

Type transaction
Dépot    1
Name: count, dtype: int64

## Vérifier les cas de Retrait et de Décharge

In [64]:
instant_transfer_transactions_df[instant_transfer_transactions_df['Type transaction'].isin(['Retrait', 'Décharge'])]

Empty DataFrame
Columns: [Reference transaction, Type transaction, Type utilisateur transaction, Nom portefeuille expediteur, Numero porte feuille expediteur, Solde expediteur avant transaction, Montant transaction, Solde expediteur apres transaction, Compte bancaire destinataire, Nom destinataire, Numero porte feuille destinataire, Nom portefeuille destinataire, Solde destinataire avant transaction, Solde destinataire apres transaction, Type canal, Statut transaction, Heure transaction, Date transaction]
Index: []

## Créer les soldes

In [ ]:
def create_solde_columns(df):
    """
    Creates unified agent perspective columns for all agency types.
    Uses the specific agency recognition functions instead of hardcoded lists.
    """
    # Helper function to check if a name belongs to any agency type
    def is_any_agency(name):
        return (is_hop_agency(name) or is_emi_money_agency(name) or 
                is_express_union_agency(name) or is_instant_transfer_agency(name) or
                is_multiservice_agency(name) or is_muffa_agency(name) or 
                is_call_box_agency(name))
    
    # First create annuaire_df with unique Nom/Numero pairs
    expediteur_pairs = df[['Nom portefeuille expediteur', 'Numero porte feuille expediteur']].rename(
        columns={'Nom portefeuille expediteur': 'Nom portefeuille', 
                'Numero porte feuille expediteur': 'Numero portefeuille'}
    )
    destinataire_pairs = df[['Nom portefeuille destinataire', 'Numero porte feuille destinataire']].rename(
        columns={'Nom portefeuille destinataire': 'Nom portefeuille',
                'Numero porte feuille destinataire': 'Numero portefeuille'}
    )
    annuaire_df = pd.concat([expediteur_pairs, destinataire_pairs]).drop_duplicates().dropna()

    # Create annuaire for bank accounts
    bank_annuaire = df[['Nom destinataire', 'Compte bancaire destinataire']].dropna().drop_duplicates()

    # Create new columns
    df['Nom portefeuille'] = None
    df['Numero portefeuille'] = None
    df['Solde avant transaction'] = None
    df['Solde après transaction'] = None
    df['Partenaire transaction'] = None
    df['Numero portefeuille partenaire transaction'] = None
    df['Compte bancaire partenaire'] = None

    # When agent is expediteur (using agency recognition functions)
    expediteur_mask = df['Nom portefeuille expediteur'].apply(is_any_agency)
    df.loc[expediteur_mask, 'Nom portefeuille'] = df.loc[expediteur_mask, 'Nom portefeuille expediteur']
    df.loc[expediteur_mask, 'Numero portefeuille'] = df.loc[expediteur_mask, 'Numero porte feuille expediteur']
    df.loc[expediteur_mask, 'Solde avant transaction'] = df.loc[expediteur_mask, 'Solde expediteur avant transaction']
    df.loc[expediteur_mask, 'Solde après transaction'] = df.loc[expediteur_mask, 'Solde expediteur apres transaction']
    df.loc[expediteur_mask, 'Partenaire transaction'] = df.loc[expediteur_mask, 'Nom portefeuille destinataire']
    df.loc[expediteur_mask, 'Numero portefeuille partenaire transaction'] = df.loc[expediteur_mask, 'Numero porte feuille destinataire']
    
    # Add bank account info when available
    bank_mask = expediteur_mask & df['Compte bancaire destinataire'].notna()
    df.loc[bank_mask, 'Compte bancaire partenaire'] = df.loc[bank_mask, 'Compte bancaire destinataire']
    df.loc[bank_mask, 'Partenaire transaction'] = df.loc[bank_mask, 'Nom destinataire']

    # When agent is destinataire (using agency recognition functions)
    destinataire_mask = df['Nom portefeuille destinataire'].apply(is_any_agency)
    df.loc[destinataire_mask, 'Nom portefeuille'] = df.loc[destinataire_mask, 'Nom portefeuille destinataire']
    df.loc[destinataire_mask, 'Numero portefeuille'] = df.loc[destinataire_mask, 'Numero porte feuille destinataire']
    df.loc[destinataire_mask, 'Solde avant transaction'] = df.loc[destinataire_mask, 'Solde destinataire avant transaction']
    df.loc[destinataire_mask, 'Solde après transaction'] = df.loc[destinataire_mask, 'Solde destinataire apres transaction']
    df.loc[destinataire_mask, 'Partenaire transaction'] = df.loc[destinataire_mask, 'Nom portefeuille expediteur']
    df.loc[destinataire_mask, 'Numero portefeuille partenaire transaction'] = df.loc[destinataire_mask, 'Numero porte feuille expediteur']

    # Sort by Nom portefeuille and Date/Heure to see progression
    df = df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])

    # Drop old columns
    columns_to_drop = ['Nom portefeuille expediteur', 'Nom portefeuille destinataire',
                      'Solde expediteur avant transaction', 'Solde expediteur apres transaction', 
                      'Solde destinataire avant transaction', 'Solde destinataire apres transaction',
                      'Numero porte feuille expediteur', 'Numero porte feuille destinataire',
                      'Compte bancaire destinataire', 'Nom destinataire']
    df = df.drop(columns=columns_to_drop)

    return df, annuaire_df, bank_annuaire

# Apply the updated function to all agency dataframes
hop_df, hop_annuaire, hop_bank_annuaire = create_solde_columns(hop_transactions_df)
express_union_df, express_union_annuaire, express_union_bank_annuaire = create_solde_columns(express_union_transactions_df)
emi_money_df, emi_money_annuaire, emi_money_bank_annuaire = create_solde_columns(emi_money_transactions_df)
instant_transfer_df, instant_transfer_annuaire, instant_transfer_bank_annuaire = create_solde_columns(instant_transfer_transactions_df)
multiservice_df, multiservice_annuaire, multiservice_bank_annuaire = create_solde_columns(multiservice_transactions_df)
muffa_df, muffa_annuaire, muffa_bank_annuaire = create_solde_columns(muffa_transactions_df)
call_box_df, call_box_annuaire, call_box_bank_annuaire = create_solde_columns(call_box_transactions_df)

# Display results for verification
print("HOP dataframe:")
hop_df.head()
print("\nExpress Union dataframe:")
express_union_df.head()
print("\nEMI Money dataframe:")
emi_money_df.head()

In [ ]:
express_union_df.head()

In [ ]:
emi_money_df.head()

In [ ]:
instant_transfer_df.head()

In [ ]:
instant_transfer_df[instant_transfer_df["Type transaction"] == "Retrait"]

In [ ]:
instant_transfer_df[instant_transfer_df["Nom portefeuille"] == "IT ACACIA YAOUNDE"].head(20)

In [ ]:
instant_transfer_transactions_df[instant_transfer_transactions_df['Type transaction'] == 'Retrait'].head()

In [ ]:
multiservice_df.head()

In [ ]:
muffa_df.head()

In [ ]:
call_box_df.head()

In [ ]:
hop_transactions_df['Solde avant transaction'].isnull().sum(), hop_transactions_df['Solde après transaction'].isnull().sum()

In [ ]:
express_union_transactions_df['Solde avant transaction'].isnull().sum(), express_union_transactions_df['Solde après transaction'].isnull().sum()

In [ ]:
hop_df.columns

In [74]:
# Reorder columns
columns_order = ['Date transaction', 'Heure transaction', 'Reference transaction', 
                'Type transaction', 'Type utilisateur transaction', 'Nom portefeuille', 
                'Numero portefeuille', 'Solde avant transaction', 'Montant transaction',
                'Solde après transaction', 'Partenaire transaction',
                'Numero portefeuille partenaire transaction', 'Compte bancaire partenaire',
                'Type canal', 'Statut transaction']

hop_df = hop_df[columns_order]
express_union_df = express_union_df[columns_order]
instant_transfer_df = instant_transfer_df[columns_order]
emi_money_df = emi_money_df[columns_order]
multiservice_df = multiservice_df[columns_order]
muffa_df = muffa_df[columns_order]
call_box_df = call_box_df[columns_order]

In [ ]:
hop_df.head()

In [ ]:
express_union_df.head()

In [ ]:
hop_df['Type transaction'].value_counts()

In [ ]:
hop_df['Type utilisateur transaction'].value_counts()

In [ ]:
express_union_df['Type utilisateur transaction'].value_counts()

In [ ]:
express_union_df['Type transaction'].value_counts()

In [ ]:
express_union_df.head()

In [82]:
# Sort both dataframes by date and time
hop_df = hop_df.sort_values(['Date transaction', 'Heure transaction'])
express_union_df = express_union_df.sort_values(['Date transaction', 'Heure transaction'])
instant_transfer_df = instant_transfer_df.sort_values(['Date transaction', 'Heure transaction'])
emi_money_df = emi_money_df.sort_values(['Date transaction', 'Heure transaction'])
multiservice_df = multiservice_df.sort_values(['Date transaction', 'Heure transaction'])
muffa_df = muffa_df.sort_values(['Date transaction', 'Heure transaction'])
call_box_df = call_box_df.sort_values(['Date transaction', 'Heure transaction'])

In [83]:
# Sort both dataframes by expediteur name, date and time
hop_df = hop_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])
express_union_df = express_union_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])
instant_transfer_df = instant_transfer_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])
emi_money_df = emi_money_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])
multiservice_df = multiservice_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])
muffa_df = muffa_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])
call_box_df = call_box_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])

In [ ]:
hop_df.head(20)

In [85]:
hop_df.to_excel('transactions_hop_service_1_31_07_2025.xlsx')
express_union_df.to_excel('transactions_express_union_1_31_07_2025.xlsx')
instant_transfer_df.to_excel('transactions_instant_transfer_1_31_07_2025.xlsx')
emi_money_df.to_excel('transactions_emi_money_1_31_07_2025.xlsx')
multiservice_df.to_excel('transactions_multiservice_1_31_07_2025.xlsx')
muffa_df.to_excel('transactions_muffa_1_31_07_2025.xlsx')
call_box_df.to_excel('transactions_call_box_1_31_07_2025.xlsx')