In [1]:
import numpy as np
import pandas as pd
import openpyxl

## Load Data

In [2]:
transactions_agent_df = pd.read_excel('test_agent.xlsx', header = 1, engine='openpyxl')
transactions_customer_df = pd.read_excel('test_customer.xlsx', header = 3,  engine = 'openpyxl')

/home/maxtheking/anaconda3/envs/cuda_env/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/maxtheking/anaconda3/envs/cuda_env/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
transactions_customer_df.head()

,Unnamed: 0,Date heure,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction
0,NaN,2025-07-01 00:00:40,W202507018127614,CASH_OUT,CUSTOMER,BRICE TCHINGANG NGANDO,2.376927e+11,500000.0,500000,0.0,10005-00024-10326501051-27,TCHINGANG NGANDO BRICE DUCLAIR,NaN,NaN,NaN,NaN,SARA_MOBILE,COMPLETED
1,NaN,2025-07-01 00:03:10,W202507018127619,CASH_OUT,CUSTOMER,DZANGUE SONNA BRICE GUENOLE,2.376913e+11,247342.5,240000,7342.5,10005-00064-06729201101-56,DZANGUE SONNA BRICE GUENOLE,NaN,NaN,NaN,NaN,SARA_MOBILE,COMPLETED
2,NaN,2025-07-01 00:03:12,W202507018127620,CASH_IN,CUSTOMER,NaN,NaN,NaN,500000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376584e+11,SIDONIE NGONO EKANI,0.0,500000.0,SARA_MOBILE,COMPLETED
3,NaN,2025-07-01 00:04:22,W202507018127621,CASH_OUT,CUSTOMER,SIDONIE NGONO EKANI,2.376584e+11,500000.0,500000,0.0,10005-00075-10105991051-29,NGONO EKANI SIDONIE,NaN,NaN,NaN,NaN,SARA_MOBILE,COMPLETED
4,NaN,2025-07-01 00:06:16,W202507018127622,CASH_IN,CUSTOMER,NaN,NaN,NaN,14200,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376944e+11,URBAIN OWOUTOU MBITA,87.8,14287.8,SARA_MOBILE,COMPLETED

In [4]:
transactions_agent_df.head()

,Unnamed: 0,Date heure,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction
0,NaN,2025-07-01 11:02:59,W202507018128130,WALLET_TO_WALLET,AGENT,IT BALI,2.376800e+11,1824323.0,130000,1694323.0,NaN,NaN,2.376785e+11,BINTOU NGOUNGOURE MVUH,15053.1,145053.1,AGENT_WEB,COMPLETED
1,NaN,2025-07-01 11:33:25,W202507018129072,CASH_OUT,AGENT,EU FOUMBAN FOYERFOUMBAN FOYER,2.376837e+11,711800.0,700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGENT_WEB,INITIATED
2,NaN,2025-07-01 11:41:35,W202507018129318,CASH_OUT,AGENT,EU FOUMBAN FOYERFOUMBAN FOYER,2.376837e+11,711800.0,700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGENT_WEB,INITIATED
3,NaN,2025-07-01 11:42:01,W202507018129326,CASH_OUT,AGENT,EU FOUMBAN FOYERFOUMBAN FOYER,2.376837e+11,711800.0,700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGENT_WEB,INITIATED
4,NaN,2025-07-01 11:48:23,W202507018129538,CASH_OUT,AGENT,EU FOUMBAN FOYERFOUMBAN FOYER,2.376837e+11,711800.0,700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGENT_WEB,INITIATED

#### Dropping Unnamed:0 column...

In [5]:
transactions_agent_df.drop('Unnamed: 0', axis = 1, inplace = True)
transactions_customer_df.drop('Unnamed: 0', axis = 1, inplace = True)

In [6]:
transactions_agent_df.shape, transactions_customer_df.shape

((1364, 17), (5000, 17))

In [7]:
transactions_agent_df.head()

,Date heure,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction
0,2025-07-01 11:02:59,W202507018128130,WALLET_TO_WALLET,AGENT,IT BALI,2.376800e+11,1824323.0,130000,1694323.0,NaN,NaN,2.376785e+11,BINTOU NGOUNGOURE MVUH,15053.1,145053.1,AGENT_WEB,COMPLETED
1,2025-07-01 11:33:25,W202507018129072,CASH_OUT,AGENT,EU FOUMBAN FOYERFOUMBAN FOYER,2.376837e+11,711800.0,700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGENT_WEB,INITIATED
2,2025-07-01 11:41:35,W202507018129318,CASH_OUT,AGENT,EU FOUMBAN FOYERFOUMBAN FOYER,2.376837e+11,711800.0,700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGENT_WEB,INITIATED
3,2025-07-01 11:42:01,W202507018129326,CASH_OUT,AGENT,EU FOUMBAN FOYERFOUMBAN FOYER,2.376837e+11,711800.0,700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGENT_WEB,INITIATED
4,2025-07-01 11:48:23,W202507018129538,CASH_OUT,AGENT,EU FOUMBAN FOYERFOUMBAN FOYER,2.376837e+11,711800.0,700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGENT_WEB,INITIATED

In [8]:
transactions_customer_df.head()

,Date heure,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction
0,2025-07-01 00:00:40,W202507018127614,CASH_OUT,CUSTOMER,BRICE TCHINGANG NGANDO,2.376927e+11,500000.0,500000,0.0,10005-00024-10326501051-27,TCHINGANG NGANDO BRICE DUCLAIR,NaN,NaN,NaN,NaN,SARA_MOBILE,COMPLETED
1,2025-07-01 00:03:10,W202507018127619,CASH_OUT,CUSTOMER,DZANGUE SONNA BRICE GUENOLE,2.376913e+11,247342.5,240000,7342.5,10005-00064-06729201101-56,DZANGUE SONNA BRICE GUENOLE,NaN,NaN,NaN,NaN,SARA_MOBILE,COMPLETED
2,2025-07-01 00:03:12,W202507018127620,CASH_IN,CUSTOMER,NaN,NaN,NaN,500000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376584e+11,SIDONIE NGONO EKANI,0.0,500000.0,SARA_MOBILE,COMPLETED
3,2025-07-01 00:04:22,W202507018127621,CASH_OUT,CUSTOMER,SIDONIE NGONO EKANI,2.376584e+11,500000.0,500000,0.0,10005-00075-10105991051-29,NGONO EKANI SIDONIE,NaN,NaN,NaN,NaN,SARA_MOBILE,COMPLETED
4,2025-07-01 00:06:16,W202507018127622,CASH_IN,CUSTOMER,NaN,NaN,NaN,14200,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376944e+11,URBAIN OWOUTOU MBITA,87.8,14287.8,SARA_MOBILE,COMPLETED

#### Taking only successful transactions...

In [9]:
transactions_agent_df = transactions_agent_df[transactions_agent_df['Statut transaction'] == "COMPLETED"]
transactions_customer_df = transactions_customer_df[transactions_customer_df['Statut transaction'] == "COMPLETED"]

#### Let's see the new shape...

In [10]:
transactions_agent_df.shape, transactions_customer_df.shape

((1340, 17), (4892, 17))

### Combinons les dataframes...

In [11]:
# Concatenate both dataframes into a single transactions dataframe
transactions_df = pd.concat([transactions_agent_df, transactions_customer_df], ignore_index=True)

#### Vérifions la fusion...

In [12]:
transactions_df.shape

(6232, 17)

In [13]:
transactions_df['Type utilisateur transaction'].value_counts()

Type utilisateur transaction
CUSTOMER    4892
AGENT       1340
Name: count, dtype: int64

In [14]:
transactions_df["Type transaction"].value_counts()

Type transaction
CASH_IN             4565
WALLET_TO_WALLET    1028
CASH_OUT             639
Name: count, dtype: int64

On a bien les types d'utilisateur transaction désirés (CUSTOMER, AGENT) et le type de transaction (CASH_IN, WALLET_TO_WALLET, CASH_OUT)

#### Création des colonnes Date et Heure de transaction

In [15]:

#Créer colonne date, et colonne heure
transactions_df['Heure transaction'] = pd.to_datetime(transactions_df['Date heure']).dt.time
transactions_df['Date transaction'] = pd.to_datetime(transactions_df['Date heure']).dt.date
transactions_df.drop(['Date heure'], axis=1, inplace=True)


#Numéro portefeuille destinataire 
transactions_df['Numero porte feuille expediteur'] = transactions_df['Numero porte feuille expediteur'].fillna(0).astype(int).astype(str)
#Numéro portefeuille
transactions_df['Numero porte feuille destinataire'] = transactions_df['Numero porte feuille destinataire'].fillna(0).astype(int).astype(str)

In [16]:
transactions_df[transactions_df['Type utilisateur transaction'] == 'CUSTOMER']['Nom destinataire'].value_counts()

Nom destinataire
DAP MONNAIE ELECTRONIQUE          4352
TCHINGANG NGANDO BRICE DUCLAIR       3
NGANTCHUA NZEPAN MARIE               3
NGO NGUE NDJICKI MARIE THERESE       3
DAMBA BADIA ARMAN                    3
                                  ...
FOUODJI DEDZO FRANCISQUE             1
MEMPANG JUVENAL JUSTO                1
FATCHA WOUANSI DELICE DERMAEL        1
ZUTCHI MOUMI NEILL JOSELYN           1
DJUIGNE CARINE                       1
Name: count, Length: 357, dtype: int64

In [17]:
transactions_df[transactions_df['Type utilisateur transaction'] == 'CUSTOMER']['Nom portefeuille destinataire'].value_counts()

Nom portefeuille destinataire
JANGI DRL                         17
GARGA SOUAIBOU GARGA SOUAIBOU      9
MIAKWANG CEDRIC                    9
KEVIN DONALD NJOCK NGONO           7
TAMNJONG MANGEH ND                 6
                                  ..
LAURELLE GUEMKAM MABOU             1
EVELYNE SOLANGE NGASSA LEKOA       1
MAKASSO ISABELLE REINE             1
OLIVE DANIELLE MOUGNOL ASSOUGA     1
DURANT JUNIOR TOUFEU MOUTIEU       1
Name: count, Length: 3456, dtype: int64

Les opérations effectuées par les CUSTOMER ont pour principale destinataire (cas de versement) le **DAP MONNAIE ELECTRONIQUE**, et pour principale portefeuille destinataire **JANGI DRL**

## Obtenir les differents point de services de chaque distributeur

In [18]:
transactions_df['Nom portefeuille expediteur'].unique()

array([' IT BALI ', ' HOP ESEKA 2ESEKA 2', ' Sarl Emi money Universel',
       ' SarlEmi money ndere petit marche', ' EU TouboroTouboro ',
       ' IT NDOGBONG ', ' IT ACACIA YAOUNDE',
       ' EU FOUMBAN FOYERFOUMBAN FOYER', ' MS MULTISERVICES02',
       ' MULTI-SERVICE SARL', ' IT SOA',
       ' HOP BANGANGTE lllBANGANGTE III', ' IT ESSOS',
       ' HOP DOUMEHOP DOUME', ' EU eseka 1Eseka1', ' IT MVAN',
       ' IT MELEN', ' IT HIPPODROME ', ' EXPRESS UNIONSA',
       ' IT MADAGASCAR', ' HOP BAFOUSSAM AVENUE WANKO',
       ' Saka Patrick Arsène ', ' CB MOHAMADOUABDOUL',
       ' IT CITE DES PALMIERS ',
       ' HOP NKONGSAMBA PHARMACIE HOP NKONGSAMBA PHARMACIE ',
       ' EU DLA BONANJO TRESOREU DLA BONANJO TRESOR', ' IT MESSA ',
       ' IT NSIMEYONG ', ' CB ALLANFEZE', ' CB TCHOUKEULENY FRANCIS',
       ' SarlEmi money Guider', ' EU KYE OSSI 3KYE OSSI 3 ',
       ' INSTANTTRANSFER SARL', ' HOP MAGAHOP MAGA',
       ' HOP GUIDIGUISHOP GUIDIGUIS', ' EU DJOUMDJOUM',
       ' EU BANDJOUN EUSABANDJOUN EUSA ', ' EU TibatiTibati',
       ' IT DIRECTION GENERALE NKOLFOULOU', ' EU YDE OMNISPORTOMNISPORT',
       ' HOP SERVICESARL', ' HOP MBOUMNYEBELMBOUMNYEBEL', ' IT KYE-OSSI ',
       ' HOP YDE NKOZOA NKOZOA', ' IT NKOLBISSON ',
       ' EU BLA BLVD LIBERTEEU BLA BLVD LIBERTE',
       ' NADIA AMADOUNADIA AMADOU', ' MS MULTISERVICES09SARL',
       ' Emi money baf marche BSarl', ' SarlEmi money Nkongsamba',
       ' EU NTUINTUI', ' IT SANTA BARBARA',
       ' EU BAFOUSSAM KAMKOPBAFOUSSAM KAMKOP', ' IT DEIDO',
       ' EMI MONEY SARL', ' HOP MONTEE JOUVENCEMONTEE JOUVENCE',
       ' IT LOGPOM', ' IT EKOUNOU', ' SarlEmi money mokolo bata',
       ' EU TIKOTIKO', ' IT ETOUDI ', nan,
       ' EU ABONG MBANG 1EU ABONG MBANG 1', ' HOP BOTMAKAKBOTMAKAK',
       ' IT OYOM ABANG PASSERELLE ', ' IT BAFOUSSAM ',
       ' MS MULTISERVICES07SARL', ' MS HALGED TELECOM04SARL',
       ' HOP BERTOUA GAREHOP BERTOUA GARE', ' IT AKWA LIBERTE ',
       ' IT EMANA', ' IT MENDONG ', ' IT CAMP YABASSI', ' EU WardaWarda',
       ' EU DLA BONABERI NDOBO IIEU DLA BONABERI NDOBO II',
       ' HOP BANSOA CHEFFERIEBANSOA CHEFFERIE', ' IT NDOKOTI ',
       ' Agent Joelle', ' DRB-MASTER AGENTDRB', ' SarlEmi money Meiganga',
       ' SarlEmi money ebolowa', ' SarlEmi money mbalmayo 2',
       ' SarlEmi money marche central', ' EU MBANGAEU MBANGA',
       ' CyrilCyril', ' CB DONFACKERIC', ' EU EBOLOWA 6EBOLOWA 6 ',
       ' EU DLA BJO CRTV IIEU DLA BJO CRTV II', ' SarlEmi money mora',
       ' Emi money baf wankoSarl', ' HOP FIGUILHOP FIGUIL',
       ' HOP NKOMETOUNKOMETOU', ' HOP POLIHOP POLI',
       ' SarlEmi money kiosque bastos',
       ' EU GAROUA BOULAI 3EU GAROUA BOULAI 3', ' SarlEmi money tignere',
       ' IT BAYANGAM 2CB IT BAYANGAM 2', ' SarlEmi money BAF TOTAL',
       ' SarlEmi money Akonolinga', ' HOP DEIDO MARCHE HOP DEIDO MARCHE ',
       ' MUFFA BAFOUSSAM 2KAMKOP', ' DTN NANGA NANGA JUNIORHOP SIEGE DCM',
       ' SarlEmi money koutaba', ' SarlEmi money melen',
       ' Emi money foumbanSarl', ' SarlEmi money INJS',
       ' MUFFA YAOUNDE BIYEM-ASSI', ' SarlEmi money Ekounou',
       ' MUFFA MOKOLOMUFFA MOKOLO', ' HOP MBANDJOCKMBANDJOCK',
       ' HOP YAOUNDÉ OLEMBEOLEMBE', ' EMI MONEY MAROUA MARCHEEMI MONEY',
       ' HOP YOKADOUMA 1HOP YOKADOUMA 1', ' Sarl Emi money Nsam',
       ' MUFFA BAFOUSSAM', ' HOP DLA PK 15HOP DLA PK 15',
       ' MS MULTISERVICES04SARL', ' SarlEmi money mokolo EN',
       ' Emi money mbouda 2Sarl', ' HOP OBALAOBALA',
       ' HOP EVOUDOULAEVOUDOULA', ' MUFFA KYE OSSI',
       ' MUFFA YAOUNDE NKOMKANA',
       ' EU DLA  NDOGBONG IIIEU DLA  NDOGBONG III',
       ' SarlEmi money yagoua', ' HOP MVOG BETSIMVOG BETSI',
       ' SarlEmi money mvan', ' HOP NJOMBEHOP NJOMBE',
       ' HOP BAFOUSSAM CHEFFERIECHEFFERIE', ' JULLY SA',
       ' EU MESSAMEDONGOMESSAMEDONGO', ' HOP NGAOUIHOP NGAOUI',
       ' SarlEmi money balmari', ' SarlEmi money garoua impots',
       ' FINANCIAL STARCAMEROUN SA',
       ' CB NKWENSHWA BRANDONTCB NKWENSHWA BRANDONT', ' CB JOUELWAMBA',
       ' SarlEmi money Mendong', ' EU NGOUSSONGOUSSO ',
       ' CB GERTRUDEDJIPIE FOTSO', ' SarlEmi money Acacias',
       ' SarlEmi money Ngong', ' ALBINEHOP', ' HOP TIGNERE HOP TIGNERE',
       ' EU FOUMBAN CENTRE FOUMBAN CENTRE ', ' CB GRACEKEMPSEU',
       ' MIRIANETIOMELA', ' CB AUDREY FONKOU', ' CB MAYO ANNIE ',
       ' SarlEmi money  touboro', ' HOPENONDJOH', ' CB TAYUAR MERLIN',
       ' HOP NDERE GARE 2HOP NDERE GARE 2', ' CB HENRIETTEKEUYA',
       ' EMI MONEY NGAOUNDERE TONGOEMI MONEY', ' HOP FOUMBOT 2FOUMBOT 2',
       ' CB TCHAGANG FLORENTINE', 'BRICE TCHINGANG NGANDO',
       'DZANGUE SONNA BRICE GUENOLE', 'SIDONIE NGONO EKANI',
       'TAGATUE BAYOM JULIENNE', 'ADJIA AIME', 'BOUBA  OUYAK PND',
       'JOEL JORES DONGMO DIFFO', 'ANNA NGUED VALERIE',
       'MOHAMADOU SALIHOU', 'HAMATOUKOUR BOUBA',
       'OLIVIER BEKOMBO MEIGALI', 'ENOW ROBINSON ASHU',
       'NGO MBAKWO CLAIRE GERALDINE', 'BLANCHE INES ASSEMBE',
       'JURVET OTUM ATAMA', 'NGANKAM AMELIE', 'JACQUELINE MPONGO SILANOU',
       "RICHELLE NGU'BISSI KAMGUE", 'IVAN STEVE NANKEP YEPMOU',
       'LOMRAINE NKOTH BILLONG', 'MOGTA TEITSA NESTOR DEJOLI',
       'ND MOUSSA NASSOUROU', 'ERIC TAMO FOTSO', 'BRUCE ANJI ANGACHIA',
       'BEN FOTSO KAMGA', 'KENDZO DONSOP ARNAUD', 'DAOUDA MOUSSA',
       'EUGENIE EMADE NJUME', 'LAURENT-FABRICE AMBASSA',
       'SADICK MOHAMMADOU SAOUDI', 'KAMDEM FAHA IDRIC KEVIN',
       'THIERRY HANS DJOTI II', 'NDAM ETAME HERVE JOEL',
       'KENMOGNE JEAN CLAUDE', 'Nadia Amadou', 'LEONCE DEUMO DEUMO',
       'BELISE LAURA KAMENI', 'TCHANA YONDEU YANNICK', 'ABDOULAYE MUSA',
       'IBRAHIM ADAM', 'DERRICK SAMUEL ETUK ZE', 'ROGER AWOLA',
       'MICHEL BINDZI ATANGANA', 'LABO FOKAM YVES BERTRAND',
       'AZIMUT GLOBAL (ETS) AZIMUT GLOBAL (ETS)',
       'MOHAMADOU SALISSOU MOTTI', 'NICOLE DONCHI DONDJIO',
       'Judicaël Lambert MEZATIO', 'SOULEYMANOU SALI', 'SIME MARY',
       'NLET MAEVA', 'KENMEUGNE KAMDEM SANDRINE', 'SEVERIN DYLAN SEGUE',
       'MAYACK II MARCEL', 'KOMBOUS BATJON JOSEPH EMERY',
       'MARILYNE EFFILA EBELA', 'ACHA NGOH JACKSON',
       'ND DEKENE DA AGOONS', 'NOUSSI SERGE', 'SOMON DIBONGO EDGARD',
       'YOMENI FLAVIEN', 'NGONO MARC BESSALA',
       'PRICILLE MAYLIS EKOKO DJEMBA', 'TSOLEFACK ANASTASIE',
       'KENANG GWENET FLORETTE', 'AMBRAMI CYRILLE',
       'MYTHEROL FRANCIOLI MAFFO', 'ABDEL AZIZ LITA POLA',
       'LINDA KEYANFE', 'WILFRIED KAMMOGNE FONING', 'SAMUEL DIMITE',
       'karlos renaud mezatio', 'NDJOCK DENIS',
       'MOHAMADOU AMINOU OUSMANOU', 'LANDRY PATRICK EYAMA ETOUKE',
       'VALERY ACHU FORBUZO', 'FABRICE NDASSI KAMKUIMO',
       'YVRONG NANDJOU CHWANKAM', 'ZONG EVEREST CHI',
       'ENOKENWA BESONG NKONGHOTABI ND', 'Linda Nouemo Tchumnue',
       'DAMBA BADIA ARMAN ND', 'TCHOUMTCHOUA TIAMGNI CLOVIS',
       'DAINA MERVEILLE KENGNE TOUKAM', 'AKAME MOISE', 'DIN AURIOL',
       'ODETTE MIH NJUA', 'MOHAMED MOURTHALA', 'SONGWA FUEPI JUDE',
       'DIODONEL ASSAH NDANG', 'CELINE NGO MOULEN BABABA',
       'SANDRINE LAURE NGAMBA', 'Félix Ebia', 'LILIANE LUTRESS ELOUNDOU',
       'CRESENCE VANESSA ATSAMA ATANGANA', 'MINKONGO MINKONGO CYRILLE',
       'AUGUSTIN BIKOI BATIND', 'NDE DATCHOUA GUY ROBERT',
       'ODILE MANTO YEMELONG', 'Annie tonga tonga',
       'FLORIAN OWONA MENDOUGA', 'SIGNE ERNEST PAULIN',
       'MARIE THERESE NGO NGUE NDJICKI', 'TCHIKOU NANA ARNAUD',
       'SONIA FLORE NANTCHOUAM VANDJI', 'PND OUMAROU KOUE',
       'ROGER NICK LOIC EBENGUE', 'JEAN FRANKY SOH FOTSING',
       'IBRAHIM ABBA', 'JUSLENE NEKENA NJIENI', 'NGANTCHUA NZEPAN MARIE',
       'MBEZELE TSOUNGUI ADELE ESTHER', 'YOLENE MANUELA LONTCHI',
       'NDUM COMFORT', 'Temma Berry Samgwa', 'Immaculate Bi ambe',
       'TCHIDJE TINKO ALICE', 'SEN LESLY FORTUNA', 'AL THANI CHEIKH ISSA',
       'TCHAKOTE ELISE', 'Tchouya Ringo Thomas',
       'Belmondo Njamnyeh Jengop ', 'KEUKAH RUTH',
       'EDJONGO NGONO ORNELLA SANDRA', 'VALDES DONGMO GUEFACK',
       'MARIUS AUBIN TIMAMO NKANDA', 'Oumarou Bouba Oumarou',
       'TCHATCHOUANG NGAGOM OLIN', 'Abel Bruno AKONO MVONDO',
       'LUDOVIC PASCAL LONTCHI MOTSOU', 'NZUGUEM FOUNAYA GUY ALAIN NOEL',
       'ND KANAI RENE', 'JULIO TADONTSA ASSONZAP', 'PRAKASSOU KOUDOU ND',
       'NEBA SHU BLESS', 'BLAISE OHO EYOUNGOU',
       'Reine Makrita Evelyne Nkondjock',
       'MEHONI BIOUM CHRISTINE PASCALINE', 'CHO AKWAN JOCELYN',
       'ND MAHAMAT NOUR MANA', 'PEREVET SAWALDA VICTORIEN',
       'KEVIN METCHEUKA TAKEM', 'JOSIANE TCHAMO TCHASSEM',
       'TAKAM TCHUDJEU EVARISTE', 'NYAT NDJAYO CHEVALIER',
       'Laba Juliette lumsi', 'ASSIALOU CHARLES',
       'YANNICK MICHEL NEMATCHOUA YANGOUE', 'Fabiola Armelle TANKOU',
       'NJIKE NEMBO FRANCIS', 'KENFACK ASSONFACK SEGUI PATRICE',
       'SEPHORA MEDIE FOUAGOU', 'LADI MADELEINE',
       'Gervais Arlette HEUMOU MBINYA', 'MAHMOUDOU ABOUBAKAR',
       'Fokam FOSSUO URSILE STÉPHANIE', 'BILA SADRAK PND',
       'YERIMO THIERRY', 'DARCY FINJAP LOH', 'GUEMDJO GERALDINE',
       'BORIS MBA NDE', 'IMAD HARKA DJINGUI', 'ATONTSA NGUETSOP ISMAEL',
       'FRANÇOIS NARCISSE KOUM DIBONGUE', 'MAHAMAT AMINE PND',
       'NYIDJINA AYOCK TRIPHOSE', 'BOUE ZOMIDIOM PANGOP DONA',
       'Mathieu Tendonge', 'Marguerite Nnanga Dang',
       'NEILL JOSELYN ZUTCHI MOUMI', 'DELICE DERMAEL FATCHA WOUANSI',
       'JUVENAL MEMPANG', 'FOUODJI DEDZO FRANCISQUE', 'ESTHER ZANGUE',
       'TONGA DESIREE SYLVIE', 'LEONARD NANGA NGA',
       'GUEDJIO NANFAC GIRES', 'HUYGHENS BATOUM NYOBE', 'Yelena Akouma',
       'NOUBOU PATRICE HERVE', 'STEPHANE TABANGUENA ATEFACK',
       'FONJAINI ROSETTE BONGNAVTI', 'EBOUA EPANE Osée',
       'NOUTAP NGOPNANG JOSEPH', 'ONGOLO MAYAM CYRILLE PIERRE',
       'BENOIT NOUTCHIYI', 'LIONEL AMBOMBO  BILOA', 'BOPDA LELE THIERRY',
       'MBA GADOUM AXEL', 'JEAN CARLOS WATE',
       'TCHINDA FOFOU BERNIS JOELLE', 'MUITIOUMBEL YANNICK WILLIE',
       'FEUKAM FEUKOUO GUY LAROCHE', 'OUTICLISSOU RONY PATRICK',
       'TCHENWOUO KWEKAP DOMINIQUE', 'WANDJI GARRINGO FRANK LEBLOND',
       'MENDOUGA ALIMA BERTHE CLARA', 'SOH FONKOU PATRICK',
       'KAMENI TIEMANI ELISA FLORE', 'TEGUIA TCHATCHOUANG SERGE ELYSEE',
       'NTI ABENELANG SAM', 'RHONYL DURACELL TEMGOUA DONGMO',
       'AHMED KOTOKO ABAME ALIFA', 'CHRISTIAN DJIMELI KAFO',
       'OKALA ANATOLE SERGE MEDARD', 'TIOMELA NZOYEM MIRIANE',
       'RAPHAEL NLEND PAGAL', 'NJIAH MARTIN JOEL TCHOUMKEU',
       'CHEMOE MBONG MAURICE', 'CLEARCLOVE BEFEH NDZI',
       'ISSAKA HAMAMAOUDE', 'HYACINTHE DJANAN', 'MIRABEAU NKWIDJEU',
       'ARISTIDE AIME TCHANTCHOU', 'NTCHUINTOUO NGUEMANG WILLIAMS BLAISE',
       'TAWUFFE METSAR JEAN-BAPTISTE', 'CONSTANCE NANGAH',
       'GIOVANI NGUNI ATABONG', 'SIEWE METCHOMGANG YDE',
       'YONGWA DTISSIBE FRANCIS', 'MFOTIE ASKANDA IDRISSOU',
       'NINGA KOMBELE AIME', 'EKEM VICTORINE AYAMBA',
       'JORDAN WILFRIED NOUMOUE', 'PADY NDE', 'MEBOMA ALFRED SATURNIN',
       'ADAMOU MAMOUDOU', 'BALLA MBIDA ANDRE RICHARD',
       'GUAZONG FOUJIO ALVINE', 'KHADIDJA ABACAR LAOUANE',
       'GERARD NGUEME TSIMI', 'MEBADA EKANI BARNABE YANNICK',
       'THADEE WIDAI', 'OKONGTON ENONBONG EMMANUEL ARMEL',
       'ND NGOE URSLA LOKENYE', 'BAKAMBEU ANNIE', 'SIANI AIME BERTRAND',
       'YOUMBI NGWONGO FRANCKLIN YVAN LOIC', 'TAKEUDEU SINDEU MARTIAL',
       'TCHAKOUNTE DAZOUE MARTIAL', 'KOLMOSSE LEON',
       'DONKEU NZONTEU FERRY CANNEL', 'GAEL BOUGHA',
       'NDENGE GERARD ATUMU', 'TAKOUGOUG KAMEDA GERMAIN', 'NDJIDDA TOM',
       'MYLENE TSAWO', 'TONYE CAREL EMMANUEL', 'MEGAPTCHE TOUKAP ROSIANE',
       'Yannick Denis NJIKI NADJIE', 'EFOMBAGNE AUBIN',
       'KENNE TAKALA BRICE', 'TANG BAYIHA JEAN',
       'HAMAN ADAMA DAOUD MOUSTAFA', 'TAMANDJO WANDJI PAULE',
       'ALAIN FEUTSEU', 'CHEDJOU RICHARD',
       'DEILA DORGELESS TIEMGNI MELENDAN',
       'ANAEL WILFRID JELIEL EBOKOLLO MOUNGOLE',
       'MOHAMED SANI CHOUDJI NSANGOU', 'BENOIT RODRIGUE MBARGA',
       'BALKOULGA FLORENT', 'POUTH PAUL ELYSEE',
       'FOMEKONG TSAYO CHRIST MAEL', 'TADOMKAM Alida Larissa',
       'ZIKIFILOU MOUNTAPMBEME  GBATOU', 'LAETITIA TIEYAM CHUEDO',
       'CYRILLE MARCEL KINGUE EBONGUE', 'MOUDOUMBOU SOUGA THOMAS JAMES',
       'KIDJOWO OUSMAILA AKILOU', 'ABANDA GEORGES JUNIOR',
       'PIDDY JEAN MARIE ADJABA', 'AKAMI MAZARIN',
       'JULES MARTIAL FOFOU DJONTU', 'MEGAPTCHE LINDA',
       'FOGAING CHRISTIAN', 'KOUAM MEYRAND ARMEL',
       'CHAMGA NKOUETCHEU GHISLAINE', 'FOTSO PEKAM SERGIO',
       'THERESA WINKAR NGEK', 'DJOUMO JUDES', 'NGACKOU MENFO SANPENSADOR',
       'MELI JOEL DAMIEN', 'NGOUFACK TIWA', 'KAMKUIMO DAVE',
       'FOKOU KOSSOC YANNICK', 'Mirianne Diane KAPCHE FOTSO',
       'DORCAS REBECCA LIKEBLA', 'BRICE FREDY NGA EDZANA',
       'NGO MATIP DEMINYA BERNADETTE', 'SOULEYMANOU AMINOU',
       'STEPHANE LANDRY KENGNI', 'MARTIN JONATHAN BASSINGHA',
       'Shadai LUTUMBA', 'POUANI POUANI ANNICK', 'MONGOUE TCHAHA GEORGES',
       'ZANDA JEAN CAROL', 'ND GAMOUKA AZHE AGGEE MALAVAYE',
       'MARTIAL BESBETO', 'FRANKLIN DONGMO TSOBJIO', 'FANTA YAYA YAYA',
       'DITCHOU YONGOUA CHRISTIAN', 'AMINOU SOULEYMANOU',
       'MIREILLE BIOMA', 'SONIA KAMMEUGNE TCHUENTE',
       'JULES BARLOW NGONCHELE MENOME', 'DOMBOU GUIMFACK GABRIEL CHARLY',
       'ONOMO BRICE LIONEL', 'MOHAMADOU AWALOU LABARANG',
       'ALANG FERDINAND ZIH', 'OUMAROU ALIOU', 'MADIKANE ZOUFANE',
       'DAOUDA ISSOUFA', 'MENGUE MENGUE MARTINE CAROLE',
       'FORCHAP CLANCY NGEANYA', 'MIBE FONKUI ROSY',
       'David Wilson junior nko o', 'TONLEU NGUIMENANG DUCHELLE',
       'YANNICK ARTHUR DOUNGMO WAKEM', 'DJEUGA PAULIN  BERNARD',
       'HAFIZOU MOHAMADOU', 'YVES NICK NKEMAIGNE', 'DJARSOUMNA CALVIN',
       'JEANNE NGAH', 'HUGUE VANEL KAHKAPING KAMSU',
       'JEAN PIERRE DONGMO MOUAHA', 'ND NDJIDDA BIANG',
       'WELEPE KEMEGNY CYRILLE', 'MBALLA MBALLA GERVAIS',
       'SIMO KENGNE ROBERT', 'Jerry djoukeng', 'RODRIGUE AWELSA BOUBA',
       'LILIANE KANA NGNINGHA', 'AVELA LUCRECE LAURE MARIE',
       'TATUEBU TCHUENGUEM FRITZ', 'JULIENNE MAMENE',
       'MBOUANGOUERE SYDONIE', 'ANICE NKENFACK', 'KENMEUGNE JEAN',
       'MOUESSI PATRICK POWELL', 'NOWICHOUM CHRISTELLE',
       'ARSENE APEGOUI NZEUGANG', 'IRENE TCHOUKOUA',
       'KENGUE WILLY WILSON', 'DIELA TANKO CLOVIS', 'KUHSHUH PETER',
       'MVONDO MENGUELE YVAN', 'NANDONG ARIANE MICHEL',
       'Dyland Brondone TALA', 'DIDDI /',
       'GHOMSI KENGNE MAURANNE CHARLENE',
       'CEDRIC SERAPHIN NGASSA EVENGUE', 'NADEGE MALIEGE',
       'MBA EMAN RENAUD  MARTIAL', 'ARMAND ROMARIC MBA',
       'BAHEL BRICE ARMEL', 'NELSON TAKON LUVALA', 'NGA ESSOMBA AUGUSTIN',
       'DIFFOUO TAKENDO ZIKEM NAVARO', 'MANDONE ALIMA OMEGA CLARISSE',
       'KAOUTOING MAINA ND', 'JEAN WASSO', 'ENAM GUY PATRICE',
       'AKOULOUZEH MEYO LUDOVIC', 'MOUMY PAULINE', 'PEDIE MICHEL',
       'WAFFO UILRICH INESPERE', 'DJEMTCHEMEU FELIX',
       'IBRAHIM NGOULOURE MOUMBAGNA', 'Ingride Sonia NTCHEZEU',
       'NGAYA BOOTO ANDRE GAEL', 'DIFFO KEMETIA NELLY ANNICK',
       'NYETAM MARCEL', 'JEAN MICHEL BAYIHA',
       'ORTENCE MIRABELLE NGUIEDEM', 'STEVE AIME NJAMEN',
       'ROMEO PATRICK BIDZOGO NGA NDZANA', 'SONKENG BRUNELLE',
       'TANYI ROLLAND', 'ASMAOU RAIHANATOU', 'CHOULA SERGE FLORIAN',
       'ND CHI NJOYA WARAH', 'NOUBISSIE PANI HUGUES',
       'CHRISTIANE ORNELA NANA KEMAJOU', 'HYANZE TCHITCHUI ARMEL',
       'ALAIN GIRES NKWEKEU', 'GISELE IRENE GUEDEM SIMO',
       'TOUKAM WAFFO MARTIN RODOM', 'MIMIE ALLEMANDE NKOMBA',
       'EMAKAM EMOU CHRISTIAN', 'AKA A MBIDA ISABELLE',
       'TEINGA KAMGUEN EMMANUEL RUFIN', 'DJOUMO MADELEINE- HYPOLITE',
       'YOUSSOUFA CHETKOUN PEVOH', 'NGNITEDEM VICTOR', 'ROMALIE KEMAJOU',
       'DONGMO ZEBAZE MARTIAL', 'DOMOU DJOUKOUE HYACINTHE',
       'MARC RENE TOUKOUM', 'JEAN JOEL JUNIOR ONDO',
       'TADOUNG OUAMBO MARCELIN', 'SERGE MARTIN OBANBOTO EFA',
       'ND EKOKO CAROLINE SUBI', 'LEONARD NGNITCHOKEU',
       'WARI PROSPER BONABE', 'TIEME TIEME FRANCK GERALDIN',
       'NGO NYEMECK Gertrude Yvette', 'MELANGUIE VANNICK CABREL',
       'MASSONG NFOTABONG EDWIGE MELISSA', 'NONO FREDERIC',
       'SAIDOU BABANGUIDA BARKINDO AICHA', 'MERVEILLE NDONGUE KAMDEM',
       'ROLLIN  JAURES NOUBISSI SIKAPING', 'ALPHONSE MITCHEU ND',
       'ZEMEU JATSA WILFRIED ALEXIS', 'NDEFO KAMGA YVES FLORENTIN',
       'PHILIPPE DE NERI NGUEUTUE FOTSO',
       'ARNAUD DUCLAIRE DEMMANO TIOGNING', 'MEUPEH BOUGEN STEVE LANDRY',
       'TCHAPTCHET PATIO LIDOCENCE', 'NZWINDA NGAHANE ROMARIC LIONEL',
       'EFUETLANCHA MAXCELLUS', 'NGATCHA ABIJAH MATTITYAH TCHINDA',
       'Ongmakagne  Valérie ', 'SAMUEL GHISLAIN NDJEL INACK',
       'TAKOU KAMDEM ARMEL', 'ELVIRE MEFFO MECHE',
       'WAGNI NGANDJOUON CLIVES', 'MIHILLAR KINGTIM GIMANZEAU',
       'ANTOINE WILFRIED ZANGA', 'EKO MENGUE ARSENE',
       'Landry Vanick Njikam Njikam', 'CHARNELLE FLAVIE TALAH DELOCK',
       'HAMAOUNDE ALIOU', 'Stephane KENMEGNE', "SA'A KAMGANG FRANK ARMEL",
       'JOEL CEDRIC TCHAPMEN NDJANGA MBIANDA', 'DAHIROU ABDOURAMAN',
       'AGNES AMANDA FABIOLA BAHIDA', "MINLO EKOU'OU YVON",
       'NANTCHO WANDJOU WILLIAM MATURIN', 'OUMAROU MOULLIOM',
       'ABE NDONGO VALERE', 'NKE BESSALA FELICITE VISTELLE',
       'MOUDZE FRANCIS', 'NANA KOUAJEP GEORGIAUD', 'DJUIGNE CARINE'],
      dtype=object)

#### Removing all the trailing spaces...

In [19]:
# Remove trailing spaces from all columns in transactions_df
for column in transactions_df.columns:
    if transactions_df[column].dtype == 'object':
        # Convert to string first and handle NaN values
        transactions_df[column] = transactions_df[column].astype(str).replace('nan', '')
        transactions_df[column] = transactions_df[column].str.strip()

In [20]:
transactions_df[transactions_df['Type utilisateur transaction'] == 'AGENT']['Nom portefeuille expediteur'].unique()

array(['IT BALI', 'HOP ESEKA 2ESEKA 2', 'Sarl Emi money Universel',
       'SarlEmi money ndere petit marche', 'EU TouboroTouboro',
       'IT NDOGBONG', 'IT ACACIA YAOUNDE',
       'EU FOUMBAN FOYERFOUMBAN FOYER', 'MS MULTISERVICES02',
       'MULTI-SERVICE SARL', 'IT SOA', 'HOP BANGANGTE lllBANGANGTE III',
       'IT ESSOS', 'HOP DOUMEHOP DOUME', 'EU eseka 1Eseka1', 'IT MVAN',
       'IT MELEN', 'IT HIPPODROME', 'EXPRESS UNIONSA', 'IT MADAGASCAR',
       'HOP BAFOUSSAM AVENUE WANKO', 'Saka Patrick Arsène',
       'CB MOHAMADOUABDOUL', 'IT CITE DES PALMIERS',
       'HOP NKONGSAMBA PHARMACIE HOP NKONGSAMBA PHARMACIE',
       'EU DLA BONANJO TRESOREU DLA BONANJO TRESOR', 'IT MESSA',
       'IT NSIMEYONG', 'CB ALLANFEZE', 'CB TCHOUKEULENY FRANCIS',
       'SarlEmi money Guider', 'EU KYE OSSI 3KYE OSSI 3',
       'INSTANTTRANSFER SARL', 'HOP MAGAHOP MAGA',
       'HOP GUIDIGUISHOP GUIDIGUIS', 'EU DJOUMDJOUM',
       'EU BANDJOUN EUSABANDJOUN EUSA', 'EU TibatiTibati',
       'IT DIRECTION GENERALE NKOLFOULOU', 'EU YDE OMNISPORTOMNISPORT',
       'HOP SERVICESARL', 'HOP MBOUMNYEBELMBOUMNYEBEL', 'IT KYE-OSSI',
       'HOP YDE NKOZOA NKOZOA', 'IT NKOLBISSON',
       'EU BLA BLVD LIBERTEEU BLA BLVD LIBERTE',
       'NADIA AMADOUNADIA AMADOU', 'MS MULTISERVICES09SARL',
       'Emi money baf marche BSarl', 'SarlEmi money Nkongsamba',
       'EU NTUINTUI', 'IT SANTA BARBARA',
       'EU BAFOUSSAM KAMKOPBAFOUSSAM KAMKOP', 'IT DEIDO',
       'EMI MONEY SARL', 'HOP MONTEE JOUVENCEMONTEE JOUVENCE',
       'IT LOGPOM', 'IT EKOUNOU', 'SarlEmi money mokolo bata',
       'EU TIKOTIKO', 'IT ETOUDI', '', 'EU ABONG MBANG 1EU ABONG MBANG 1',
       'HOP BOTMAKAKBOTMAKAK', 'IT OYOM ABANG PASSERELLE', 'IT BAFOUSSAM',
       'MS MULTISERVICES07SARL', 'MS HALGED TELECOM04SARL',
       'HOP BERTOUA GAREHOP BERTOUA GARE', 'IT AKWA LIBERTE', 'IT EMANA',
       'IT MENDONG', 'IT CAMP YABASSI', 'EU WardaWarda',
       'EU DLA BONABERI NDOBO IIEU DLA BONABERI NDOBO II',
       'HOP BANSOA CHEFFERIEBANSOA CHEFFERIE', 'IT NDOKOTI',
       'Agent Joelle', 'DRB-MASTER AGENTDRB', 'SarlEmi money Meiganga',
       'SarlEmi money ebolowa', 'SarlEmi money mbalmayo 2',
       'SarlEmi money marche central', 'EU MBANGAEU MBANGA', 'CyrilCyril',
       'CB DONFACKERIC', 'EU EBOLOWA 6EBOLOWA 6',
       'EU DLA BJO CRTV IIEU DLA BJO CRTV II', 'SarlEmi money mora',
       'Emi money baf wankoSarl', 'HOP FIGUILHOP FIGUIL',
       'HOP NKOMETOUNKOMETOU', 'HOP POLIHOP POLI',
       'SarlEmi money kiosque bastos',
       'EU GAROUA BOULAI 3EU GAROUA BOULAI 3', 'SarlEmi money tignere',
       'IT BAYANGAM 2CB IT BAYANGAM 2', 'SarlEmi money BAF TOTAL',
       'SarlEmi money Akonolinga', 'HOP DEIDO MARCHE HOP DEIDO MARCHE',
       'MUFFA BAFOUSSAM 2KAMKOP', 'DTN NANGA NANGA JUNIORHOP SIEGE DCM',
       'SarlEmi money koutaba', 'SarlEmi money melen',
       'Emi money foumbanSarl', 'SarlEmi money INJS',
       'MUFFA YAOUNDE BIYEM-ASSI', 'SarlEmi money Ekounou',
       'MUFFA MOKOLOMUFFA MOKOLO', 'HOP MBANDJOCKMBANDJOCK',
       'HOP YAOUNDÉ OLEMBEOLEMBE', 'EMI MONEY MAROUA MARCHEEMI MONEY',
       'HOP YOKADOUMA 1HOP YOKADOUMA 1', 'Sarl Emi money Nsam',
       'MUFFA BAFOUSSAM', 'HOP DLA PK 15HOP DLA PK 15',
       'MS MULTISERVICES04SARL', 'SarlEmi money mokolo EN',
       'Emi money mbouda 2Sarl', 'HOP OBALAOBALA',
       'HOP EVOUDOULAEVOUDOULA', 'MUFFA KYE OSSI',
       'MUFFA YAOUNDE NKOMKANA',
       'EU DLA  NDOGBONG IIIEU DLA  NDOGBONG III', 'SarlEmi money yagoua',
       'HOP MVOG BETSIMVOG BETSI', 'SarlEmi money mvan',
       'HOP NJOMBEHOP NJOMBE', 'HOP BAFOUSSAM CHEFFERIECHEFFERIE',
       'JULLY SA', 'EU MESSAMEDONGOMESSAMEDONGO', 'HOP NGAOUIHOP NGAOUI',
       'SarlEmi money balmari', 'SarlEmi money garoua impots',
       'FINANCIAL STARCAMEROUN SA',
       'CB NKWENSHWA BRANDONTCB NKWENSHWA BRANDONT', 'CB JOUELWAMBA',
       'SarlEmi money Mendong', 'EU NGOUSSONGOUSSO',
       'CB GERTRUDEDJIPIE FOTSO', 'SarlEmi money Acacias',
       'SarlEmi money Ngong', 'ALBINEHOP', 'HOP TIGNERE HOP TIGNERE',
       'EU FOUMBAN CENTRE FOUMBAN CENTRE', 'CB GRACEKEMPSEU',
       'MIRIANETIOMELA', 'CB AUDREY FONKOU', 'CB MAYO ANNIE',
       'SarlEmi money  touboro', 'HOPENONDJOH', 'CB TAYUAR MERLIN',
       'HOP NDERE GARE 2HOP NDERE GARE 2', 'CB HENRIETTEKEUYA',
       'EMI MONEY NGAOUNDERE TONGOEMI MONEY', 'HOP FOUMBOT 2FOUMBOT 2',
       'CB TCHAGANG FLORENTINE'], dtype=object)

#### Chargement des différents point de services

In [21]:
emi_money_df = pd.read_excel('point_de_service_emi_money.xlsx', header = 1, engine = 'openpyxl')
express_union_df = pd.read_excel('point_de_service_EU.xlsx', header = 3, engine = 'openpyxl')
hop_df = pd.read_excel('point_de_service_hop.xlsx', header = 1, engine = 'openpyxl')
it_df = pd.read_excel('point_de_service_IT.xlsx', header = 3, engine = 'openpyxl')
ms_df = pd.read_excel('point_de_service_MS.xlsx', header = 1, engine = 'openpyxl')
muffa_df = pd.read_excel('point_de_service_muffa.xlsx', header = 3, engine = 'openpyxl')
call_box_df = pd.read_excel('call_box.xlsx', header = 3, engine = 'openpyxl')

/home/maxtheking/anaconda3/envs/cuda_env/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/maxtheking/anaconda3/envs/cuda_env/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/maxtheking/anaconda3/envs/cuda_env/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/maxtheking/anaconda3/envs/cuda_env/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/maxtheking/anaconda3/envs/cuda_env/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/maxtheking/anaconda3/envs/cuda_env/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/maxtheking/anaconda3/envs/cuda_env/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [22]:
emi_money_df.drop('Unnamed: 0', axis = 1, inplace = True)
express_union_df.drop(['Unnamed: 0','Unnamed: 2', 'Unnamed: 3'], axis = 1, inplace = True)
hop_df.drop('Unnamed: 0', axis = 1, inplace = True)
it_df.drop(['Unnamed: 0','Unnamed: 2', 'Unnamed: 3'], axis = 1, inplace = True)
ms_df.drop('Unnamed: 0', axis = 1, inplace = True)
muffa_df.drop(['Unnamed: 0','Unnamed: 2', 'Unnamed: 3'], axis = 1, inplace = True)
call_box_df.drop(['Unnamed: 0', 'Unnamed: 2', 'Unnamed: 3'], axis = 1, inplace = True)

In [23]:
hop_df.head()

                Nom  porteur
0    HOP ADOUMRI HOP ADOUMRI
1  HOP AKONOLINGA AKONOLINGA
2         HOP AMBAM 1 AMBAM1
3        HOP AMBAM 2 AMBAM 2
4      HOP ANGUISSA ANGUISSA

In [24]:
# Remove trailing spaces from all point de service dataframes
emi_money_df['Nom  porteur'] = emi_money_df['Nom  porteur'].str.strip()
express_union_df['Nom  porteur'] = express_union_df['Nom  porteur'].str.strip()
hop_df['Nom  porteur'] = hop_df['Nom  porteur'].str.strip()
it_df['Nom  porteur'] = it_df['Nom  porteur'].str.strip() 
ms_df['Nom  porteur'] = ms_df['Nom  porteur'].str.strip()
muffa_df['Nom  porteur'] = muffa_df['Nom  porteur'].str.strip()
call_box_df['Nom  porteur'] = call_box_df['Nom  porteur'].str.strip()

In [25]:
# Get all agency names from each point de service dataframe into separate arrays
emi_money_agences = emi_money_df['Nom  porteur'].unique()
express_union_agences = express_union_df['Nom  porteur'].unique()
hop_agences_array = hop_df['Nom  porteur'].unique()
it_agences = it_df['Nom  porteur'].unique()
ms_agences = ms_df['Nom  porteur'].unique()
muffa_agences = muffa_df['Nom  porteur'].unique()
call_box_agences = call_box_df['Nom  porteur'].unique()

#### Hop agences

In [26]:
hop_agences_array

array(['HOP ADOUMRI HOP ADOUMRI', 'HOP AKONOLINGA AKONOLINGA',
       'HOP AMBAM 1 AMBAM1', 'HOP AMBAM 2 AMBAM 2',
       'HOP ANGUISSA ANGUISSA', 'HOP AWAE AKONOLINGA AWAE AKONOLINGA',
       'HOP AYOS AYOS', 'HOP BABADJOU BABADJOU',
       'HOP BAFANG 3 HOP BAFANG 3', 'HOP BAFIA 2 BAFIA 2',
       'HOP BAFOSSAM  QUARTIER HAOUSSA', 'HOP BAFOU BAFOU',
       'HOP BAFOUSSAM  AVENUE WANKO', 'HOP BAFOUSSAM BALENG BALENG',
       'HOP BAFOUSSAM CARREFOUR BAFOUSSAM CARREFOUR',
       'HOP BAFOUSSAM CHEFFERIE CHEFFERIE', 'HOP BAFOUSSAM  DJEMOUM',
       'HOP BAFOUSSAM EVECHE EVECHE', 'HOP BAFOUSSAM  GARE',
       'HOP BAFOUSSAM  MARCHE B1', 'HOP BAFOUSSAM MARCHE B2',
       'HOP BAFOUSSAM  SOCADA', 'HOP BAFOUSSAM TAMDJA',
       'HOP BAFOUSSAM TOKET', 'HOP BAFOUSSAM  TOUGANG', 'HOP BAHAM BAHAM',
       'HOP BALESSING BALESSING', 'HOP BALEVENG BALEVENG',
       'HOP BAMBILI 2 BAMBILI 2', 'HOP BAMENDA 3 BAMENDA 3',
       'HOP BAMENDA FOOD MARKET BAMENDA FOOD MARKET',
       'HOP BAMENDA MILLE2 BAMENDA MILLE2',
       'HOP BAMENDA MILLE 4 BAMENDA MILLE 4',
       'HOP BAMENDA UP STATION BAMENDA UP STATION',
       'HOP BAMENDJOU BAMENDJOU', 'HOP BANDJOUN 2 BANDJOUN 2',
       'HOP BANGANG BANGANG', 'HOP BANGANGTE lll BANGANGTE III',
       'HOP BANGOU CARREFOUR BANGOU CARREFOUR',
       'HOP BANGOURAIN  BANGOURAIN', 'HOP BANGOU VILLE  BANGOU',
       'HOP BANKA  HOP BANKA', 'HOP BANKIM BANKIM', 'HOP BANKOMO BANKOMO',
       'HOP BANSOA CHEFFERIE BANSOA CHEFFERIE', 'HOP BANTOUM BANTOUM',
       'HOP BARE BAKEM HOP BARE BAKEM', 'HOP BASSAMBA BASSAMBA',
       'HOP BATA NLONGKAK BATA NLONGKAK', 'HOP BATIE BATIE',
       'HOP BAYANGAM BAYANGAM', 'HOP BAZOU  BAZOU',
       'HOP BDA CITY CHEMIST BDA CITY CHEMIST', 'HOP BELABO HOP BELABO',
       'HOP BELEL  HOP BELEL', 'HOP BENGBIS BENGBIS',
       'HOP BERTOUA4 HOP BERTOUA4', 'HOP BERTOUA 7 HOP BERTOUA 7',
       'HOP BERTOUA GARE HOP BERTOUA GARE',
       'HOP BERTOUA MANDJOU HOP BERTOUA MANDJOU',
       'HOP BERTOUA YADEME BERTOUA YADEME',
       'HOP BERTOUA YADEME HOP BERTOUA YADEME', 'HOP BIPINDI BIPINDI',
       'HOP BOKITO BOKITO', 'HOP BOTMAKAK BOTMAKAK',
       'HOP BOUKOULA HOP BOUKOULA', 'HOP BUEA 3  HOP BUEA 3',
       'HOP BUEA MILE 17  HOP BUEA MILE 17', 'HOP CAMPO HOP CAMPO',
       'HOP CARREFOUR ESPOIR  HOP CARREFOUR ESPOIR',
       'HOP CARREFOUR MONKAM HOP CARREFOUR MONKAM',
       'HOP DEIDO MARCHE  HOP DEIDO MARCHE',
       'HOP DIBOMBARI HOP DIBOMBARI', 'HOP DIMAKO HOP DIMAKO',
       'HOP DLA ANCIEN ETAGE HOP DLA ANCIEN ETAGE',
       'HOP DLA CARREFOUR BASSONG HOP DLA CARREFOUR BASSONG',
       'HOP DLA CITE DE LA PAIX HOP DLA CITE DE LA PAIX',
       'HOP DLA GRAND MOULIN HOP DLA GRAND MOULIN',
       'HOP DLA HÔTEL MBETE HOP DLA HÔTEL MBETE',
       'HOP DLA KOTTO AFRIQUE DU SUD HOP DLA KOTTO AFRIQUE DU SUD',
       'HOP DLA MAKEPE TOTAL HOP DLA MAKEPE TOTAL',
       'HOP DLA PK 15 HOP DLA PK 15', 'HOP DON BOSCO DON BOSCO',
       'HOP DOUALA BEEDI HOP DOUALA BEEDI', 'HOP DOUALA BONAMBAPPE',
       'HOP DOUALA BORNE 10 HOP DOUALA BORNE 10',
       'HOP DOUALA GRAND HANGAR',
       'HOP DOUALA NDOGBONG 1 HOP DOUALA NDOGBONG 1',
       'HOP DOUALA NYALLA PARISO HOP DOUALA NYALLA PARISO',
       'HOP DOUALA ST NICOLAS  HOP DOUALA ST NICOLAS',
       'HOP DOUKOULA HOP DOUKOULA', 'HOP DOUME HOP DOUME',
       'HOP DSCHANG 2 GARE DSCHANG 2 GARE',
       'HOP DSCHANG FOTO DSCHANG FOTO',
       'HOP DSCHANG UNIVERSITÉ  DSCHANG UNIVERSITE',
       'HOP DSCHANG ZEBAZE DSSCANG ZEBAZE', 'HOP EBEBDA EBEBDA',
       'HOP EBOLAWA 5 EBOLOWA 5', 'HOP EBOLOWA 2  EBOLOWA 2',
       'HOP EBOLOWA 7 EBOLOWA 7',
       'HOP EDEA CENTRE COMMERCIAL  HOP EDEA CENTRE COMMERCIAL',
       'HOP EDEA III HOP EDEA III', 'HOP EFOULAN  EFOULAN',
       'HOP EKIE EKIE', 'HOP EMANA 2 EMANA 2', 'HOP ENONDJOH',
       'HOP ESEKA 2 ESEKA 2', 'HOP ESSE ESSE', 'HOP ESSOMBA ESSOMBA',
       'HOP ETOUGBE ETOUGBE', 'HOP EVOUDOULA EVOUDOULA',
       'HOP FANTA CITRON FANTA CITRON', 'HOP FIGUIL HOP FIGUIL',
       'HOPFOKOUE FOKOUE', 'HOP FOUGEROLE FOUGEROLE',
       'HOP FOUMBAN FOUMBAN', 'HOP FOUMBOT 2 FOUMBOT 2',
       'HOP GALIM GALIM', 'HOP GALIM TIGNERE HOP GALIM TIGNERE',
       'HOP GARI GOMBO HOP GARI GOMBO',
       'HOP GAROUA BASE AERIENNE HOP GAROUA BASE AERIENNE',
       'HOP GAROUA BOULAI 21 HOP GAROUA BOULAI 2',
       'HOP GAROUA DJAMBOUTOU HOP GAROUA DJAMBOUTOU',
       'HOP GAROUA POUMPOUMRE HOP GAROUA POUMPOUMRE',
       'HOP GASHIGA HOP GASHIGA', 'HOP GUIDIGUIS HOP GUIDIGUIS',
       'HOP JAPOMA HOP JAPOMA', 'HOP KAELE HOP KAELE',
       'HOP KEKEM HOP KEKEM', 'HOP KENTZOU  HOP KENTZOU',
       'HOP  KIOSQUE KENTZOU', 'HOP KOMBOU KOMBOU',
       'HOP KOTTO BLOC HOP KOTTO BLOC', 'HOP KOUME BONIS HOP KOUME BONIS',
       'HOP KOUOPTAMO KOUOPTAMO', 'HOP KOUSSERI HOP KOUSSERI',
       'HOP KRIBI 1 HOP KRIBI 1',
       'HOP KUMBA AVENUE DES BANQUES  HOP KUMBA AVENUE DES BANQUES',
       'HOP KYEOSSI 1 KYEOSSI 1', 'HOP LAGDO HOP LAGDO',
       'HOP LIKOMBA HOP LIKOMBA', 'HOP LIMBE 6 HOP LIMBE 6',
       'HOP LIMBE DOWN BEACH HOP LIMBE DOWN BEACH',
       'HOP LOLODORF  LOLODORF', 'HOP LOUM HOP LOUM', "HOP MA'AN MA'AN",
       'HOP MAGA HOP MAGA', 'HOP MAGBA MAGBA', 'HOP MAKAK MAKAK',
       'HOP MAKENENE MAKENENE', 'HOP MAKEPE BOCOM HOP MAKEPE BOCOM',
       'HOP MANGUIER 2 MANGUIER 2', 'HOP MANJO HOP MANJO',
       'HOP MAROUA ABATOIR HOP MAROUA ABATOIR',
       'HOP MAROUA COMICE  HOP MAROUA COMICE',
       'HOP MBAIBOUM HOP MBAIBOUM', 'HOP MBALMAYO 4 MBALMAYO 4',
       'HOP MBANDJOCK MBANDJOCK', 'HOP MBANGASSINA  MBANGASSINA',
       'HOP MBANG  HOP MBANG', 'HOP MBANG MBANG',
       'HOP MBANKOLO  MBANKOLO', 'HOP MBOUDA TEXACO MBOUDA TEXACO',
       'HOP MBOUMNYEBEL MBOUMNYEBEL', 'HOP MELONG HOP MELONG',
       'HOP MENDONG 2 MENDONG 2', 'HOP MENDONG  MENDONG',
       'HOP MESKINE HOP MESKINE', 'HOP METET METET',
       'HOP MEYOMESSALA MEYOMESSALA', 'HOP MFOU MFOU',
       'HOP MIMBOMAN MIMBOMAN', 'HOP MINDOUROU MINDOUROU',
       'HOP MINI FERME MINI FERME', 'HOP MINTOM MINTOM',
       'HOP MOKOLO MESSA MOKOLO MESSA', 'HOP MONATELE MONATELE',
       'HOP MONTEE DES SOEURS MONTEE DES SOEURS',
       'HOP MONTEE JOUVENCE MONTEE JOUVENCE', 'HOP MONTEE ZOE MONTEE ZOE',
       'HOP MOURVOUDAYE HOP MOURVOUDAYE', 'HOP MOUTOURWA HOP MOUTOURWA',
       'HOP MOUTOURWA MOUTOURWA', 'HOP MUTENGENE  MUTENGENE',
       'HOP MVOG BETSI MVOG BETSI', 'HOP NANGA EBOKO NANGA EBOKO',
       'HOP NDERE BAMYANGA  HOP NDERE BAMYANGA',
       'HOP NDERE GARE 1 HOP NDERE GARE 1',
       'HOP NDERE GARE 2 HOP NDERE GARE 2',
       'HOP NDERE PETIT MARCHÉ 2 HOP NDERE PETIT MARCHÉ 2',
       'HOP NDIKIMINKI NDIKIMINKI',
       'HOP NDOGPASSI 14EME HOP NDOGPASSI 14EME',
       'HOP NDOKAYO HOP NDOKAYO', 'HOP NGAMBE NGAMBE',
       'HOP NGAOUI HOP NGAOUI', 'HOP NGAOUNDAL 1 HOP NGAOUNDAL 1',
       'HOP NGOMENZAP NGOMENZAP', 'HOP NGONG HOP NGONG',
       'HOP NGONG NGONG', 'HOP NGORO NGORO',
       'HOP NGOULEMAKONG NGOO,EMAKONG', 'HOP NGOUMOU  NGOUMOU',
       'HOP NGUELEMENDOUKA  HOP NGUELEMENDOUKA', 'HOP NJIMOM  NJIMOM',
       'HOP NJOMBE HOP NJOMBE',
       'HOP NKOLBISSON BEATITUDE NKOLBISSON BÉATITUDE',
       'HOP NKOLBISSON NKOLBISSON', 'HOP NKOLMESSENG 1 NKOLMESSENG 1',
       'HOP NKOLNDA NKOLNDA', 'HOP NKOMETOU NKOMETOU',
       'HOP NKOMKANA NKOMKANA', 'HOP NKONDJOCK HOP NKONDJOCK',
       'HOP NKONGSAMBA PHARMACIE  HOP NKONGSAMBA PHARMACIE',
       'HOP NKOTENG NKOTENG', 'HOP NSIMEYONG 3 NSIMEYONG 3',
       'HOP NYETE HOP NYETE', 'HOP OBALA OBALA', 'HOP OKALA OKALA',
       'HOP OLEZOA OLEZOA', 'HOP OMBESSA  OMBESSA',
       'HOP PENJA  HOP PENJA', 'HOP PENKA MICHEL  PENKA MICHEL',
       'HOP PITOA HOP PITOA', 'HOP POLI HOP POLI', 'HOP POUMA HOP POUMA',
       'HOP REY BOUBA   REY BOUBA', 'HOP SAA SAA',
       'HOP SALAPOUMBE HOP SALAPOUMBE', 'HOP SANGMELIMA 2 SANGMELIMA 2',
       'HOP SANGMELIMA 3 SANGMELIMA', 'HOP SANTA BARBARA SANTA BARBARA',
       'HOP SANTA SANTA', 'HOP SANTCHOU SANTCHOU', 'HOP SERVICE SARL',
       'HOP SOMBO SOMBO', 'HOP SONKOLONG SONKOLONG',
       'HOP SOUZA HOP SOUZA', 'HOP TAMTAM TAMTAM',
       'HOP TIGNERE  HOP TIGNERE', 'HOP TIGNERE HOP TIGNERE',
       'HOP TKC TKC', 'HOP TONGA TONGA', 'HOP TONGOLO TONGOLO',
       'HOP YAOUNDÉ AHALA AHALA',
       'HOP YAOUNDÉ CARRIERE  YAOUNDÉ CARRIERE',
       'HOP YAOUNDÉ OLEMBE OLEMBE', 'HOP YDE BITENG',
       'HOP YDE ETOUDI PRESTIGE', 'HOP YDE MANGUIER 1 MANGUIER  1',
       'HOP YDE MELEN', 'HOP YDE NKOZOA  NKOZOA',
       'HOP YDE OYOMABANG OYOMABANG', 'HOP YOKADOUMA 1 HOP YOKADOUMA 1',
       'HOP ZEKOUO NELIE SONIA', 'HOP ZOETELE ZOETELE'], dtype=object)

In [27]:
# Get all agency names starting with 'HOP' into hop_agences array
hop_agences = [agency for agency in transactions_df[transactions_df['Type utilisateur transaction'] == 'AGENT']['Nom portefeuille expediteur'].unique() 
               if str(agency).strip().startswith('HOP')]

In [28]:
# Combine hop_agences_array and hop_agences into a single array without duplicates
all_hop_agencies = list(set(list(hop_agences_array) + list(hop_agences)))

# Print the total number of unique HOP agencies
print(f"Total number of unique HOP agencies: {len(all_hop_agencies)}")

# Print a few examples
print("\nExample agencies:")
for agency in all_hop_agencies[:5]:
    print(f"- {agency}")

Total number of unique HOP agencies: 286

Example agencies:
- HOP MAKEPE BOCOM HOP MAKEPE BOCOM
- HOP NKONGSAMBA PHARMACIE HOP NKONGSAMBA PHARMACIE
- HOP BAFOUSSAM BALENG BALENG
- HOP AMBAM 1 AMBAM1
- HOP KOUSSERI HOP KOUSSERI

#### Function to identify all hop agencies

In [29]:
# Define a function to check if a name matches HOP patterns
def is_hop_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip().upper()
    return (name.startswith('HOP') or 
            name == 'HOP SERVICESARL' or
            name == 'ALBINEHOP' or 
            name == 'DTN NANGA NANGA JUNIORHOP SIEGE DCM')

# Get transactions where either sender or receiver matches HOP pattern
hop_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_hop_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_hop_agency))
].copy()

# Display first few rows
print("HOP transactions:")
hop_transactions_df.head()

HOP transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
1,W202507018129662,WALLET_TO_WALLET,AGENT,HOP ESEKA 2ESEKA 2,237683752726,217000.0,30000,187000.0,,,237681034832,PADY NDE,135000.0,165000.0,AGENT_MOBILE,COMPLETED,11:52:20,2025-07-01
17,W202507028147261,WALLET_TO_WALLET,AGENT,HOP BANGANGTE lllBANGANGTE III,237683723979,56000.0,55000,1000.0,,,237676678786,ND MOUTSINA HECHEKED,0.0,55000.0,AGENT_WEB,COMPLETED,07:49:40,2025-07-02
19,W202507028147596,WALLET_TO_WALLET,AGENT,HOP DOUMEHOP DOUME,237683726686,718000.0,718000,0.0,,,237676739074,HOP SERVICESARL,5578450.0,6296450.0,AGENT_WEB,COMPLETED,08:14:28,2025-07-02
33,W202507028151342,CASH_OUT,AGENT,HOP BAFOUSSAM AVENUE WANKO,237683752961,1607900.0,490000,1117900.0,10005-00003-01544291101-24,DENOU YOUBI FABRICE,0,,NaN,NaN,AGENT_WEB,COMPLETED,12:32:32,2025-07-02
41,W202507028153710,WALLET_TO_WALLET,AGENT,HOP NKONGSAMBA PHARMACIE HOP NKONGSAMBA PHARMACIE,237683725239,96368.0,54790,41578.0,,,237698887086,ULRICH WANDJI DJEUGOUE,0.0,54790.0,AGENT_WEB,COMPLETED,15:10:51,2025-07-02

In [30]:
hop_transactions_df.shape

(498, 18)

#### Emi money agences

In [31]:
emi_money_agences

array(['Emi money baf marche B Sarl', 'Emi money baf wanko Sarl',
       'EMI MONEY BATOURI EMI MONEY', 'Emi money boumnyebel Sarl',
       'EMI MONEY DOMAYO EMI MONEY', 'Emi money douala zachman Sarl',
       'EMI MONEY EMOMBO EMI MONEY SARL EMOMBO',
       'EMI MONEY ESEKA EMI MONEY', 'Emi money essec douala Sarl',
       'Emi money etoa meki Sarl', 'Emi money foumban Sarl',
       'EMI MONEY KIOSQUE ETOA MEKI EMI MONEY',
       'EMI MONEY KYE OSSI1 EMI MONEY', 'Emi money loum Sarl',
       'EMI MONEY MALENTOUEN EMI MONEY',
       'EMI MONEY MAROUA MARCHE EMI MONEY',
       'EMI MONEY MBALMAYO1 EMI MONEY', 'Emi money mbouda 2 Sarl',
       'EMI MONEY MELONG EMI MONEY', 'Emi money messassi Sarl',
       'Emi money mvog mbi Sarl', 'EMI MONEY NDOBO EMI MONEY',
       'EMI MONEY NDOKOTI EMI MONEY',
       'EMI MONEY NGAOUNDERE TONGO EMI MONEY',
       'EMI MONEY NGOUSSO EMI MONEY', 'Emi money nkoulouloun Sarl',
       'EMI MONEY  SARL', 'Emi money village Sarl', 'Sarl Emi money',
       'Sarl Emi money Abong Mbang', 'Sarl Emi money Acacias',
       'Sarl Emi money Akonolinga', 'Sarl Emi money Akwa',
       'Sarl Emi money ambam', 'Sarl Emi money bafang',
       'Sarl Emi money bafia', 'Sarl Emi money BAF TOTAL',
       'Sarl Emi money baf wanko', 'Sarl Emi money balmari',
       'Sarl Emi money bamyanga', 'Sarl Emi money banyo',
       'Sarl Emi money batouri', 'Sarl Emi money betare oya',
       'Sarl Emi money bonaberi', 'Sarl Emi money Bonaberi',
       'Sarl Emi money bonamoussadi', 'Sarl Emi money briqueterie',
       'Sarl Emi money carriere', 'Sarl  Emi money djoum',
       'Sarl Emi money Domayo', 'Sarl Emi money douala essec',
       'Sarl Emi money dschang', 'Sarl Emi money ebolowa',
       'Sarl Emi money ecole des postes', 'Sarl Emi money Edea',
       'Sarl Emi money Ekounou', 'Sarl Emi money Emombo',
       'Sarl Emi money essos', 'Sarl Emi money Etoudi',
       'Sarl Emi money foumbot', 'Sarl Emi money garoua boulai',
       'Sarl Emi money garoua impots', 'Sarl Emi money garoua yelwa',
       'Sarl Emi money Guider', 'Sarl Emi money INJS',
       'Sarl Emi money Kaele', 'Sarl Emi money kentzou',
       'Sarl Emi money kiosque bastos', 'Sarl Emi money koutaba',
       'Sarl Emi money kribi', 'Sarl Emi money kyeossi2',
       'Sarl Emi money loum', 'Sarl Emi money makenene',
       'Sarl Emi money marche central', 'Sarl Emi money marche doumbi',
       'Sarl Emi money marché doumby', 'Sarl Emi money marche huitieme',
       'Sarl Emi money maroua marche 1', 'Sarl Emi money Mballa 2',
       'Sarl Emi money mbalmayo 1', 'Sarl Emi money mbalmayo 2',
       'Sarl Emi money Mbanga', 'Sarl Emi money Mboppi',
       'Sarl Emi money mbouda', 'Sarl Emi money Meiganga',
       'Sarl Emi money melen', 'Sarl Emi money Mendong',
       'Sarl Emi money mokolo bata', 'Sarl Emi money mokolo EN',
       'Sarl Emi money mora', 'Sarl Emi money mvan',
       'Sarl Emi money Mvog Mbi', 'Sarl Emi money nanga eboko',
       'Sarl Emi money ndere petit marche', 'Sarl Emi money ndokoti',
       'Sarl Emi money Ngong', 'Sarl Emi money ngousso',
       'Sarl Emi money Nkoabang', 'Sarl Emi money Nkongsamba',
       'Sarl Emi money nkoteng', 'Sarl Emi money nkoulouloum',
       'Sarl  Emi money Nsam', 'Sarl Emi money Nyalla',
       'Sarl Emi money obala', 'Sarl Emi money poumpouré',
       'Sarl Emi money RPE', 'Sarl Emi money sangmelima',
       'Sarl Emi money Soa', 'Sarl Emi money tibati',
       'Sarl Emi money tignere', 'Sarl Emi money Tongo',
       'Sarl Emi money  touboro', 'Sarl  Emi money Universel',
       'Sarl Emi money yagoua', 'Sarl Emi money yokadouma'], dtype=object)

#### Function to identify Emi money transactions...

In [32]:
# Define a function to check if a name matches EMI Money patterns
def is_emi_money_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip()
    patterns = ['Emi money', 'EMI MONEY', 'Sarl Emi', 'Sarl Emi money', 'EMI MONEY SARL']
    return any(pattern in name for pattern in patterns)

# Get transactions where either sender or receiver matches EMI Money pattern
emi_money_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_emi_money_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_emi_money_agency)) |
    (transactions_df['Nom portefeuille expediteur'] == 'EMI MONEY SARL') |
    (transactions_df['Nom portefeuille destinataire'] == 'EMI MONEY SARL')
].copy()

# Display first few rows
print("EMI Money transactions:")
emi_money_transactions_df.head()

EMI Money transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
2,W202507018130836,WALLET_TO_WALLET,AGENT,Sarl Emi money Universel,237683748264,802400.00,200000,602400.00,,,237697787908,JEANINE NADINE Ayissi Bella,0.00,200000.00,AGENT_WEB,COMPLETED,12:40:02,2025-07-01
3,W202507018131533,WALLET_TO_WALLET,AGENT,SarlEmi money ndere petit marche,237683748081,480000.00,150000,330000.00,,,237690999917,ADAMOU MAMOUDOU,78.60,150078.60,AGENT_WEB,COMPLETED,13:59:39,2025-07-01
40,W202507028153668,WALLET_TO_WALLET,AGENT,Sarl Emi money Universel,237683748264,602400.00,200000,402400.00,,,237697787908,JEANINE NADINE Ayissi Bella,200000.00,400000.00,AGENT_WEB,COMPLETED,15:07:53,2025-07-02
52,W202507038160944,WALLET_TO_WALLET,AGENT,SarlEmi money Guider,237683747160,215000.00,215000,0.00,,,237683748413,EMI MONEY SARL,352455.34,567455.34,AGENT_WEB,COMPLETED,08:27:45,2025-07-03
103,W202507048182907,WALLET_TO_WALLET,AGENT,Emi money baf marche BSarl,237694102806,414341.42,295000,119341.42,,,14387790863,Ariane Nfoudjeu,295196.50,590196.50,AGENT_WEB,COMPLETED,08:03:22,2025-07-04

In [33]:
emi_money_transactions_df.shape

(97, 18)

#### Function to identify Express Union agences

In [34]:
express_union_agences

array(['EU ABONG MBANG 1 EU ABONG MBANG 1', 'EU ADAMA ADAMA',
       'EU Ave Kennedy SA Ave Kennedy SA', 'EU BAFANG 2 BAFANG 2',
       'EU Bafia Bafia', 'EU BAFOUSSAM 1 BAFOUSSAM 1',
       'EU BAFOUSSAM CARREFOUR BIAO BAFOUSSAM CARREFOUR BIAO',
       'EU BAFOUSSAM KAMKOP BAFOUSSAM KAMKOP',
       'EU BANDJOUN EUSA BANDJOUN EUSA', 'EU BANGANGTE BANGANGTE',
       'EU BANYO BANYO', 'EU Bastos1 Bastos 1', 'EU Bastos II Bastos II',
       'EU BATOURI 1 EU BATOURI 1', 'EU BDA T-JUNCTION BDA T-JUNCTION',
       'EU BERTOUA2 BERTOUA2', 'EU BERTOUA ALLIANCE EU BERTOUA ALLIANCE',
       'EU BERTOUA EU BERTOUA', 'EU BETARE OYA EU BETARE OYA',
       'EU Biyem Assi Biyem assi',
       'EU BLA BLVD LIBERTE EU BLA BLVD LIBERTE', 'EU BP CITE EU BP CITE',
       'EU BUEA 1 BUEA 1', 'EU BUEA 4 BUEA',
       'EU Chapelle Nsimeyong Chapelle Nsimeyong',
       'EU CradatSA Cradat SA', 'EU DJOUM DJOUM',
       'EU DLA AEROPOERT EU DLA AEROPOERT',
       'EU DLA AKWA BAR EU DLA AKWA BAR',
       'EU DLA AKWA CENTRAL V EU DLA AKWA CENTRAL V',
       'EU DLA AKWA IDEAL EU DLA AKWA IDEAL',
       'EU DLA BEPANDA TONNERRE  EU DLA BEPANDA TONNERRE',
       'EU DLA BJO CRTV II EU DLA BJO CRTV II',
       'EU DLA BONABERI NDOBO EU DLA BONABERI NDOBO',
       'EU DLA BONABERI NDOBO II EU DLA BONABERI NDOBO II',
       'EU DLA BONAKOUAMOUANG EU DLA BONAKOUAMOUANG',
       'EU DLA BONANJO TRESOR EU DLA BONANJO TRESOR',
       'EU DLA BONAPRISO EU DLA BONAPRISO',
       'EU DLA BONASSAMA EU DLA BONASSAMA',
       'EU DLA BRAZZAVILLE EU DLA BRAZZAVILLE',
       'EU DLA CITEE DES PALMIERS II EU DLA CITEE DES PALMIERS II',
       'EU DLA  COMBI MADAGASCAR EU DLA  COMBI MADAGASCAR',
       'EU DLA COMBI MADAGASCAR EU DLA COMBI MADAGASCAR',
       'EU DLA DALIP EU DLA DALIP',
       'EU DLA  DEIDO ISES EU DLA  DEIDO ISES',
       'EU DLA DP CITE EU DLA DP CITE',
       'EU DLA EGLISE EVANGELIQUE EU DLA EGLISE EVANGELIQUE',
       'EU DLA KM 5 EU DLA KM 5', 'EU DLA KOTTO EU DLA KOTTO',
       'EU DLA LOGBABA EU DLA LOGBABA', 'EU DLA MABANDA EU DLA MABANDA',
       'EU DLA MADAGASCAR  EU DLA MADAGASCAR',
       'EU DLA MAKEPE EU DLA MAKEPE', 'EU DLA MARCHE C EU DLA MARCHE C',
       'EU DLA  N B EGLISE BANDJOUN EU DLA  N B EGLISE BANDJOUN',
       'EU DLA  N B MAIRIE EU DLA  N B MAIRIE',
       'EU DLA  NDOGBONG III EU DLA  NDOGBONG III',
       'EU DLA  NDOGPASSI MARCHÉ  EU DLA  NDOGPASSI MARCHÉ',
       'EU DLA  NDOKOTI GARE EU DLA  NDOKOTI GARE',
       'EU DLA  NDOKOTI PALAIS EU DLA  NDOKOTI PALAIS',
       'EU DLA  NDOKOTI POSTE EU DLA  NDOKOTI POSTE',
       'EU DLA NEW BELL DP EU DLA NEW BELL DP',
       'EU DLA  NKOULOULOUN EU DLA  NKOULOULOUN',
       'EU DLA  PK 12 EU DLA  PK 12',
       'EU DLA  RUE BERNABE EU DLA  RUE BERNABE',
       'EU DLA SHELL BALI EU DLA SHELL BALI',
       'EU DLA SHELL N B CARREFOUR EU DLA SHELL N B CARREFOUR',
       'EU DLA SODIKO 4 ETAGES EU DLA SODIKO 4 ETAGES',
       'EU DLA SODIKO GARE EU DLA SODIKO GARE',
       'EU DLA STADE OMNISPORT EU DLA STADE OMNISPORT',
       'EU DLA VILLAGE ENT LYCEE EU DLA VILLAGE ENT LYCEE',
       'EU DLA YASSA  EU DLA YASSA', 'EU  DOUALARE EU  DOUALARE',
       'EU DOUGOI EU DOUGOI',
       'EU DSCHANG AVENUE DES BANQUES  DSCHANG AVENUE DES BANQUES',
       'EU EBOLOWA 1 EBOLOWA', 'EU EBOLOWA 3 EBOLOWA 3',
       'EU EBOLOWA 4 EBOLOWA 4', 'EU EBOLOWA 6  EBOLOWA 6',
       'EU EBOLOWA 6 EBOLOWA 6', 'EU EDEA AXE LOURD EU EDEA AXE LOURD',
       'EU Ekounou Ekounou', 'EU Eleveur Eleveur',
       'EU Elig essono  Elig essono', 'EU Elig essono Elig essono',
       'EU Emombo Emombo', 'EU eseka 1 Eseka1', 'EU ETOA MEKI ETOA MEKI',
       'EU Etoudi SA Etoudi', 'EUF KOUSSERI EUF KOUSSERI',
       'EUF MAROUA MAROUA', 'EU FOUDA FOUDA',
       'EU FOUMBAN CENTRE  FOUMBAN CENTRE',
       'EU FOUMBAN FOYER FOUMBAN FOYER', 'EU FOUMBOT FOUMBOT',
       'EU GAROUA AVENUE DES BANQUES  EU GAROUA AVENUE DES BANQUES',
       'EU GAROUA AVENUE DES BANQUES EU GAROUA AVENUE DES BANQUES',
       'EU GAROUA BALMARI EU GAROUA BALMARI',
       'EU GAROUA BIBEMIRE EU GAROUA BIBEMIRE',
       'EU GAROUA BOULAI 3 EU GAROUA BOULAI 3',
       'EU GAROUA BOULAI EU GAROUA BOULAI',
       'EU GAROUA CAMP CHINOIS EU GAROUA CAMP CHINOIS',
       'EU GAROUA EU GAROUA', 'EU GAROUA IV EU GAROUA IV',
       'EU GUIDER EU GUIDER', 'EU Hippodrome  Hippodrome',
       'EU KOUSSERI IV EU KOUSSERI IV', 'EU KOUTABA KOUTABA',
       'EU KRIBI MOSQUEE EU KRIBI MOSQUEE', 'EU KUMBA 1 KUMBA 1',
       'EU KYE OSSI 3 KYE OSSI 3', 'EU LIMBE2 LIMBE2',
       'EU LOMIE EU LOMIE', 'EU LOUM II EU LOUM II',
       'EU MADINGRING EU MADINGRING',
       'EU MAROUA ARTISANAT EU MAROUA ARTISANAT',
       'EU MAROUA CAMP SIC EU MAROUA CAMP SIC',
       'EU MAROUA DJARENGOL EU MAROUA DJARENGOL',
       'EU MAROUA DOMAYO EU MAROUA DOMAYO', 'EU MAROUA MAROUA',
       'EU MBALLA 2 MBALLA 2', 'EU MBALMAYO ll MBALMAYO ll',
       'EU MBANGA EU MBANGA', 'EU MBOUDA STELLA MBOUDA STELLA',
       'EU MEIGANGA SA', 'EU MENDONG MENDONG',
       'EU MESSAMEDONGO MESSAMEDONGO', 'EU MESSASSI  MESSASSI',
       'EU MOKOLO EU MOKOLO', 'EU MOKOLO MOKOLO',
       'EU MOLOUNDOU EU MOLOUNDOU', 'EU MONTI MONTI',
       'EU MVOG ADA MVOG ADA', 'EU MVOG MBI SA MVOG MBI SA',
       'EU MVOUNDOU MVOUNDOU',
       'EU Ngaoundere Brasseries Ngaoundere Brasseries',
       'EU Ngaoundere Dang Ngaoundere Dang', 'EU Ngaoundere Ngaoundere',
       'EU Ngaoundere petit marché  Ngaoundere petit marché',
       'EU NGOA EKELLE 2 NGOA EKELLE 2',
       'EU NGOA EKELLE III CHATEAU  NGOA EKELLE III CHATEAU',
       'EU NGOA EKELLE NGOA EKELLE', 'EU NGOUSSO NGOUSSO',
       'EU NIKI SA NIKI', 'EU NKOABANG NKOABANG',
       'EU NKOLBISSON 2 NKOLBISSON 2', 'EU NKOLDONGO  NKOLDONGO',
       'EU NKONDEGUI NKONDEGUI',
       'EU NKONG GRD TEMPLE EU NKONG GRD TEMPLE', 'EU NTUI NTUI',
       'EU NYALLA EU NYALLA', 'EU ODZOA AUBERGE BLEU',
       'EU Paierie Ane Rouge  Paierie Ane rouge', 'EU PK 14 EU PK 14',
       'EU POSTE CENTRALE II',
       'EU ROND POINT EXPRESS EU ROND POINT EXPRESS',
       'EU ROND POINT NLONGKAK EU ROND POINT NLONGKAK',
       'EU SANGMELIMA1 SANGLELIMA 1', 'EU SOA SOA', 'EU SOMATEL  SOMATEL',
       'EU TCHOLLIRÉ TCHOLLIRÉ', 'EU Tibati Tibati', 'EU TIKO TIKO',
       'EU Touboro Touboro', 'EU TSINGA3 TSINGA 3', 'EU TSINGA TSINGA',
       'EU Warda Warda', 'EU YAGOUA II EU YAGOUA II',
       'EU YDE BRIQUETTERIE EU YDE BRIQUETTERIE',
       'EU YDE DAMAS YDE DAMAS', 'EU YDE OMNISPORT OMNISPORT',
       'EU YOKADOUMA 3 EU YOKADOUMA 3'], dtype=object)

In [35]:
# Define a function to check if a name matches Express Union patterns
def is_express_union_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip()
    return name.startswith('EU ') or name.startswith('EUF ') or name == 'EXPRESS UNIONSA'

# Get transactions where either sender or receiver matches Express Union pattern
express_union_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_express_union_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_express_union_agency))
].copy()

# Display first few rows
print("Express Union transactions:")
express_union_transactions_df.head()

Express Union transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
4,W202507018131849,WALLET_TO_WALLET,AGENT,EU TouboroTouboro,237683750798,787900.0,280000,507900.0,,,237699427850,ERIC TAMO FOTSO,10991.6,290991.6,AGENT_WEB,COMPLETED,14:06:04,2025-07-01
7,W202507018135061,WALLET_TO_WALLET,AGENT,EU FOUMBAN FOYERFOUMBAN FOYER,237683726639,711800.0,100000,611800.0,,,237656946405,IBRAHIM NGOULOURE MOUMBAGNA,200.0,100200.0,AGENT_WEB,COMPLETED,15:14:57,2025-07-01
20,W202507028147796,WALLET_TO_WALLET,AGENT,EU eseka 1Eseka1,237683753101,2698500.0,2600000,98500.0,,,237679530802,EXPRESS UNIONSA,52064.0,2652064.0,AGENT_WEB,COMPLETED,08:28:00,2025-07-02
27,W202507028149398,WALLET_TO_WALLET,AGENT,EXPRESS UNIONSA,237679530802,2652064.0,2000000,652064.0,,,237683750798,EU TouboroTouboro,507900.0,2507900.0,AGENT_WEB,COMPLETED,10:19:43,2025-07-02
35,W202507028151925,CASH_OUT,AGENT,EU TouboroTouboro,237683750798,2507900.0,2500000,7900.0,10005-00101-09505121701-41,HAMADOU OUMATE,0,,NaN,NaN,AGENT_WEB,COMPLETED,13:10:34,2025-07-02

In [36]:
express_union_transactions_df.shape

(102, 18)

#### Function to identify all Instant transfert transactions(IT)

In [37]:
it_agences

array(['IT ACACIA  YAOUNDE', 'IT BAYANGAM 2 CB IT BAYANGAM 2',
       'IT CAMP YABASSI', 'IT CITE DES PALMIERS', 'IT DEIDO',
       'IT DIRECTION  GENERALE NKOLFOULOU', 'IT EMANA', 'IT HIPPODROME',
       'IT LOGPOM', 'IT MADAGASCAR', 'IT MVAN', 'IT NDOGBONG',
       'IT NKOLBISSON', 'IT NSAM', 'IT NSIMEYONG',
       'IT OYOM ABANG PASSERELLE', 'IT SANTA BARBARA', 'IT SOA'],
      dtype=object)

In [38]:
# Define a function to check if a name matches Instant Transfer patterns
def is_instant_transfer_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip()
    return name.startswith('IT ') or name == 'INSTANTTRANSFER SARL'

# Get transactions where either sender or receiver matches Instant Transfer pattern 
instant_transfer_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_instant_transfer_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_instant_transfer_agency))
].copy()

# Display first few rows
print("Instant Transfer transactions:")
instant_transfer_transactions_df.head()

Instant Transfer transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
0,W202507018128130,WALLET_TO_WALLET,AGENT,IT BALI,237679965512,1824323.0,130000,1694323.0,,,237678509063,BINTOU NGOUNGOURE MVUH,15053.1,145053.1,AGENT_WEB,COMPLETED,11:02:59,2025-07-01
5,W202507018133872,WALLET_TO_WALLET,AGENT,IT NDOGBONG,237673632295,41980.0,41000,980.0,,,237678539805,Motnba Joseline Colbie,69787.8,110787.8,AGENT_WEB,COMPLETED,14:44:46,2025-07-01
6,W202507018134290,WALLET_TO_WALLET,AGENT,IT ACACIA YAOUNDE,237671731495,12843450.0,12000,12831450.0,,,237671936079,KABEYENE ZANGA EDITH ANNE,48893.2,60893.2,AGENT_WEB,COMPLETED,14:56:13,2025-07-01
8,W202507018135385,WALLET_TO_WALLET,AGENT,IT NDOGBONG,237673632295,50980.0,43000,7980.0,,,237678539805,Motnba Joseline Colbie,110787.8,153787.8,AGENT_WEB,COMPLETED,15:20:25,2025-07-01
9,W202507018136913,WALLET_TO_WALLET,AGENT,IT ACACIA YAOUNDE,237671731495,12831450.0,50000,12781450.0,,,237697975638,EDJONGO NGONO ORNELLA SANDRA,535.7,50535.7,AGENT_WEB,COMPLETED,15:40:55,2025-07-01

In [39]:
instant_transfer_transactions_df.shape

(505, 18)

#### Function to identify Multi-Service Sarl transactions

In [40]:
ms_agences

array(['BLAISE DORIN MS DEMAZE NZOYEM',
       'CB ALONGIFOR AMSTRONG ATEFANGWI ATEFANGWI',
       'CB AMSETOU YIAGNIGNI', 'CB CHIMSI REGINA CHIMSI',
       'CB DAMSEU Salomon', 'CB DJOUELA NOUMSI DISO MENE',
       'CB DORINE HOMSI', 'CB EMILIE PASCALINE GHAMSSI GHAMSSI',
       'CB ESTELLE KAMSEU', 'CB ETS SONY  TELECOMS',
       'CB HERMAN GAPIMSI DOMCHE', 'CB INTELLIGENCE TELECOMS',
       'CB MEDEFIE GOMSI  YOLANDE', 'CB ROGER WOMSI',
       'CB ROSA NGASSAM NYAMSI NGASSAM', 'CB TCHOUAYOU NYAMSI LEOCADIE',
       'CB TMS MARTIAL SIMEU', 'CB VICTORY IHIMS',
       'CB YOUMSI FOADJO JEANNE DORCAS FOADJO',
       'David Consolateur  MS Ndjacko A Mbana',
       'Djimele  MS Juslain Martial', 'KAMSSOULMOU ISMAILOU ISMAILOU',
       'KAMSU YVI LAURE KAMSU', 'LARISSA LAURE MS TEIDONG DJEUMO',
       'MS ADELINE YAKAM', 'MS  AFRIQUA GASTON MISSE',
       'MS ALICE MICHELE NTOTCHOU', 'MS ANNE NZEKUI',
       'MS ANTOINETTE FIDELE EONE',
       'MS ASTRID MICLANCHE NGOUNE NGUIMNANG', 'MS BERLINE TCHEUKO',
       'MS BRIGITTE NGO GWET', 'MS CHANCELINE MEDAM PATCHONG',
       'MS CHARLES  CHRISTIAN  ZEH ELLE', 'MS CHARLIE FLORE HYMELE',
       'MS David Consolateur   Ndjacko A Mbana',
       'MS DELORINE LAURE MAKOULO TAKAM epse TAGUIMDJIO',
       'MS ERIC GATHUESSI KAMDOUM', 'MS  ETS YUZCO YUZCO',
       'MS EXIBERT DJEMMO TAGNE', 'MS FABRICE WILFRIDE KADJI',
       'MS GENEVIEVE CARINE MAGANG SOH', 'MS HALGED TELECOM01  SARL',
       'MS HALGED TELECOM02 SARL', 'MS HALGED TELECOM03 SARL',
       'MS HALGED TELECOM04 SARL', 'MS HALGED TELECOM SARL',
       'MS JEAN DANIEL DONGMO', 'MS JEAN LOIC TCHANKO',
       'MS JOSEPH BERTRAND DONFACK TSAFACK', 'MS JULIEN SALOMON MANI',
       'MS JUSTINE MBEZELE', 'MS LAMARE FATIM YIGAM',
       'MS LANDRY MERVEIL TEWA TCHIFFO',
       'MS LAURETTE PASCALINE MEKOUALEU', 'MS LESLIE TATIANA MBAKOP',
       'MS MOUSTAPHA SIDDI', 'MS MULTISERVICES 01 MS',
       'MS  MULTISERVICES02', 'MS MULTISERVICES03 SARL',
       'MS MULTISERVICES04 SARL', 'MS MULTISERVICES05 SARL',
       'MS MULTISERVICES06 SARL', 'MS MULTISERVICES07 SARL',
       'MS MULTISERVICES08 SARL', 'MS MULTISERVICES09 SARL',
       'MS NADEGE NDODI MBAH', 'MS NOELLE ULYSSE YOUMBI TIENJEU',
       'MS REGINE KIAJIO CHOUNNA', 'MS ROSETTE KOKO KOLLO',
       'MS ROSINE  MASSA', 'MS SABINE FOFACK',
       'MS SANDRINE MIREILLE NGO MBELECK',
       'MS STALINE SANDRA AGHOGUE DONKENG', 'MS SYLVAIN EDIE',
       'MS VANESSA FALONNE TCHOUAKUI', 'MS VANESSA LAURE TEUMI',
       'MS VERONIQUE ELALIE DJUISSI EPOUSE BALAM',
       'MS YOLLANDE LABLANCHE SOPKOUTIE'], dtype=object)

In [41]:
# Extract CB entries to add to call_box_agences
cb_entries = np.array([x for x in ms_agences if x.startswith('CB ')])

# Combine with existing call_box_agences and remove duplicates
call_box_agences = np.unique(np.concatenate([call_box_agences, cb_entries]))

# Filter out CB entries from ms_agences array
ms_agences = np.array([x for x in ms_agences if not x.startswith('CB ')])

# Display filtered ms_agences
ms_agences

array(['BLAISE DORIN MS DEMAZE NZOYEM',
       'David Consolateur  MS Ndjacko A Mbana',
       'Djimele  MS Juslain Martial', 'KAMSSOULMOU ISMAILOU ISMAILOU',
       'KAMSU YVI LAURE KAMSU', 'LARISSA LAURE MS TEIDONG DJEUMO',
       'MS ADELINE YAKAM', 'MS  AFRIQUA GASTON MISSE',
       'MS ALICE MICHELE NTOTCHOU', 'MS ANNE NZEKUI',
       'MS ANTOINETTE FIDELE EONE',
       'MS ASTRID MICLANCHE NGOUNE NGUIMNANG', 'MS BERLINE TCHEUKO',
       'MS BRIGITTE NGO GWET', 'MS CHANCELINE MEDAM PATCHONG',
       'MS CHARLES  CHRISTIAN  ZEH ELLE', 'MS CHARLIE FLORE HYMELE',
       'MS David Consolateur   Ndjacko A Mbana',
       'MS DELORINE LAURE MAKOULO TAKAM epse TAGUIMDJIO',
       'MS ERIC GATHUESSI KAMDOUM', 'MS  ETS YUZCO YUZCO',
       'MS EXIBERT DJEMMO TAGNE', 'MS FABRICE WILFRIDE KADJI',
       'MS GENEVIEVE CARINE MAGANG SOH', 'MS HALGED TELECOM01  SARL',
       'MS HALGED TELECOM02 SARL', 'MS HALGED TELECOM03 SARL',
       'MS HALGED TELECOM04 SARL', 'MS HALGED TELECOM SARL',
       'MS JEAN DANIEL DONGMO', 'MS JEAN LOIC TCHANKO',
       'MS JOSEPH BERTRAND DONFACK TSAFACK', 'MS JULIEN SALOMON MANI',
       'MS JUSTINE MBEZELE', 'MS LAMARE FATIM YIGAM',
       'MS LANDRY MERVEIL TEWA TCHIFFO',
       'MS LAURETTE PASCALINE MEKOUALEU', 'MS LESLIE TATIANA MBAKOP',
       'MS MOUSTAPHA SIDDI', 'MS MULTISERVICES 01 MS',
       'MS  MULTISERVICES02', 'MS MULTISERVICES03 SARL',
       'MS MULTISERVICES04 SARL', 'MS MULTISERVICES05 SARL',
       'MS MULTISERVICES06 SARL', 'MS MULTISERVICES07 SARL',
       'MS MULTISERVICES08 SARL', 'MS MULTISERVICES09 SARL',
       'MS NADEGE NDODI MBAH', 'MS NOELLE ULYSSE YOUMBI TIENJEU',
       'MS REGINE KIAJIO CHOUNNA', 'MS ROSETTE KOKO KOLLO',
       'MS ROSINE  MASSA', 'MS SABINE FOFACK',
       'MS SANDRINE MIREILLE NGO MBELECK',
       'MS STALINE SANDRA AGHOGUE DONKENG', 'MS SYLVAIN EDIE',
       'MS VANESSA FALONNE TCHOUAKUI', 'MS VANESSA LAURE TEUMI',
       'MS VERONIQUE ELALIE DJUISSI EPOUSE BALAM',
       'MS YOLLANDE LABLANCHE SOPKOUTIE'], dtype='<U47')

In [42]:
# Define a function to check if a name matches Multi-Service patterns
def is_multiservice_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip()
    # Check if name starts with 'MS ' or contains 'MULTI-SERVICE'
    if name.startswith('MS ') or 'MULTI-SERVICE' in name.upper():
        return True
    # Check for isolated 'MS' in the name
    words = name.split()
    if 'MS' in words:
        return True
    return False

# Get transactions where either sender or receiver matches Multi-Service pattern
multiservice_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_multiservice_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_multiservice_agency))
].copy()

# Display first few rows
print("Multi-Service transactions:")
multiservice_transactions_df.head()

Multi-Service transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
12,W202507018140096,WALLET_TO_WALLET,AGENT,MS MULTISERVICES02,237655084521,10000.0,10000,0.0,,,237673622528,MULTI-SERVICE SARL,150000.0,160000.0,AGENT_MOBILE,COMPLETED,17:34:26,2025-07-01
13,W202507018142641,WALLET_TO_WALLET,AGENT,MULTI-SERVICE SARL,237673622528,160000.0,110000,50000.0,,,237657227908,CB TCHOUKEULENY FRANCIS,0.0,110000.0,AGENT_WEB,COMPLETED,19:16:14,2025-07-01
92,W202507038178163,WALLET_TO_WALLET,AGENT,MULTI-SERVICE SARL,237673622528,2050000.0,50000,2000000.0,,,237657227908,TCHOUKEU LENY FRANCIS,15722.2,65722.2,AGENT_WEB,COMPLETED,18:01:40,2025-07-03
93,W202507038178552,WALLET_TO_WALLET,AGENT,MS MULTISERVICES09SARL,237659023887,232000.0,200000,32000.0,,,237673622528,MULTI-SERVICE SARL,2000000.0,2200000.0,AGENT_WEB,COMPLETED,18:24:46,2025-07-03
200,W202507048191568,CASH_OUT,AGENT,MULTI-SERVICE SARL,237673622528,2050000.0,2050000,0.0,10005-00022-07959581101-37,MBEM BIYO DAMASE,0,,NaN,NaN,AGENT_WEB,COMPLETED,18:47:22,2025-07-04

In [43]:
multiservice_transactions_df['Nom portefeuille expediteur'].unique()

array(['MS MULTISERVICES02', 'MULTI-SERVICE SARL',
       'MS MULTISERVICES09SARL', '', 'MS MULTISERVICES07SARL',
       'MS HALGED TELECOM04SARL', 'MS MULTISERVICES04SARL'], dtype=object)

In [44]:
# Filter for transactions with 'MULTI-SERVICE SARL' as either sender or receiver
super_agent_transactions = multiservice_transactions_df[
    (multiservice_transactions_df['Nom portefeuille expediteur'] == 'MULTI-SERVICE SARL') |
    (multiservice_transactions_df['Nom portefeuille destinataire'] == 'MULTI-SERVICE SARL')
]

# Display the filtered transactions
print("Super agent (MULTI-SERVICE SARL) transactions:")
super_agent_transactions.head()

Super agent (MULTI-SERVICE SARL) transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
12,W202507018140096,WALLET_TO_WALLET,AGENT,MS MULTISERVICES02,237655084521,10000.0,10000,0.0,,,237673622528,MULTI-SERVICE SARL,150000.0,160000.0,AGENT_MOBILE,COMPLETED,17:34:26,2025-07-01
13,W202507018142641,WALLET_TO_WALLET,AGENT,MULTI-SERVICE SARL,237673622528,160000.0,110000,50000.0,,,237657227908,CB TCHOUKEULENY FRANCIS,0.0,110000.0,AGENT_WEB,COMPLETED,19:16:14,2025-07-01
92,W202507038178163,WALLET_TO_WALLET,AGENT,MULTI-SERVICE SARL,237673622528,2050000.0,50000,2000000.0,,,237657227908,TCHOUKEU LENY FRANCIS,15722.2,65722.2,AGENT_WEB,COMPLETED,18:01:40,2025-07-03
93,W202507038178552,WALLET_TO_WALLET,AGENT,MS MULTISERVICES09SARL,237659023887,232000.0,200000,32000.0,,,237673622528,MULTI-SERVICE SARL,2000000.0,2200000.0,AGENT_WEB,COMPLETED,18:24:46,2025-07-03
200,W202507048191568,CASH_OUT,AGENT,MULTI-SERVICE SARL,237673622528,2050000.0,2050000,0.0,10005-00022-07959581101-37,MBEM BIYO DAMASE,0,,NaN,NaN,AGENT_WEB,COMPLETED,18:47:22,2025-07-04

In [45]:
multiservice_transactions_df.shape

(50, 18)

#### Function to identify Muffa transactions...

In [46]:
muffa_agences

array(['MUFFA  ANGOUNDA NKOABANG', 'MUFFA ANGOUNDA NKOABANG',
       'MUFFA BAFOUSSAM', 'MUFFA BAFOUSSAM 2 KAMKOP', 'MUFFA BONABERI',
       'MUFFA BONAMOUSSADI', 'MUFFA  BUEA', 'MUFFA DOUALA BALI',
       'MUFFA EMANA', 'MUFFA EMOMBO', 'MUFFA KYE OSSI',
       'MUFFA MOKOLO MUFFA MOKOLO', 'MUFFA YAOUNDE BIYEM-ASSI',
       'MUFFA YAOUNDE NKOMKANA'], dtype=object)

In [47]:
# Define a function to check if a name matches Muffa patterns
def is_muffa_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip().upper()
    return name.startswith('MUFFA')

# Get transactions where either sender or receiver matches Muffa pattern
muffa_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_muffa_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_muffa_agency))
].copy()

# Display first few rows
print("Muffa transactions:")
muffa_transactions_df.head()

Muffa transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
451,W202507108329169,WALLET_TO_WALLET,AGENT,MUFFA BAFOUSSAM 2KAMKOP,237659814581,271000.0,500,270500.0,,,237696644331,KEVIN METCHEUKA TAKEM,76904.5,77404.5,AGENT_WEB,COMPLETED,16:02:31,2025-07-10
454,W202507108329269,CASH_OUT,AGENT,MUFFA BAFOUSSAM 2KAMKOP,237659814581,271000.0,5000,266000.0,10005-00001-04960361101-07,METCHEUKA TAKEM KEVIN WILLIAM,0,,NaN,NaN,AGENT_WEB,COMPLETED,16:12:35,2025-07-10
543,W202507118336735,WALLET_TO_WALLET,AGENT,MUFFA YAOUNDE BIYEM-ASSI,237654873696,1554705.0,1000,1553705.0,,,237656256388,NSENGUET NGATCHA Cyril,43821.3,44821.3,AGENT_WEB,COMPLETED,11:34:50,2025-07-11
549,W202507118337981,CASH_OUT,AGENT,MUFFA MOKOLOMUFFA MOKOLO,237658035451,1300.0,500,800.0,10005-00087-09385951051-77,NSENGUET NGATCHA CYRIL,0,,NaN,NaN,AGENT_WEB,COMPLETED,14:39:30,2025-07-11
550,W202507118338015,WALLET_TO_WALLET,AGENT,MUFFA MOKOLOMUFFA MOKOLO,237658035451,1300.0,1000,300.0,,,237656256388,NSENGUET NGATCHA Cyril,41321.3,42321.3,AGENT_WEB,COMPLETED,14:53:48,2025-07-11

In [48]:
muffa_transactions_df.shape

(11, 18)

#### Function to identify all Call box transactions

In [49]:
call_box_agences

array(['CB   EMMANUEL ATANGANA', 'CB  ABDOUWABI ngo bikoi',
       'CB  ARMEL  NKOUANGA NDJEUHA', ..., 'CB tido  kenyo T',
       'CB viviane LAURE', 'CB wandji  wandji tchaptche'], dtype=object)

In [50]:
# Define a function to check if a name matches Call Box patterns
def is_call_box_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip().upper()
    return name.startswith('CB')

# Get transactions where either sender or receiver matches Call Box pattern
call_box_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_call_box_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_call_box_agency))
].copy()

# Display first few rows
print("Call Box transactions:")
call_box_transactions_df.head()

Call Box transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
13,W202507018142641,WALLET_TO_WALLET,AGENT,MULTI-SERVICE SARL,237673622528,160000.0,110000,50000.0,,,237657227908,CB TCHOUKEULENY FRANCIS,0.0,110000.0,AGENT_WEB,COMPLETED,19:16:14,2025-07-01
36,W202507028152278,WALLET_TO_WALLET,AGENT,CB MOHAMADOUABDOUL,237675580015,14416.0,11500,2916.0,,,237693353583,SIDDI MOUSTAPHA,74.0,11574.0,AGENT_MOBILE,COMPLETED,13:31:05,2025-07-02
49,W202507028155373,WALLET_TO_WALLET,AGENT,CB ALLANFEZE,237697252795,25000.0,10500,14500.0,,,237656256388,NSENGUET NGATCHA Cyril,5432.6,15932.6,AGENT_WEB,COMPLETED,17:16:54,2025-07-02
50,W202507028156704,WALLET_TO_WALLET,AGENT,CB TCHOUKEULENY FRANCIS,237657227908,110000.0,109000,1000.0,,,237670830246,Audrey Mazoua Kenfo,0.0,109000.0,AGENT_MOBILE,COMPLETED,18:55:47,2025-07-02
72,W202507038166993,WALLET_TO_WALLET,AGENT,CB ALLANFEZE,237697252795,14500.0,14500,0.0,,,237697252795,ALLAN LOIC FEZE DZALI,365628.1,380128.1,AGENT_WEB,COMPLETED,12:14:48,2025-07-03

In [51]:
call_box_transactions_df.shape

(73, 18)

#### Super agent Names...

In [52]:
hop_super_agent = 'HOP SERVICESARL'
express_union_super_agent = 'EXPRESS UNIONSA'
emi_money_super_agent = 'EMI MONEY SARL'
multiservice_super_agent = 'MULTI-SERVICE SARL'
instant_transfer_super_agent = 'INSTANTTRANSFER SARL'

#### Recap of the different agences dataframes

In [53]:
hop_transactions_df.shape, emi_money_transactions_df.shape, express_union_transactions_df.shape, instant_transfer_transactions_df.shape, multiservice_transactions_df.shape, muffa_transactions_df.shape, call_box_transactions_df.shape

((498, 18), (97, 18), (102, 18), (505, 18), (50, 18), (11, 18), (73, 18))

In [54]:
# Sum all rows from different agency dataframes
total_agency_transactions = (
    len(hop_transactions_df) + 
    len(emi_money_transactions_df) + 
    len(express_union_transactions_df) + 
    len(instant_transfer_transactions_df) + 
    len(multiservice_transactions_df) + 
    len(muffa_transactions_df) + 
    len(call_box_transactions_df)
)

print(f"Total number of agency transactions: {total_agency_transactions}")

Total number of agency transactions: 1336

In [55]:
# Get all transactions that are not in any agency dataframe
non_agency_transactions = transactions_df[
    ~(
        # Check if transaction is not in any agency dataframe
        transactions_df.index.isin(hop_transactions_df.index) |
        transactions_df.index.isin(emi_money_transactions_df.index) |
        transactions_df.index.isin(express_union_transactions_df.index) |
        transactions_df.index.isin(instant_transfer_transactions_df.index) |
        transactions_df.index.isin(multiservice_transactions_df.index) |
        transactions_df.index.isin(muffa_transactions_df.index) |
        transactions_df.index.isin(call_box_transactions_df.index)
    )
].copy()

print(f"Number of transactions not in any agency dataframe: {len(non_agency_transactions)}")
print("\nSample of transactions not in any agency dataframe:")
display(non_agency_transactions.head())

Number of transactions not in any agency dataframe: 4900

Sample of transactions not in any agency dataframe:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
34,W202507028151914,WALLET_TO_WALLET,AGENT,Saka Patrick Arsène,237674521979,1100.0,500,600.0,,,237656177520,PATRICK ARSENE SAKA,897.10,1397.10,AGENT_WEB,COMPLETED,13:09:51,2025-07-02
91,W202507038177211,WALLET_TO_WALLET,AGENT,NADIA AMADOUNADIA AMADOU,237621085149,64500.0,50000,14500.0,,,237657519916,MOUSSA AISHATOU,210377.20,260377.20,AGENT_WEB,COMPLETED,17:06:39,2025-07-03
249,W202507058209919,WALLET_TO_WALLET,AGENT,NADIA AMADOUNADIA AMADOU,237621085149,139500.0,25000,114500.0,,,237699148354,aboubakary amadou,39.50,25039.50,AGENT_WEB,COMPLETED,18:34:37,2025-07-05
307,W202507078254530,CASH_IN,AGENT,,0,NaN,325000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,237657723044,KENFACK ASSONFACK SEGUI PATRICE,10000000.00,10325000.00,AGENT_WEB,COMPLETED,19:51:22,2025-07-07
339,W202507088263705,WALLET_TO_WALLET,AGENT,Agent Joelle,237674742657,7914.0,5000,2914.0,,,237674742657,JOELLE DORIANE TCHINDA,5025.46,10025.46,AGENT_WEB,COMPLETED,16:11:51,2025-07-08

#### Let's see the different agent we are not capturing...

In [56]:
# Get unique sender and receiver names for AGENT transactions not captured by any agency
agent_senders = non_agency_transactions[non_agency_transactions['Type utilisateur transaction'] == 'AGENT']['Nom portefeuille expediteur'].unique()
agent_receivers = non_agency_transactions[non_agency_transactions['Type utilisateur transaction'] == 'AGENT']['Nom portefeuille destinataire'].unique()

print("Unique sender names for AGENT transactions not captured:")
print("-----------------------------------------------------")
for sender in agent_senders:
    print(sender)
    
print("\nUnique receiver names for AGENT transactions not captured:")
print("-------------------------------------------------------") 
for receiver in agent_receivers:
    print(receiver)

Unique sender names for AGENT transactions not captured:
-----------------------------------------------------
Saka Patrick Arsène
NADIA AMADOUNADIA AMADOU

Agent Joelle
DRB-MASTER AGENTDRB
CyrilCyril
JULLY SA
FINANCIAL STARCAMEROUN SA
MIRIANETIOMELA

Unique receiver names for AGENT transactions not captured:
-------------------------------------------------------
PATRICK ARSENE SAKA
MOUSSA AISHATOU
aboubakary amadou
KENFACK ASSONFACK SEGUI PATRICE
JOELLE DORIANE TCHINDA

Agent Joelle
NSENGUET NGATCHA Cyril
SERGE MARTIN OBANBOTO EFA
ALLAN LOIC FEZE DZALI
JOSEPH DJOUBISSIE
IVANNA JEANNE
FINANCIAL STARCAMEROUN SA
FINSTAR CARREFOUR NKOLBISSON Finstar carrefour Nkolbisson
Nadia Amadou
TIOMELA NZOYEM MIRIANE

## Donner le type de transaction

In [57]:
def categorize_transactions(df, is_agency_func, super_agent=None):
    """
    Categorizes transactions based on type and participants.
    
    Args:
        df: DataFrame containing transactions
        is_agency_func: Function that takes a name and returns True if it belongs to the agency
        super_agent: Name of the super agent (optional)
        
    Returns:
        DataFrame with categorized transaction types
    """
    # Create a copy of the DataFrame to avoid modifying the original
    df = df.copy()
    
    # Replace CASH_IN and CASH_OUT
    df['Type transaction'] = df['Type transaction'].replace({
        'CASH_IN': 'Approvisionement',
        'CASH_OUT': 'Versement bancaire'
    })

    # Handle WALLET_TO_WALLET cases
    wallet_mask = df['Type transaction'] == 'WALLET_TO_WALLET'

    # Case 1: From agency or super agent to non-agency (Dépot)
    depot_mask = (
        wallet_mask & 
        ((df['Nom portefeuille expediteur'].apply(is_agency_func)) | 
         (df['Nom portefeuille expediteur'] == super_agent)) &
        ~df['Nom portefeuille destinataire'].apply(is_agency_func)
    )
    df.loc[depot_mask, 'Type transaction'] = 'Dépot'

    # Case 2: From non-agency and non-super agent to agency (Retrait)
    retrait_mask = (
        wallet_mask &
        ~df['Nom portefeuille expediteur'].apply(is_agency_func) &
        (df['Nom portefeuille expediteur'] != super_agent) &
        df['Nom portefeuille destinataire'].apply(is_agency_func)
    )
    df.loc[retrait_mask, 'Type transaction'] = 'Retrait'

    # Only apply super agent logic if super_agent is provided
    if super_agent:
        # Case 3: From super agent to its own agency type (Approvisionement)
        appro_mask = (
            wallet_mask &
            (df['Nom portefeuille expediteur'] == super_agent) &
            df['Nom portefeuille destinataire'].apply(is_agency_func)
        )
        df.loc[appro_mask, 'Type transaction'] = 'Approvisionement'

        # Case 4: From agency to its own super agent type (Décharge)
        decharge_mask = (
            wallet_mask &
            df['Nom portefeuille expediteur'].apply(is_agency_func) &
            (df['Nom portefeuille destinataire'] == super_agent)
        )
        df.loc[decharge_mask, 'Type transaction'] = 'Décharge'

    # Handle transactions between different types of agents
    def is_any_agency(name):
        return (is_hop_agency(name) or is_emi_money_agency(name) or 
                is_express_union_agency(name) or is_instant_transfer_agency(name) or
                is_multiservice_agency(name) or is_muffa_agency(name) or 
                is_call_box_agency(name))

    inter_agency_mask = wallet_mask & (
        df['Nom portefeuille expediteur'].apply(is_any_agency) &
        df['Nom portefeuille destinataire'].apply(is_any_agency)
    )
    
    # For these inter-agency transactions, classify based on balance changes
    retrait_by_balance = (
        inter_agency_mask &
        (df['Solde expediteur avant transaction'] > df['Solde expediteur apres transaction'])
    )
    df.loc[retrait_by_balance, 'Type transaction'] = 'Dépot'
    
    depot_by_balance = (
        inter_agency_mask &
        (df['Solde expediteur avant transaction'] < df['Solde expediteur apres transaction'])
    )
    df.loc[depot_by_balance, 'Type transaction'] = 'Retrait'
    
    return df

# Apply categorization to each dataframe separately
hop_transactions_df = categorize_transactions(hop_transactions_df, is_hop_agency, hop_super_agent)
emi_money_transactions_df = categorize_transactions(emi_money_transactions_df, is_emi_money_agency, None)
express_union_transactions_df = categorize_transactions(express_union_transactions_df, is_express_union_agency, express_union_super_agent)
instant_transfer_transactions_df = categorize_transactions(instant_transfer_transactions_df, is_instant_transfer_agency, instant_transfer_super_agent)
multiservice_transactions_df = categorize_transactions(multiservice_transactions_df, is_multiservice_agency, multiservice_super_agent)
muffa_transactions_df = categorize_transactions(muffa_transactions_df, is_muffa_agency, None)
call_box_transactions_df = categorize_transactions(call_box_transactions_df, is_call_box_agency, None)

In [58]:
hop_transactions_df.head()

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
1,W202507018129662,Dépot,AGENT,HOP ESEKA 2ESEKA 2,237683752726,217000.0,30000,187000.0,,,237681034832,PADY NDE,135000.0,165000.0,AGENT_MOBILE,COMPLETED,11:52:20,2025-07-01
17,W202507028147261,Dépot,AGENT,HOP BANGANGTE lllBANGANGTE III,237683723979,56000.0,55000,1000.0,,,237676678786,ND MOUTSINA HECHEKED,0.0,55000.0,AGENT_WEB,COMPLETED,07:49:40,2025-07-02
19,W202507028147596,Dépot,AGENT,HOP DOUMEHOP DOUME,237683726686,718000.0,718000,0.0,,,237676739074,HOP SERVICESARL,5578450.0,6296450.0,AGENT_WEB,COMPLETED,08:14:28,2025-07-02
33,W202507028151342,Versement bancaire,AGENT,HOP BAFOUSSAM AVENUE WANKO,237683752961,1607900.0,490000,1117900.0,10005-00003-01544291101-24,DENOU YOUBI FABRICE,0,,NaN,NaN,AGENT_WEB,COMPLETED,12:32:32,2025-07-02
41,W202507028153710,Dépot,AGENT,HOP NKONGSAMBA PHARMACIE HOP NKONGSAMBA PHARMACIE,237683725239,96368.0,54790,41578.0,,,237698887086,ULRICH WANDJI DJEUGOUE,0.0,54790.0,AGENT_WEB,COMPLETED,15:10:51,2025-07-02

In [59]:
hop_transactions_df['Type transaction'].value_counts()

Type transaction
Approvisionement      209
Dépot                 157
Versement bancaire    130
Retrait                 2
Name: count, dtype: int64

In [60]:
express_union_transactions_df['Type transaction'].value_counts()

Type transaction
Dépot                 59
Versement bancaire    42
Retrait                1
Name: count, dtype: int64

In [61]:
instant_transfer_transactions_df['Type transaction'].value_counts()

Type transaction
Dépot                 474
Versement bancaire     16
Retrait                15
Name: count, dtype: int64

In [62]:
emi_money_transactions_df['Type transaction'].value_counts()

Type transaction
Dépot                 64
Versement bancaire    30
Retrait                3
Name: count, dtype: int64

In [63]:
multiservice_transactions_df['Type transaction'].value_counts()

Type transaction
Dépot                 47
Approvisionement       2
Versement bancaire     1
Name: count, dtype: int64

In [64]:
call_box_transactions_df['Type transaction'].value_counts()

Type transaction
Dépot                 71
Versement bancaire     2
Name: count, dtype: int64

## Vérifier les cas de Retrait et de Décharge

In [65]:
instant_transfer_transactions_df[instant_transfer_transactions_df['Type transaction'].isin(['Retrait', 'Décharge'])]

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
2182,W202507018134157,Retrait,CUSTOMER,FABRICE NDASSI KAMKUIMO,237655842427,90000.0,90000,0.0,,,237671731495,IT ACACIA YAOUNDE,12753450.0,12843450.0,AGENT_USSD,COMPLETED,14:52:36,2025-07-01
2407,W202507018135230,Retrait,CUSTOMER,Annie tonga tonga,237676849740,81728.3,50000,31728.3,,,237673632295,IT NDOGBONG,980.0,50980.0,AGENT_USSD,COMPLETED,15:18:10,2025-07-01
2420,W202507018135327,Retrait,CUSTOMER,SIGNE ERNEST PAULIN,237699690800,160100.0,100000,60100.0,,,237652072516,IT EMANA,5276875.0,5376875.0,AGENT_USSD,COMPLETED,15:19:39,2025-07-01
2603,W202507018136652,Retrait,CUSTOMER,Temma Berry Samgwa,237654840179,10434.4,5000,5434.4,,,237652073136,IT BAFOUSSAM,251175.0,256175.0,AGENT_USSD,COMPLETED,15:36:47,2025-07-01
2609,W202507018136674,Retrait,CUSTOMER,Immaculate Bi ambe,237682115370,140000.0,10000,130000.0,,,237652072523,IT EKOUNOU,554950.0,564950.0,AGENT_USSD,COMPLETED,15:37:05,2025-07-01
2643,W202507018136875,Retrait,CUSTOMER,Belmondo Njamnyeh Jengop,237670114175,100071.5,100000,71.5,,,237652072475,IT MESSA,647750.3,747750.3,AGENT_USSD,COMPLETED,15:40:17,2025-07-01
2667,W202507018136987,Retrait,CUSTOMER,EDJONGO NGONO ORNELLA SANDRA,237697975638,50535.7,50000,535.7,,,237671731495,IT ACACIA YAOUNDE,12781450.0,12831450.0,AGENT_USSD,COMPLETED,15:42:41,2025-07-01
2861,W202507018137856,Retrait,CUSTOMER,Laba Juliette lumsi,237671147780,5002.9,5000,2.9,,,237652072523,IT EKOUNOU,564950.0,569950.0,AGENT_USSD,COMPLETED,16:03:26,2025-07-01
2963,W202507018138308,Retrait,CUSTOMER,Gervais Arlette HEUMOU MBINYA,237697029059,145250.0,5000,140250.0,,,237671731495,IT ACACIA YAOUNDE,12826250.0,12831250.0,AGENT_USSD,COMPLETED,16:16:07,2025-07-01
2967,W202507018138324,Retrait,CUSTOMER,Fokam FOSSUO URSILE STÉPHANIE,237670041539,792052.1,500000,292052.1,,,237671731495,IT ACACIA YAOUNDE,12831250.0,13331250.0,AGENT_USSD,COMPLETED,16:16:23,2025-07-01
5925,W202507028147099,Retrait,CUSTOMER,Ongmakagne Valérie,237693815840,15730.7,15000,730.7,,,237651303385,IT SOA,1317950.0,1332950.0,AGENT_USSD,COMPLETED,07:38:08,2025-07-02
5941,W202507028147139,Retrait,CUSTOMER,ELVIRE MEFFO MECHE,237658095777,115876.6,70000,45876.6,,,237652072524,IT MELEN,1274825.0,1344825.0,AGENT_USSD,COMPLETED,07:41:03,2025-07-02
5999,W202507028147258,Retrait,CUSTOMER,Landry Vanick Njikam Njikam,237696130023,300020.0,300000,20.0,,,237652072516,IT EMANA,5376875.0,5676875.0,AGENT_USSD,COMPLETED,07:49:33,2025-07-02
6150,W202507028147636,Retrait,CUSTOMER,AGNES AMANDA FABIOLA BAHIDA,237694582505,300110.6,300000,110.6,,,237652072516,IT EMANA,5676875.0,5976875.0,AGENT_USSD,COMPLETED,08:17:07,2025-07-02
6213,W202507028147783,Retrait,CUSTOMER,MOUDZE FRANCIS,237694897973,95956.1,95000,956.1,,,237671731495,IT ACACIA YAOUNDE,12931250.0,13026250.0,AGENT_USSD,COMPLETED,08:26:39,2025-07-02

## Créer les soldes

In [67]:
def create_solde_columns(df):
    """
    Creates unified agent perspective columns for all agency types.
    Uses the specific agency recognition functions instead of hardcoded lists.
    """
    # Helper function to check if a name belongs to any agency type
    def is_any_agency(name):
        return (is_hop_agency(name) or is_emi_money_agency(name) or 
                is_express_union_agency(name) or is_instant_transfer_agency(name) or
                is_multiservice_agency(name) or is_muffa_agency(name) or 
                is_call_box_agency(name))
    
    # First create annuaire_df with unique Nom/Numero pairs
    expediteur_pairs = df[['Nom portefeuille expediteur', 'Numero porte feuille expediteur']].rename(
        columns={'Nom portefeuille expediteur': 'Nom portefeuille', 
                'Numero porte feuille expediteur': 'Numero portefeuille'}
    )
    destinataire_pairs = df[['Nom portefeuille destinataire', 'Numero porte feuille destinataire']].rename(
        columns={'Nom portefeuille destinataire': 'Nom portefeuille',
                'Numero porte feuille destinataire': 'Numero portefeuille'}
    )
    annuaire_df = pd.concat([expediteur_pairs, destinataire_pairs]).drop_duplicates().dropna()

    # Create annuaire for bank accounts
    bank_annuaire = df[['Nom destinataire', 'Compte bancaire destinataire']].dropna().drop_duplicates()

    # Create new columns
    df['Nom portefeuille'] = None
    df['Numero portefeuille'] = None
    df['Solde avant transaction'] = None
    df['Solde après transaction'] = None
    df['Partenaire transaction'] = None
    df['Numero portefeuille partenaire transaction'] = None
    df['Compte bancaire partenaire'] = None

    # When agent is expediteur (using agency recognition functions)
    expediteur_mask = df['Nom portefeuille expediteur'].apply(is_any_agency)
    df.loc[expediteur_mask, 'Nom portefeuille'] = df.loc[expediteur_mask, 'Nom portefeuille expediteur']
    df.loc[expediteur_mask, 'Numero portefeuille'] = df.loc[expediteur_mask, 'Numero porte feuille expediteur']
    df.loc[expediteur_mask, 'Solde avant transaction'] = df.loc[expediteur_mask, 'Solde expediteur avant transaction']
    df.loc[expediteur_mask, 'Solde après transaction'] = df.loc[expediteur_mask, 'Solde expediteur apres transaction']
    df.loc[expediteur_mask, 'Partenaire transaction'] = df.loc[expediteur_mask, 'Nom portefeuille destinataire']
    df.loc[expediteur_mask, 'Numero portefeuille partenaire transaction'] = df.loc[expediteur_mask, 'Numero porte feuille destinataire']
    
    # Add bank account info when available
    bank_mask = expediteur_mask & df['Compte bancaire destinataire'].notna()
    df.loc[bank_mask, 'Compte bancaire partenaire'] = df.loc[bank_mask, 'Compte bancaire destinataire']
    df.loc[bank_mask, 'Partenaire transaction'] = df.loc[bank_mask, 'Nom destinataire']

    # When agent is destinataire (using agency recognition functions)
    destinataire_mask = df['Nom portefeuille destinataire'].apply(is_any_agency)
    df.loc[destinataire_mask, 'Nom portefeuille'] = df.loc[destinataire_mask, 'Nom portefeuille destinataire']
    df.loc[destinataire_mask, 'Numero portefeuille'] = df.loc[destinataire_mask, 'Numero porte feuille destinataire']
    df.loc[destinataire_mask, 'Solde avant transaction'] = df.loc[destinataire_mask, 'Solde destinataire avant transaction']
    df.loc[destinataire_mask, 'Solde après transaction'] = df.loc[destinataire_mask, 'Solde destinataire apres transaction']
    df.loc[destinataire_mask, 'Partenaire transaction'] = df.loc[destinataire_mask, 'Nom portefeuille expediteur']
    df.loc[destinataire_mask, 'Numero portefeuille partenaire transaction'] = df.loc[destinataire_mask, 'Numero porte feuille expediteur']

    # Sort by Nom portefeuille and Date/Heure to see progression
    df = df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])

    # Drop old columns
    columns_to_drop = ['Nom portefeuille expediteur', 'Nom portefeuille destinataire',
                      'Solde expediteur avant transaction', 'Solde expediteur apres transaction', 
                      'Solde destinataire avant transaction', 'Solde destinataire apres transaction',
                      'Numero porte feuille expediteur', 'Numero porte feuille destinataire',
                      'Compte bancaire destinataire', 'Nom destinataire']
    df = df.drop(columns=columns_to_drop)

    return df, annuaire_df, bank_annuaire

# Apply the updated function to all agency dataframes
hop_df, hop_annuaire, hop_bank_annuaire = create_solde_columns(hop_transactions_df)
express_union_df, express_union_annuaire, express_union_bank_annuaire = create_solde_columns(express_union_transactions_df)
emi_money_df, emi_money_annuaire, emi_money_bank_annuaire = create_solde_columns(emi_money_transactions_df)
instant_transfer_df, instant_transfer_annuaire, instant_transfer_bank_annuaire = create_solde_columns(instant_transfer_transactions_df)
multiservice_df, multiservice_annuaire, multiservice_bank_annuaire = create_solde_columns(multiservice_transactions_df)
muffa_df, muffa_annuaire, muffa_bank_annuaire = create_solde_columns(muffa_transactions_df)
call_box_df, call_box_annuaire, call_box_bank_annuaire = create_solde_columns(call_box_transactions_df)

# Display results for verification
print("HOP dataframe:")
hop_df.head()
print("\nExpress Union dataframe:")
express_union_df.head()
print("\nEMI Money dataframe:")
emi_money_df.head()

HOP dataframe:

Express Union dataframe:

EMI Money dataframe:

,Reference transaction,Type transaction,Type utilisateur transaction,Montant transaction,Type canal,Statut transaction,Heure transaction,Date transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire
631,W202507148357412,Dépot,AGENT,500,AGENT_WEB,COMPLETED,14:19:23,2025-07-14,EMI MONEY MAROUA MARCHEEMI MONEY,237683747378,3180.0,2680.0,,237696257862,
633,W202507148357444,Versement bancaire,AGENT,500,AGENT_WEB,COMPLETED,14:22:18,2025-07-14,EMI MONEY MAROUA MARCHEEMI MONEY,237683747378,2680.0,2180.0,MOHAMADOU ABBO,0,10005-00001-08721841051-61
1255,W202507248459818,Versement bancaire,AGENT,500,AGENT_WEB,COMPLETED,09:21:22,2025-07-24,EMI MONEY NGAOUNDERE TONGOEMI MONEY,237683748069,1000.0,500.0,TCHINDA JOELLE DORIANE,0,10005-00001-06737661051-37
52,W202507038160944,Dépot,AGENT,215000,AGENT_WEB,COMPLETED,08:27:45,2025-07-03,EMI MONEY SARL,237683748413,352455.34,567455.34,SarlEmi money Guider,237683747160,
105,W202507048183269,Dépot,AGENT,2500000,AGENT_WEB,COMPLETED,08:32:07,2025-07-04,EMI MONEY SARL,237683748413,567455.34,3067455.34,SarlEmi money Nkongsamba,237683747090,

In [68]:
express_union_df.head()

,Reference transaction,Type transaction,Type utilisateur transaction,Montant transaction,Type canal,Statut transaction,Heure transaction,Date transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire
223,W202507058203520,Versement bancaire,AGENT,160000,AGENT_WEB,COMPLETED,11:56:09,2025-07-05,EU ABONG MBANG 1EU ABONG MBANG 1,237683733675,994000.0,834000.0,TIOMENE DJASSA BORIS,0,10005-00045-06875031051-85
177,W202507048185680,Versement bancaire,AGENT,80000,AGENT_WEB,COMPLETED,11:37:28,2025-07-04,EU BAFOUSSAM KAMKOPBAFOUSSAM KAMKOP,237683751495,302100.0,222100.0,SIDJEU BIANKEU ROSE,0,10005-00036-09314441101-60
1063,W202507228441415,Dépot,AGENT,700000,AGENT_WEB,COMPLETED,09:16:33,2025-07-22,EU BAFOUSSAM KAMKOPBAFOUSSAM KAMKOP,237683751495,222100.0,922100.0,EXPRESS UNIONSA,237679530802,
1077,W202507228441492,Versement bancaire,AGENT,800000,AGENT_WEB,COMPLETED,09:23:40,2025-07-22,EU BAFOUSSAM KAMKOPBAFOUSSAM KAMKOP,237683751495,922100.0,122100.0,TONGANG KENFACK CAREL DONALD,0,10005-00036-07900471101-53
61,W202507038162773,Dépot,AGENT,300000,AGENT_WEB,COMPLETED,10:39:54,2025-07-03,EU BANDJOUN EUSABANDJOUN EUSA,237683752641,720000.0,1020000.0,EXPRESS UNIONSA,237679530802,

In [69]:
emi_money_df.head()

,Reference transaction,Type transaction,Type utilisateur transaction,Montant transaction,Type canal,Statut transaction,Heure transaction,Date transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire
631,W202507148357412,Dépot,AGENT,500,AGENT_WEB,COMPLETED,14:19:23,2025-07-14,EMI MONEY MAROUA MARCHEEMI MONEY,237683747378,3180.0,2680.0,,237696257862,
633,W202507148357444,Versement bancaire,AGENT,500,AGENT_WEB,COMPLETED,14:22:18,2025-07-14,EMI MONEY MAROUA MARCHEEMI MONEY,237683747378,2680.0,2180.0,MOHAMADOU ABBO,0,10005-00001-08721841051-61
1255,W202507248459818,Versement bancaire,AGENT,500,AGENT_WEB,COMPLETED,09:21:22,2025-07-24,EMI MONEY NGAOUNDERE TONGOEMI MONEY,237683748069,1000.0,500.0,TCHINDA JOELLE DORIANE,0,10005-00001-06737661051-37
52,W202507038160944,Dépot,AGENT,215000,AGENT_WEB,COMPLETED,08:27:45,2025-07-03,EMI MONEY SARL,237683748413,352455.34,567455.34,SarlEmi money Guider,237683747160,
105,W202507048183269,Dépot,AGENT,2500000,AGENT_WEB,COMPLETED,08:32:07,2025-07-04,EMI MONEY SARL,237683748413,567455.34,3067455.34,SarlEmi money Nkongsamba,237683747090,

In [70]:
instant_transfer_df.head()

,Reference transaction,Type transaction,Type utilisateur transaction,Montant transaction,Type canal,Statut transaction,Heure transaction,Date transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire
71,W202507038165923,Dépot,AGENT,1000000,AGENT_WEB,COMPLETED,11:45:28,2025-07-03,INSTANTTRANSFER SARL,237694749760,1738186.95,2738186.95,IT DIRECTION GENERALE NKOLFOULOU,237676311241,
80,W202507038170943,Dépot,AGENT,9000000,AGENT_WEB,COMPLETED,14:00:07,2025-07-03,INSTANTTRANSFER SARL,237694749760,2738186.95,11738186.95,IT ACACIA YAOUNDE,237671731495,
90,W202507038175180,Dépot,AGENT,1000000,AGENT_WEB,COMPLETED,15:59:04,2025-07-03,INSTANTTRANSFER SARL,237694749760,11738186.95,12738186.95,IT SOA,237651303385,
262,W202507078249084,Dépot,AGENT,600000,AGENT_WEB,COMPLETED,11:43:18,2025-07-07,INSTANTTRANSFER SARL,237694749760,6063761.95,6663761.95,IT KYE-OSSI,237652166934,
263,W202507078249087,Dépot,AGENT,200000,AGENT_WEB,COMPLETED,11:43:22,2025-07-07,INSTANTTRANSFER SARL,237694749760,6663761.95,6863761.95,IT AKWA LIBERTE,237679982548,

In [72]:
instant_transfer_df[instant_transfer_df["Type transaction"] == "Retrait"]

,Reference transaction,Type transaction,Type utilisateur transaction,Montant transaction,Type canal,Statut transaction,Heure transaction,Date transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire
2182,W202507018134157,Retrait,CUSTOMER,90000,AGENT_USSD,COMPLETED,14:52:36,2025-07-01,IT ACACIA YAOUNDE,237671731495,12753450.0,12843450.0,FABRICE NDASSI KAMKUIMO,237655842427,None
2667,W202507018136987,Retrait,CUSTOMER,50000,AGENT_USSD,COMPLETED,15:42:41,2025-07-01,IT ACACIA YAOUNDE,237671731495,12781450.0,12831450.0,EDJONGO NGONO ORNELLA SANDRA,237697975638,None
2963,W202507018138308,Retrait,CUSTOMER,5000,AGENT_USSD,COMPLETED,16:16:07,2025-07-01,IT ACACIA YAOUNDE,237671731495,12826250.0,12831250.0,Gervais Arlette HEUMOU MBINYA,237697029059,None
2967,W202507018138324,Retrait,CUSTOMER,500000,AGENT_USSD,COMPLETED,16:16:23,2025-07-01,IT ACACIA YAOUNDE,237671731495,12831250.0,13331250.0,Fokam FOSSUO URSILE STÉPHANIE,237670041539,None
6213,W202507028147783,Retrait,CUSTOMER,95000,AGENT_USSD,COMPLETED,08:26:39,2025-07-02,IT ACACIA YAOUNDE,237671731495,12931250.0,13026250.0,MOUDZE FRANCIS,237694897973,None
2603,W202507018136652,Retrait,CUSTOMER,5000,AGENT_USSD,COMPLETED,15:36:47,2025-07-01,IT BAFOUSSAM,237652073136,251175.0,256175.0,Temma Berry Samgwa,237654840179,None
2609,W202507018136674,Retrait,CUSTOMER,10000,AGENT_USSD,COMPLETED,15:37:05,2025-07-01,IT EKOUNOU,237652072523,554950.0,564950.0,Immaculate Bi ambe,237682115370,None
2861,W202507018137856,Retrait,CUSTOMER,5000,AGENT_USSD,COMPLETED,16:03:26,2025-07-01,IT EKOUNOU,237652072523,564950.0,569950.0,Laba Juliette lumsi,237671147780,None
2420,W202507018135327,Retrait,CUSTOMER,100000,AGENT_USSD,COMPLETED,15:19:39,2025-07-01,IT EMANA,237652072516,5276875.0,5376875.0,SIGNE ERNEST PAULIN,237699690800,None
5999,W202507028147258,Retrait,CUSTOMER,300000,AGENT_USSD,COMPLETED,07:49:33,2025-07-02,IT EMANA,237652072516,5376875.0,5676875.0,Landry Vanick Njikam Njikam,237696130023,None
6150,W202507028147636,Retrait,CUSTOMER,300000,AGENT_USSD,COMPLETED,08:17:07,2025-07-02,IT EMANA,237652072516,5676875.0,5976875.0,AGNES AMANDA FABIOLA BAHIDA,237694582505,None
5941,W202507028147139,Retrait,CUSTOMER,70000,AGENT_USSD,COMPLETED,07:41:03,2025-07-02,IT MELEN,237652072524,1274825.0,1344825.0,ELVIRE MEFFO MECHE,237658095777,None
2643,W202507018136875,Retrait,CUSTOMER,100000,AGENT_USSD,COMPLETED,15:40:17,2025-07-01,IT MESSA,237652072475,647750.3,747750.3,Belmondo Njamnyeh Jengop,237670114175,None
2407,W202507018135230,Retrait,CUSTOMER,50000,AGENT_USSD,COMPLETED,15:18:10,2025-07-01,IT NDOGBONG,237673632295,980.0,50980.0,Annie tonga tonga,237676849740,None
5925,W202507028147099,Retrait,CUSTOMER,15000,AGENT_USSD,COMPLETED,07:38:08,2025-07-02,IT SOA,237651303385,1317950.0,1332950.0,Ongmakagne Valérie,237693815840,None

In [76]:
instant_transfer_df[instant_transfer_df["Nom portefeuille"] == "IT ACACIA YAOUNDE"].head(20)

,Reference transaction,Type transaction,Type utilisateur transaction,Montant transaction,Type canal,Statut transaction,Heure transaction,Date transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire
2182,W202507018134157,Retrait,CUSTOMER,90000,AGENT_USSD,COMPLETED,14:52:36,2025-07-01,IT ACACIA YAOUNDE,237671731495,12753450.0,12843450.0,FABRICE NDASSI KAMKUIMO,237655842427,None
6,W202507018134290,Dépot,AGENT,12000,AGENT_WEB,COMPLETED,14:56:13,2025-07-01,IT ACACIA YAOUNDE,237671731495,12843450.0,12831450.0,,237671936079,
9,W202507018136913,Dépot,AGENT,50000,AGENT_WEB,COMPLETED,15:40:55,2025-07-01,IT ACACIA YAOUNDE,237671731495,12831450.0,12781450.0,,237697975638,
2667,W202507018136987,Retrait,CUSTOMER,50000,AGENT_USSD,COMPLETED,15:42:41,2025-07-01,IT ACACIA YAOUNDE,237671731495,12781450.0,12831450.0,EDJONGO NGONO ORNELLA SANDRA,237697975638,None
10,W202507018138037,Dépot,AGENT,5200,AGENT_WEB,COMPLETED,16:08:11,2025-07-01,IT ACACIA YAOUNDE,237671731495,12831450.0,12826250.0,,237697029059,
2963,W202507018138308,Retrait,CUSTOMER,5000,AGENT_USSD,COMPLETED,16:16:07,2025-07-01,IT ACACIA YAOUNDE,237671731495,12826250.0,12831250.0,Gervais Arlette HEUMOU MBINYA,237697029059,None
2967,W202507018138324,Retrait,CUSTOMER,500000,AGENT_USSD,COMPLETED,16:16:23,2025-07-01,IT ACACIA YAOUNDE,237671731495,12831250.0,13331250.0,Fokam FOSSUO URSILE STÉPHANIE,237670041539,None
11,W202507018140022,Dépot,AGENT,100000,AGENT_WEB,COMPLETED,17:30:12,2025-07-01,IT ACACIA YAOUNDE,237671731495,13331250.0,13231250.0,,237672805163,
14,W202507028146948,Dépot,AGENT,300000,AGENT_WEB,COMPLETED,07:26:41,2025-07-02,IT ACACIA YAOUNDE,237671731495,13231250.0,12931250.0,,237697868719,
6213,W202507028147783,Retrait,CUSTOMER,95000,AGENT_USSD,COMPLETED,08:26:39,2025-07-02,IT ACACIA YAOUNDE,237671731495,12931250.0,13026250.0,MOUDZE FRANCIS,237694897973,None
25,W202507028148958,Dépot,AGENT,70000,AGENT_WEB,COMPLETED,09:50:25,2025-07-02,IT ACACIA YAOUNDE,237671731495,13026250.0,12956250.0,,237677223578,
28,W202507028149869,Dépot,AGENT,475000,AGENT_WEB,COMPLETED,10:52:51,2025-07-02,IT ACACIA YAOUNDE,237671731495,12956250.0,12481250.0,,237650725568,
39,W202507028153287,Dépot,AGENT,100000,AGENT_WEB,COMPLETED,14:47:25,2025-07-02,IT ACACIA YAOUNDE,237671731495,12781250.0,12681250.0,,237656744394,
45,W202507028154471,Dépot,AGENT,1000000,AGENT_WEB,COMPLETED,16:07:32,2025-07-02,IT ACACIA YAOUNDE,237671731495,12681250.0,11681250.0,,237670041539,
51,W202507038160143,Dépot,AGENT,350000,AGENT_WEB,COMPLETED,07:21:33,2025-07-03,IT ACACIA YAOUNDE,237671731495,11683250.0,11333250.0,,237697868719,
56,W202507038161806,Dépot,AGENT,1000000,AGENT_WEB,COMPLETED,09:33:43,2025-07-03,IT ACACIA YAOUNDE,237671731495,11333250.0,10333250.0,,237677920909,
57,W202507038161818,Dépot,AGENT,600000,AGENT_WEB,COMPLETED,09:34:20,2025-07-03,IT ACACIA YAOUNDE,237671731495,10333250.0,9733250.0,,237677920909,
65,W202507038163176,Dépot,AGENT,52300,AGENT_WEB,COMPLETED,10:53:16,2025-07-03,IT ACACIA YAOUNDE,237671731495,9733250.0,9680950.0,,237695824124,
66,W202507038163323,Dépot,AGENT,50150,AGENT_WEB,COMPLETED,10:57:39,2025-07-03,IT ACACIA YAOUNDE,237671731495,9680950.0,9630800.0,,237652624190,
167,W202507048184602,Dépot,AGENT,20525,AGENT_WEB,COMPLETED,10:13:47,2025-07-04,IT ACACIA YAOUNDE,237671731495,4539300.0,4518775.0,,237698157099,

In [74]:
instant_transfer_transactions_df[instant_transfer_transactions_df['Type transaction'] == 'Retrait'].head()

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,...,Statut transaction,Heure transaction,Date transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire
2182,W202507018134157,Retrait,CUSTOMER,FABRICE NDASSI KAMKUIMO,237655842427,90000.0,90000,0.0,,,...,COMPLETED,14:52:36,2025-07-01,IT ACACIA YAOUNDE,237671731495,12753450.0,12843450.0,FABRICE NDASSI KAMKUIMO,237655842427,None
2407,W202507018135230,Retrait,CUSTOMER,Annie tonga tonga,237676849740,81728.3,50000,31728.3,,,...,COMPLETED,15:18:10,2025-07-01,IT NDOGBONG,237673632295,980.0,50980.0,Annie tonga tonga,237676849740,None
2420,W202507018135327,Retrait,CUSTOMER,SIGNE ERNEST PAULIN,237699690800,160100.0,100000,60100.0,,,...,COMPLETED,15:19:39,2025-07-01,IT EMANA,237652072516,5276875.0,5376875.0,SIGNE ERNEST PAULIN,237699690800,None
2603,W202507018136652,Retrait,CUSTOMER,Temma Berry Samgwa,237654840179,10434.4,5000,5434.4,,,...,COMPLETED,15:36:47,2025-07-01,IT BAFOUSSAM,237652073136,251175.0,256175.0,Temma Berry Samgwa,237654840179,None
2609,W202507018136674,Retrait,CUSTOMER,Immaculate Bi ambe,237682115370,140000.0,10000,130000.0,,,...,COMPLETED,15:37:05,2025-07-01,IT EKOUNOU,237652072523,554950.0,564950.0,Immaculate Bi ambe,237682115370,None

In [77]:
multiservice_df.head()

,Reference transaction,Type transaction,Type utilisateur transaction,Montant transaction,Type canal,Statut transaction,Heure transaction,Date transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire
13,W202507018142641,Dépot,AGENT,110000,AGENT_WEB,COMPLETED,19:16:14,2025-07-01,CB TCHOUKEULENY FRANCIS,237657227908,0.0,110000.0,MULTI-SERVICE SARL,237673622528,
257,W202507078247305,Dépot,AGENT,5000,AGENT_WEB,COMPLETED,09:35:10,2025-07-07,MS HALGED TELECOM04SARL,237651200478,658500.0,653500.0,,237696353780,
258,W202507078247367,Dépot,AGENT,500000,AGENT_WEB,COMPLETED,09:39:09,2025-07-07,MS HALGED TELECOM04SARL,237651200478,653500.0,153500.0,,237696353780,
371,W202507098309605,Dépot,AGENT,5000,AGENT_WEB,COMPLETED,12:01:21,2025-07-09,MS HALGED TELECOM04SARL,237651200478,153500.0,148500.0,,237696353780,
642,W202507148357881,Dépot,AGENT,2000,AGENT_WEB,COMPLETED,15:10:38,2025-07-14,MS HALGED TELECOM04SARL,237651200478,148500.0,146500.0,,237696353780,

In [78]:
muffa_df.head()

,Reference transaction,Type transaction,Type utilisateur transaction,Montant transaction,Type canal,Statut transaction,Heure transaction,Date transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire
655,W202507148358853,Dépot,AGENT,500,AGENT_WEB,COMPLETED,16:26:47,2025-07-14,MUFFA BAFOUSSAM,237652977182,777436.0,776936.0,,237696644331,
656,W202507148358932,Versement bancaire,AGENT,10000,AGENT_WEB,COMPLETED,16:34:07,2025-07-14,MUFFA BAFOUSSAM,237652977182,777436.0,767436.0,METCHEUKA TAKEM KEVIN WILLIAM,0,10005-00001-04960361101-07
718,W202507168376591,Dépot,AGENT,50000,AGENT_WEB,COMPLETED,11:05:16,2025-07-16,MUFFA BAFOUSSAM,237652977182,767436.0,717436.0,,237670504333,
451,W202507108329169,Dépot,AGENT,500,AGENT_WEB,COMPLETED,16:02:31,2025-07-10,MUFFA BAFOUSSAM 2KAMKOP,237659814581,271000.0,270500.0,,237696644331,
454,W202507108329269,Versement bancaire,AGENT,5000,AGENT_WEB,COMPLETED,16:12:35,2025-07-10,MUFFA BAFOUSSAM 2KAMKOP,237659814581,271000.0,266000.0,METCHEUKA TAKEM KEVIN WILLIAM,0,10005-00001-04960361101-07

In [79]:
call_box_df.head()

,Reference transaction,Type transaction,Type utilisateur transaction,Montant transaction,Type canal,Statut transaction,Heure transaction,Date transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire
49,W202507028155373,Dépot,AGENT,10500,AGENT_WEB,COMPLETED,17:16:54,2025-07-02,CB ALLANFEZE,237697252795,25000.0,14500.0,,237656256388,
72,W202507038166993,Dépot,AGENT,14500,AGENT_WEB,COMPLETED,12:14:48,2025-07-03,CB ALLANFEZE,237697252795,14500.0,0.0,,237697252795,
94,W202507038178831,Dépot,AGENT,60000,AGENT_WEB,COMPLETED,18:44:55,2025-07-03,CB ALLANFEZE,237697252795,365000.0,305000.0,,237656177520,
95,W202507038178846,Dépot,AGENT,25000,AGENT_WEB,COMPLETED,18:45:48,2025-07-03,CB ALLANFEZE,237697252795,305000.0,280000.0,,237670206866,
96,W202507038178862,Dépot,AGENT,20000,AGENT_WEB,COMPLETED,18:47:21,2025-07-03,CB ALLANFEZE,237697252795,280000.0,260000.0,,237695829072,

In [80]:
hop_transactions_df['Solde avant transaction'].isnull().sum(), hop_transactions_df['Solde après transaction'].isnull().sum()

(0, 0)

In [81]:
express_union_transactions_df['Solde avant transaction'].isnull().sum(), express_union_transactions_df['Solde après transaction'].isnull().sum()

(0, 0)

In [82]:
hop_df.columns

Index(['Reference transaction', 'Type transaction',
       'Type utilisateur transaction', 'Montant transaction', 'Type canal',
       'Statut transaction', 'Heure transaction', 'Date transaction',
       'Nom portefeuille', 'Numero portefeuille', 'Solde avant transaction',
       'Solde après transaction', 'Partenaire transaction',
       'Numero portefeuille partenaire transaction',
       'Compte bancaire partenaire'],
      dtype='object')

In [83]:
# Reorder columns
columns_order = ['Date transaction', 'Heure transaction', 'Reference transaction', 
                'Type transaction', 'Type utilisateur transaction', 'Nom portefeuille', 
                'Numero portefeuille', 'Solde avant transaction', 'Montant transaction',
                'Solde après transaction', 'Partenaire transaction',
                'Numero portefeuille partenaire transaction', 'Compte bancaire partenaire',
                'Type canal', 'Statut transaction']

hop_df = hop_df[columns_order]
express_union_df = express_union_df[columns_order]
instant_transfer_df = instant_transfer_df[columns_order]
emi_money_df = emi_money_df[columns_order]
multiservice_df = multiservice_df[columns_order]
muffa_df = muffa_df[columns_order]
call_box_df = call_box_df[columns_order]

In [84]:
hop_df.head()

,Date transaction,Heure transaction,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Montant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire,Type canal,Statut transaction
1095,2025-07-22,10:50:18,W202507228442263,Dépot,AGENT,ALBINEHOP,237683737254,0.0,3000000,3000000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
1096,2025-07-22,10:51:35,W202507228442275,Versement bancaire,AGENT,ALBINEHOP,237683737254,3000000.0,3000000,0.0,MOBILE TELEPHONE NETWORKS,0,10005-00002-00588271001-35,AGENT_WEB,COMPLETED
471,2025-07-10,16:39:15,W202507108329620,Dépot,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,0.0,240000,240000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
484,2025-07-10,16:50:24,W202507108329781,Versement bancaire,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,240000.0,240000,0.0,PHARMACIE DE KENTZOU SARL,0,10005-00102-10016031001-69,AGENT_WEB,COMPLETED
647,2025-07-14,15:52:19,W202507148358322,Dépot,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,0.0,1000000,1000000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED

In [85]:
express_union_df.head()

,Date transaction,Heure transaction,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Montant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire,Type canal,Statut transaction
223,2025-07-05,11:56:09,W202507058203520,Versement bancaire,AGENT,EU ABONG MBANG 1EU ABONG MBANG 1,237683733675,994000.0,160000,834000.0,TIOMENE DJASSA BORIS,0,10005-00045-06875031051-85,AGENT_WEB,COMPLETED
177,2025-07-04,11:37:28,W202507048185680,Versement bancaire,AGENT,EU BAFOUSSAM KAMKOPBAFOUSSAM KAMKOP,237683751495,302100.0,80000,222100.0,SIDJEU BIANKEU ROSE,0,10005-00036-09314441101-60,AGENT_WEB,COMPLETED
1063,2025-07-22,09:16:33,W202507228441415,Dépot,AGENT,EU BAFOUSSAM KAMKOPBAFOUSSAM KAMKOP,237683751495,222100.0,700000,922100.0,EXPRESS UNIONSA,237679530802,,AGENT_WEB,COMPLETED
1077,2025-07-22,09:23:40,W202507228441492,Versement bancaire,AGENT,EU BAFOUSSAM KAMKOPBAFOUSSAM KAMKOP,237683751495,922100.0,800000,122100.0,TONGANG KENFACK CAREL DONALD,0,10005-00036-07900471101-53,AGENT_WEB,COMPLETED
61,2025-07-03,10:39:54,W202507038162773,Dépot,AGENT,EU BANDJOUN EUSABANDJOUN EUSA,237683752641,720000.0,300000,1020000.0,EXPRESS UNIONSA,237679530802,,AGENT_WEB,COMPLETED

In [86]:
hop_df['Type transaction'].value_counts()

Type transaction
Approvisionement      209
Dépot                 157
Versement bancaire    130
Retrait                 2
Name: count, dtype: int64

In [87]:
hop_df['Type utilisateur transaction'].value_counts()

Type utilisateur transaction
AGENT       496
CUSTOMER      2
Name: count, dtype: int64

In [89]:
express_union_df['Type utilisateur transaction'].value_counts()

Type utilisateur transaction
AGENT       101
CUSTOMER      1
Name: count, dtype: int64

In [90]:
express_union_df['Type transaction'].value_counts()

Type transaction
Dépot                 59
Versement bancaire    42
Retrait                1
Name: count, dtype: int64

In [91]:
express_union_df.head()

,Date transaction,Heure transaction,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Montant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire,Type canal,Statut transaction
223,2025-07-05,11:56:09,W202507058203520,Versement bancaire,AGENT,EU ABONG MBANG 1EU ABONG MBANG 1,237683733675,994000.0,160000,834000.0,TIOMENE DJASSA BORIS,0,10005-00045-06875031051-85,AGENT_WEB,COMPLETED
177,2025-07-04,11:37:28,W202507048185680,Versement bancaire,AGENT,EU BAFOUSSAM KAMKOPBAFOUSSAM KAMKOP,237683751495,302100.0,80000,222100.0,SIDJEU BIANKEU ROSE,0,10005-00036-09314441101-60,AGENT_WEB,COMPLETED
1063,2025-07-22,09:16:33,W202507228441415,Dépot,AGENT,EU BAFOUSSAM KAMKOPBAFOUSSAM KAMKOP,237683751495,222100.0,700000,922100.0,EXPRESS UNIONSA,237679530802,,AGENT_WEB,COMPLETED
1077,2025-07-22,09:23:40,W202507228441492,Versement bancaire,AGENT,EU BAFOUSSAM KAMKOPBAFOUSSAM KAMKOP,237683751495,922100.0,800000,122100.0,TONGANG KENFACK CAREL DONALD,0,10005-00036-07900471101-53,AGENT_WEB,COMPLETED
61,2025-07-03,10:39:54,W202507038162773,Dépot,AGENT,EU BANDJOUN EUSABANDJOUN EUSA,237683752641,720000.0,300000,1020000.0,EXPRESS UNIONSA,237679530802,,AGENT_WEB,COMPLETED

In [92]:
# Sort both dataframes by date and time
hop_df = hop_df.sort_values(['Date transaction', 'Heure transaction'])
express_union_df = express_union_df.sort_values(['Date transaction', 'Heure transaction'])
instant_transfer_df = instant_transfer_df.sort_values(['Date transaction', 'Heure transaction'])
emi_money_df = emi_money_df.sort_values(['Date transaction', 'Heure transaction'])
multiservice_df = multiservice_df.sort_values(['Date transaction', 'Heure transaction'])
muffa_df = muffa_df.sort_values(['Date transaction', 'Heure transaction'])
call_box_df = call_box_df.sort_values(['Date transaction', 'Heure transaction'])

In [93]:
# Sort both dataframes by expediteur name, date and time
hop_df = hop_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])
express_union_df = express_union_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])
instant_transfer_df = instant_transfer_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])
emi_money_df = emi_money_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])
multiservice_df = multiservice_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])
muffa_df = muffa_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])
call_box_df = call_box_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])

In [94]:
hop_df.head(20)

,Date transaction,Heure transaction,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Montant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire,Type canal,Statut transaction
1095,2025-07-22,10:50:18,W202507228442263,Dépot,AGENT,ALBINEHOP,237683737254,0.0,3000000,3000000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
1096,2025-07-22,10:51:35,W202507228442275,Versement bancaire,AGENT,ALBINEHOP,237683737254,3000000.0,3000000,0.0,MOBILE TELEPHONE NETWORKS,0,10005-00002-00588271001-35,AGENT_WEB,COMPLETED
471,2025-07-10,16:39:15,W202507108329620,Dépot,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,0.0,240000,240000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
484,2025-07-10,16:50:24,W202507108329781,Versement bancaire,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,240000.0,240000,0.0,PHARMACIE DE KENTZOU SARL,0,10005-00102-10016031001-69,AGENT_WEB,COMPLETED
647,2025-07-14,15:52:19,W202507148358322,Dépot,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,0.0,1000000,1000000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
648,2025-07-14,15:56:03,W202507148358370,Dépot,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,1000000.0,1000000,2000000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
649,2025-07-14,15:58:04,W202507148358385,Dépot,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,2000000.0,331800,2331800.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
652,2025-07-14,16:03:00,W202507148358473,Versement bancaire,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,2331800.0,2331800,0.0,TIENTCHEU POUGOM JOSEPH,0,10005-00045-07387801101-34,AGENT_WEB,COMPLETED
691,2025-07-15,16:47:20,W202507158369704,Dépot,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,0.0,500000,500000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
692,2025-07-15,16:49:50,W202507158369724,Versement bancaire,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,500000.0,500000,0.0,MEUPE NOUYEUMA ULRICH,0,10005-00002-07884111051-71,AGENT_WEB,COMPLETED
707,2025-07-16,09:49:32,W202507168375225,Dépot,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,0.0,360000,360000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
711,2025-07-16,10:40:42,W202507168376065,Versement bancaire,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,360000.0,360000,0.0,PHARMACIE DE KENTZOU SARL,0,10005-00102-10016031001-69,AGENT_WEB,COMPLETED
765,2025-07-17,09:19:32,W202507178388579,Dépot,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,0.0,14700,14700.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
766,2025-07-17,09:27:04,W202507178388685,Versement bancaire,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,14700.0,14700,0.0,TAMGOU KAM DAVY JORDAN,0,10005-00072-10051271101-34,AGENT_WEB,COMPLETED
836,2025-07-17,15:57:26,W202507178393063,Dépot,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,0.0,55000,55000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
838,2025-07-17,16:00:23,W202507178393086,Versement bancaire,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,55000.0,5000,50000.0,MOHAMADOU NAZIFI,0,10005-00101-09617541701-20,AGENT_WEB,COMPLETED
839,2025-07-17,16:03:50,W202507178393122,Versement bancaire,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,50000.0,50000,0.0,BELLA ALEXANDRE FOTSO,0,10005-00025-05755741051-45,AGENT_WEB,COMPLETED
1126,2025-07-22,13:23:17,W202507228443771,Dépot,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,0.0,440000,440000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
1134,2025-07-22,14:39:26,W202507228444482,Versement bancaire,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,440000.0,420000,20000.0,PHARMACIE DE KENTZOU SARL,0,10005-00102-10016031001-69,AGENT_WEB,COMPLETED
327,2025-07-08,14:47:33,W202507088262663,Dépot,AGENT,EU DLA BONABERI NDOBO IIEU DLA BONABERI NDOBO II,237683758441,0.0,130000,130000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED

In [95]:
hop_df.to_excel('transactions_hop_service_martial.xlsx')
express_union_df.to_excel('transactions_express_union_martial.xlsx')
instant_transfer_df.to_excel('transactions_instant_transfer_martial.xlsx')
emi_money_df.to_excel('transactions_emi_money_martial.xlsx')
multiservice_df.to_excel('transactions_multiservice_martial.xlsx')
muffa_df.to_excel('transactions_muffa_martial.xlsx')
call_box_df.to_excel('transactions_call_box_martial.xlsx')