In [1]:
import numpy as np
import pandas as pd
import openpyxl

## Load Data

In [2]:
transactions_agent_df = pd.read_excel('AGENT_29_07_2025.xlsx', header = 1, engine='openpyxl')
transactions_customer_df = pd.read_excel('CUSTOMER_29_07_2025.xlsx', header = 1,  engine = 'openpyxl')

/home/maxtheking/anaconda3/envs/cuda_env/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/maxtheking/anaconda3/envs/cuda_env/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
transactions_agent_df.head()

,Unnamed: 0,Date heure,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction
0,NaN,2025-07-29 07:37:28,W202507298553887,WALLET_TO_WALLET,AGENT,IT SOA,2.376513e+11,21950.0,5000,16950.0,NaN,NaN,2.376938e+11,Ongmakagne Valérie,80624.3,85624.3,AGENT_WEB,COMPLETED
1,NaN,2025-07-29 07:45:08,W202507298554006,WALLET_TO_WALLET,AGENT,IT NDOGBONG,2.376736e+11,18430.0,5000,13430.0,NaN,NaN,2.376581e+11,EDWIGE CHRISTELLE NIMENI,19005.0,24005.0,AGENT_WEB,COMPLETED
2,NaN,2025-07-29 07:50:57,W202507298554078,WALLET_TO_WALLET,AGENT,IT LOGPOM,2.376521e+11,206775.0,6000,200775.0,NaN,NaN,2.376785e+11,BINTOU NGOUNGOURE MVUH,359803.1,365803.1,AGENT_WEB,COMPLETED
3,NaN,2025-07-29 07:51:11,W202507298554080,WALLET_TO_WALLET,AGENT,IT BAFOUSSAM,2.376521e+11,140875.0,6000,134875.0,NaN,NaN,2.376785e+11,BINTOU NGOUNGOURE MVUH,365803.1,371803.1,AGENT_WEB,COMPLETED
4,NaN,2025-07-29 08:39:17,W202507298554670,CASH_OUT,AGENT,HOP ESEKA 2ESEKA 2,2.376838e+11,1687000.0,161000,1526000.0,10005-00033-10278451101-79,NDE PADY JULIO,NaN,NaN,NaN,NaN,AGENT_WEB,COMPLETED

In [4]:
transactions_customer_df.head()

,Unnamed: 0,Date heure,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction
0,NaN,2025-07-29 00:02:02,W202507298552151,CASH_IN,CUSTOMER,NaN,NaN,NaN,100000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376760e+11,NKOTTE ESSONGUE ESTHER,493.2,100493.2,SARA_MOBILE,COMPLETED
1,NaN,2025-07-29 00:02:09,W202507298552152,CASH_IN,CUSTOMER,NaN,NaN,NaN,44000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376563e+11,MIRIAM VARALDE TCHOUPIE DJOMOU,36.8,44036.8,SARA_MOBILE,COMPLETED
2,NaN,2025-07-29 00:02:49,W202507298552155,CASH_IN,CUSTOMER,NaN,NaN,NaN,40000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376987e+11,GUY PERKINS YOUMBI KAMENI,342.2,40342.2,SARA_MOBILE,COMPLETED
3,NaN,2025-07-29 00:04:01,W202507298552156,CASH_IN,CUSTOMER,NaN,NaN,NaN,50000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376937e+11,ESSOME ESSOME OLIVIER,0.6,50000.6,SARA_MOBILE,COMPLETED
4,NaN,2025-07-29 00:04:13,W202507298552157,CASH_IN,CUSTOMER,NaN,NaN,NaN,50000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376997e+11,PND IBRAHIM KAIGAMA BOUKAR,15037.5,65037.5,SARA_MOBILE,COMPLETED

#### Dropping Unnamed:0 column...

In [5]:
transactions_agent_df.drop(['Unnamed: 0'], axis = 1, inplace = True)
transactions_customer_df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [6]:
transactions_agent_df.shape, transactions_customer_df.shape

((138, 17), (5000, 17))

In [7]:
transactions_customer_df.columns

Index(['Date heure', 'Reference transaction', 'Type transaction',
       'Type utilisateur transaction', 'Nom portefeuille expediteur',
       'Numero porte feuille expediteur', 'Solde expediteur avant transaction',
       'Montant transaction', 'Solde expediteur apres transaction',
       'Compte bancaire destinataire', 'Nom destinataire',
       'Numero porte feuille destinataire', 'Nom portefeuille destinataire',
       'Solde destinataire avant transaction',
       'Solde destinataire apres transaction', 'Type canal',
       'Statut transaction'],
      dtype='object')

In [8]:
transactions_agent_df.columns

Index(['Date heure', 'Reference transaction', 'Type transaction',
       'Type utilisateur transaction', 'Nom portefeuille expediteur',
       'Numero porte feuille expediteur', 'Solde expediteur avant transaction',
       'Montant transaction', 'Solde expediteur apres transaction',
       'Compte bancaire destinataire', 'Nom destinataire',
       'Numero porte feuille destinataire', 'Nom portefeuille destinataire',
       'Solde destinataire avant transaction',
       'Solde destinataire apres transaction', 'Type canal',
       'Statut transaction'],
      dtype='object')

In [9]:
transactions_customer_df['Type utilisateur transaction'].value_counts()

Type utilisateur transaction
CUSTOMER    5000
Name: count, dtype: int64

In [10]:
transactions_customer_df[transactions_customer_df['Type utilisateur transaction'] != 'CUSTOMER']

Empty DataFrame
Columns: [Date heure, Reference transaction, Type transaction, Type utilisateur transaction, Nom portefeuille expediteur, Numero porte feuille expediteur, Solde expediteur avant transaction, Montant transaction, Solde expediteur apres transaction, Compte bancaire destinataire, Nom destinataire, Numero porte feuille destinataire, Nom portefeuille destinataire, Solde destinataire avant transaction, Solde destinataire apres transaction, Type canal, Statut transaction]
Index: []

In [11]:
transactions_agent_df.head()

,Date heure,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction
0,2025-07-29 07:37:28,W202507298553887,WALLET_TO_WALLET,AGENT,IT SOA,2.376513e+11,21950.0,5000,16950.0,NaN,NaN,2.376938e+11,Ongmakagne Valérie,80624.3,85624.3,AGENT_WEB,COMPLETED
1,2025-07-29 07:45:08,W202507298554006,WALLET_TO_WALLET,AGENT,IT NDOGBONG,2.376736e+11,18430.0,5000,13430.0,NaN,NaN,2.376581e+11,EDWIGE CHRISTELLE NIMENI,19005.0,24005.0,AGENT_WEB,COMPLETED
2,2025-07-29 07:50:57,W202507298554078,WALLET_TO_WALLET,AGENT,IT LOGPOM,2.376521e+11,206775.0,6000,200775.0,NaN,NaN,2.376785e+11,BINTOU NGOUNGOURE MVUH,359803.1,365803.1,AGENT_WEB,COMPLETED
3,2025-07-29 07:51:11,W202507298554080,WALLET_TO_WALLET,AGENT,IT BAFOUSSAM,2.376521e+11,140875.0,6000,134875.0,NaN,NaN,2.376785e+11,BINTOU NGOUNGOURE MVUH,365803.1,371803.1,AGENT_WEB,COMPLETED
4,2025-07-29 08:39:17,W202507298554670,CASH_OUT,AGENT,HOP ESEKA 2ESEKA 2,2.376838e+11,1687000.0,161000,1526000.0,10005-00033-10278451101-79,NDE PADY JULIO,NaN,NaN,NaN,NaN,AGENT_WEB,COMPLETED

In [12]:
transactions_customer_df.head()

,Date heure,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction
0,2025-07-29 00:02:02,W202507298552151,CASH_IN,CUSTOMER,NaN,NaN,NaN,100000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376760e+11,NKOTTE ESSONGUE ESTHER,493.2,100493.2,SARA_MOBILE,COMPLETED
1,2025-07-29 00:02:09,W202507298552152,CASH_IN,CUSTOMER,NaN,NaN,NaN,44000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376563e+11,MIRIAM VARALDE TCHOUPIE DJOMOU,36.8,44036.8,SARA_MOBILE,COMPLETED
2,2025-07-29 00:02:49,W202507298552155,CASH_IN,CUSTOMER,NaN,NaN,NaN,40000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376987e+11,GUY PERKINS YOUMBI KAMENI,342.2,40342.2,SARA_MOBILE,COMPLETED
3,2025-07-29 00:04:01,W202507298552156,CASH_IN,CUSTOMER,NaN,NaN,NaN,50000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376937e+11,ESSOME ESSOME OLIVIER,0.6,50000.6,SARA_MOBILE,COMPLETED
4,2025-07-29 00:04:13,W202507298552157,CASH_IN,CUSTOMER,NaN,NaN,NaN,50000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,2.376997e+11,PND IBRAHIM KAIGAMA BOUKAR,15037.5,65037.5,SARA_MOBILE,COMPLETED

#### Taking only successful transactions...

In [13]:
transactions_agent_df = transactions_agent_df[transactions_agent_df['Statut transaction'] == "COMPLETED"]
transactions_customer_df = transactions_customer_df[transactions_customer_df['Statut transaction'] == "COMPLETED"]

#### Let's see the new shape...

In [14]:
transactions_agent_df.shape, transactions_customer_df.shape

((138, 17), (5000, 17))

### Combinons les dataframes...

In [15]:
# Concatenate both dataframes into a single transactions dataframe
transactions_df = pd.concat([transactions_agent_df, transactions_customer_df], ignore_index=True)

#### Vérifions la fusion...

In [16]:
transactions_df.shape

(5138, 17)

In [17]:
transactions_df['Type utilisateur transaction'].value_counts()

Type utilisateur transaction
CUSTOMER    5000
AGENT        138
Name: count, dtype: int64

In [18]:
transactions_df["Type transaction"].value_counts()

Type transaction
CASH_IN             4654
CASH_OUT             378
WALLET_TO_WALLET     104
CASH_IN_CAISSE         2
Name: count, dtype: int64

In [19]:
# Keep only CASH_IN, CASH_OUT and WALLET_TO_WALLET transactions
transactions_df = transactions_df[transactions_df['Type transaction'].isin(['CASH_IN', 'CASH_OUT', 'WALLET_TO_WALLET'])]

In [20]:
transactions_df["Type transaction"].value_counts()

Type transaction
CASH_IN             4654
CASH_OUT             378
WALLET_TO_WALLET     104
Name: count, dtype: int64

On a bien les types d'utilisateur transaction désirés (CUSTOMER, AGENT) et le type de transaction (CASH_IN, WALLET_TO_WALLET, CASH_OUT)

#### Création des colonnes Date et Heure de transaction

In [21]:

#Créer colonne date, et colonne heure
transactions_df['Heure transaction'] = pd.to_datetime(transactions_df['Date heure']).dt.time
transactions_df['Date transaction'] = pd.to_datetime(transactions_df['Date heure']).dt.date
transactions_df.drop(['Date heure'], axis=1, inplace=True)


#Numéro portefeuille destinataire 
transactions_df['Numero porte feuille expediteur'] = transactions_df['Numero porte feuille expediteur'].fillna(0).astype(int).astype(str)
#Numéro portefeuille
transactions_df['Numero porte feuille destinataire'] = transactions_df['Numero porte feuille destinataire'].fillna(0).astype(int).astype(str)

In [22]:
transactions_df[transactions_df['Type utilisateur transaction'] == 'CUSTOMER']['Nom destinataire'].value_counts()

Nom destinataire
DAP MONNAIE ELECTRONIQUE               4586
SONFACK FRANKY SERGIO                     9
ISHAGAH                                   4
KEMEGNI SEMKAM CHRISTEL JUNIOR            2
MOUSTAPHA ADAMOU                          2
                                       ...
MENICK AWOE FRIDA LOVE                    1
YOUMBI NGWONGO FRANCKLIN YVAN LOIC        1
NJIANGA NSOUNWOUNDI IBRAHIM OLIVAIN       1
ABDOULAYE MAMADI                          1
DJIHA TCHAPTCHET ERIC                     1
Name: count, Length: 303, dtype: int64

In [23]:
transactions_df[transactions_df['Type utilisateur transaction'] == 'CUSTOMER']['Nom portefeuille destinataire'].value_counts()

Nom portefeuille destinataire
JONATHAN BEYEBSE EYEBE                 8
SALEH MOGO ABDOULLAYE                  7
ABDOU MOHAMADOU                        6
Biyo Simon Paul                        6
KWIBANG KWIBANG JEPHTE                 6
                                      ..
ISSA HASSOUMI                          1
EKEMELA NTYAME ANNIE ANGE ELISABETH    1
HERMINE DORIS MAGANG NGHANKA           1
NJOMO NOUDOU GUY                       1
ETIENNE PATRICK AMOUGOU ZANG           1
Name: count, Length: 3633, dtype: int64

Les opérations effectuées par les CUSTOMER ont pour principale destinataire (cas de versement) le **DAP MONNAIE ELECTRONIQUE**, et pour principale portefeuille destinataire **JANGI DRL**

## Obtenir les differents point de services de chaque distributeur

In [24]:
transactions_df['Nom portefeuille expediteur'].unique()

array([' IT SOA', ' IT NDOGBONG ', ' IT LOGPOM', ' IT BAFOUSSAM ',
       ' HOP ESEKA 2ESEKA 2', ' HOP YOKADOUMA 1HOP YOKADOUMA 1',
       ' HOP SERVICESARL', ' HOPZEKOUO NELIE SONIA', nan,
       ' HOP POUMAHOP POUMA', ' Emi money baf wankoSarl',
       ' HOP NGAOUIHOP NGAOUI', ' HOP NKOMKANANKOMKANA',
       ' EXPRESS UNIONSA', ' CB MARTIALDJOUBISSIE',
       ' EU FOUMBAN FOYERFOUMBAN FOYER', ' SarlEmi money mbalmayo 2',
       ' HOP KOUME BONISHOP KOUME BONIS',
       ' DTN NANGA NANGA JUNIORHOP SIEGE DCM', ' MUFFA ANGOUNDANKOABANG',
       ' HOP DLA PK 15HOP DLA PK 15', ' CB ALLANFEZE',
       ' HOP YDE NKOZOA NKOZOA', ' EMI MONEY SARL', ' IT EKOUNOU',
       ' HOP MBOUMNYEBELMBOUMNYEBEL', ' HOP NKONDJOCKHOP NKONDJOCK',
       ' EU FOUMBAN CENTRE FOUMBAN CENTRE ', ' EU TIKOTIKO',
       ' SarlEmi money mvan', ' HOP EVOUDOULAEVOUDOULA',
       'AJA FOWE ANGELE', 'TIATI A MOULONG CHRISTIAN SERGE',
       'NDJAMOU ROSE ADRIENNE', 'TAKEUDEU SINDEU MARTIAL', 'ARNAUD OTOUA',
       'DONGMO KENFACK VANESSA', 'ND LAURENT NADIN',
       'ATONTSA NGUETSOP ISMAEL', 'ABOUBAKAR BISSADA ALY',
       'KANA NOUEGNY CORINE ROSETTE', 'LOUIS GERMAIN SILATSA',
       'NGANDI JEAN', 'MIAFOU KENGNE HERMANN', 'DOMOU DJOUKOUE HYACINTHE',
       'MEKOUENGUIENG FOTIE FREDIE', 'JEAN MARC DIME MAMBE',
       'GALVANI LAMBOU TIADJIO', 'TAGNE NOUBOSSE', 'CLARENCE NCHIA AKWO',
       'BOMBA ESSOMBA DENIS ROLIEN', 'OBEN VANESIA NCHONG', 'ZOUA DENYS',
       'GWOS JEAN AIME', 'JEAN HYTHBORIS FONKO KUITEN',
       'NNOMO MANGA FRANK', 'ND DAWAI BAIMA', 'ASSANA RICHARD',
       'NYAMSI JACQUES ROGER VIRGILE', 'YWE STEPHAN',
       'JOANE STEPHANIE MATOH', 'NABI SOLANGE YUOCHI ', 'MADJIDA ADELINE',
       'NANDONG ARIANE MICHEL', 'MARIETTE MICHELE MEFUNYA MEGUMTSE',
       'FRANCK ERIC NIEKAM TCHEUFFA', 'DOPGANG TCHATCHOUANG WILFRIED',
       'CHRISTOPHER YONG', 'KEMEGNI SEMKAM CHRISTEL JUNIOR',
       'FANEMBENG ME ZOK NIETZSCHE', 'ND IDA FULE EPIE NNOKO',
       'NGOKA ERIC', 'ENU TAMPIE HANS', 'WABO CHETA JORDAN MANDELA',
       'ADAMOU MOUSTAPHA', 'LINGOM AUGUSTIN ARNAULD',
       'PAMBOUDAM MBOMBO LADIFETOU VIVIANE', 'CLAUDE EBANDA',
       'IBRAHIM MAPOURE YOUMO', 'NGO NYETAM MARIE',
       'STANE FABIOLA NGUELIE TCHAMANI', 'LILIANE LUTRESS ELOUNDOU',
       'ABOUBAKARI SALI ND', 'HORTENSE GUIFFO',
       'WIRNGO NESTOR MBIYDZENGE', 'AGBOR AGINESS KESSANG ND',
       'MARIE DJANKOU NOUDJAG', 'MONSIEUR YOUSSA ANSELME',
       'GUEMKAN BAIWA BLAISE', 'ABBO MOHAMADOU', 'Malko Sob Fotsing',
       'ALIX MIREILLE ZANGA MBIDA', 'DAAEKRE WOHYANG MBARGASO ND',
       'JOSEPH DJOUBISSIE', 'JEAN BAPTISTE PAUL NGAMBO',
       'AMANDA LACAINE EMWE', 'THERESE MVOGO',
       'ANNIE MICHELE MAGUIB A MOUGNOL', 'JOSEPH BIENVENUE MVOGO FOUDA',
       'POUELZIBOU ANOUBON DONFOUE', 'HAMADOU BOUBAKARI NGOUNPEGNIGNI',
       'NKENGBEZA CLINTON', 'FABRICE PAULIN TCHAMENI NGOFAKE',
       'TAIWE NESTOR', 'ANGELA BERENICE NAOUSSI', 'DOUANLA WILLIAM',
       'TCHIDA JOHN HERMANN', 'NTCHUINTOUO NGUEMANG WILLIAMS BLAISE',
       'ND GAMOUKA AZHE AGGEE MALAVAYE', 'TSOUNGUI GUY MARCEL',
       'ALEXIE DJOUYEP', 'GUEMDJO GERALDINE', 'MADIE JEANNETTE',
       'SOULEYMANOU AMINOU', 'GAPTCHIA KARDE ND',
       'DZOKOUE DOUNGMO CHRISTIAN', 'MBITA ONANA LAETITIA REGIS',
       'DONGMO KITIO BLONDY', 'WILLIAM BERNARD TCHATCHOUA',
       'FABRICE LEKANE NOUZE', 'ESSOME BANEN JUNIOR',
       'THIERRY DEUMANI TOUKO', 'PND ISHAGAH', 'DORLEANS DAMNOU NJINKEU',
       'KOMBA KOMBA PAULIN YVES', 'ORNELLA ALIEH CHIBIKOM  ALIEH',
       'MARIE JIOFACK', 'LYDIE FOTSO KAMDEM', 'SAAGRY SA',
       'NGAMASSI KONCHIPE ANGELINE', 'GEORGES KAMSU SIKATI',
       'KAMDEM TETO VALERY', 'NGOULEU KOUAMOU GAELLE',
       'GUESSOM BOUTUE MARIUS', 'FRANKY SONFACK', 'MARILYNE EFFILA EBELA',
       'KOUAKAM MBIAKOP BRUNETTE MALONE', 'ALLAN LOIC FEZE DZALI',
       'YOUSSOUFA SOULEY', 'ABDEL SALAM ABBO',
       'ERMEST PERRAIN FOUOTSA KASSE', 'JUNIOR WILFRIED KUATE  TAGNE',
       'INGRID LAURENCE OBOUH FEGUE', 'ETINZOH EKAMBA ROI CARLOS',
       'ISAAC KAMDEM', 'TONANG DJOUAKA PRINCE DELANO',
       'HAPPI TCHOKONTE CEDRIC MICHEL',
       'CELARIO MAXIME ALDOPH MOLENG KEWANG',
       'hortence mezateo epse guimeya', 'KAMBOU TAKOULO GAEL',
       'NTSAMA PAULETTE URSULA', 'DONGMO NGUEPI GUISSEL LAGNOL',
       'PEREVET SAWALDA VICTORIEN', 'EL HADJ ADAM MAHAMAT ADAM',
       'MAMBOU NTEUM CLAUDE  GAELLE', 'DJOM PATRICE',
       'ZEH NDJANG JEAN PHILIPPE', 'NDOUOP MOUNTON GERARD',
       'NGA MEKOGA MESSI RITA', 'LINUS JORDAN NKUIKA', 'IBRAHIMA PEISSAL',
       'ND YAHYA HAROUN', 'MADI VONDOU JEREMIE ND', 'FOZIN ADRIEL',
       'CHIRANELLE MAWAMBA TADONDJEU', 'HAWA ND',
       'FRIDA LOVE MENICK AWOE', 'YOUMBI NGWONGO FRANCKLIN YVAN LOIC',
       'NJIANGA NSOUNWOUNDI IBRAHIM', 'ABDOULAYE MAMADI',
       'Medrich TCHEUMENI NGANGOM', 'PHILEMON YANU', 'ILENGOU BIENVENU',
       'TENKEU TENE GUILIANO', 'PRINCEWILL TEBAH', 'ANDERSON OSSELYN',
       'ZIKIFILOU MOUNTAPMBEME  GBATOU', 'ESSOME ESSOME OLIVIER',
       'SERGE MARTIN OBANBOTO EFA', 'JOSIAS SERGIO TCHOUMI BANGOUB',
       'KOLWANG BLAMKAGOU', 'ASSIALOU CHARLES',
       'MANFOUO SELATSA LOVERNICK LUCKY', 'MANGA MBOUDOU GERTRUDE ERICA',
       'CHARLINE CHIMENE TCHOUNDONG', 'AGBOR TAMBE TAMBE',
       'NDEANNE FIDELE', 'MAYACK II MARCEL',
       'MOHAMED IBN BOUBA DIANG WENDI', 'WASNYO WASNYO YVES FLORENT',
       'TOGUEM DERRICK', 'Abel Bruno AKONO MVONDO',
       'MARTHA VANESIA TENGA SANJOH', 'MAURICE NGANKAM FONDJO',
       'MENYE EBENDENG ROSTAND', 'MOKTAR BAKARI', 'LOIC AVE AVE',
       'YAWA ZAKARI', 'PATRICK NDJOMNANG TCHATCHOUANG',
       'METSANOU MONTSE ANDRE', 'PAUL MITTERAND NYEMBE BEHDEKWIE',
       'NYANKWE DEMIAN', 'sonita djuikam', 'KENNE SERGE ALAIN',
       'EDWIGE EDITH SIATCHOUA', 'ENDALI ETEME SEBASTIEN',
       'DONGMO KENFACK JEANITA', 'Adrienne Endegue Essama',
       'AMBROISE ARMAND TANGUEBOU TAGNE', 'NELSON Franky AKANA FOFACK',
       'HAROUNA harouna', 'BEYALA BABA GISELE SAMANTHA',
       'LARISSA NKOUZOUER NINA', 'FOUAKEU NANFACK GILDAS',
       'HANS BLERIOT PELE TAMEGHE', 'SAMIRA FOFIE DJATSA',
       'ENGOLO ANGE FRANKLIN', 'ANTOINE NATHAN GAUTIER THEHNA OUM',
       'ARMAND NJILIE ND', 'BLANDINE JOCELYNE NGO MAHI', 'AYIMBA GERARD',
       'NOGHOGNE LANDRIE', 'GAEL NICAISE EWANE KHADIJE', 'YAYA MANDJILOU',
       'KEVIN METCHEUKA TAKEM', 'ATENANG WILFRIED', 'SOULEMANOU KOUOTOU',
       'MBOUM SABINE', 'HUYGHENS BATOUM NYOBE', 'EPESSA FIRMIN SICHERMAN',
       'LOIC KENFACK KINGMO', 'DANIEL JOEL JEBENTCHOU NAMI',
       'BILOA NANGA JULIEN VITAL', 'EKANGO TETCHUENG FAUSTIN',
       'KEMBOU MIRABELLE ALVINE', 'FADIMATOU ALIOU ND',
       "NTO'O ANGO ANDRE ARNOLD", 'CELINE BANASSOUBECK SABEKOP',
       'Iyawa Moussa honore', 'ND DEKENE DA AGOONS',
       'KENMOE TCHIMCHUA HILLARY', 'FIDELE TSOGNONG',
       'SAOUNDE ERNESTINE CAROLE', 'ROSELINE ASTRID MONGO',
       'DEUMANI CLEMENCE', 'KAMBOU KODJOU MIRIEL',
       'ULRICH BORIS ON MAKONG', 'LAURENTINE LARISSA EWOLO NGAZOGO',
       'TONYE HECTOR FELICIEN', 'VUYUFAMBOM GLORY', 'KAMDEM ANDRE',
       'FOFACK GAUTHIER', 'MEDJOUN JUICE STEPHANIE',
       'MOUSSA NOUHOU ADAMOU', 'TOUKAM TEMDIE OLIVIER',
       'PALDOU YAYA ALEXIS', 'TSAGO DONGMO PHALONNE',
       'ELIE LOIC RIWOU RIWOU', 'BOUBA MOISE', 'DIDIER STEVE MAH NSANGOU',
       'ANDERSON KENFACK CHIOZEMG', 'GODWE SAMUEL',
       'DUREL BRICE TEDOM WAGNE', 'SIANI AIME BERTRAND',
       'ALEXE ORIOLE DONGO ZANGUE', 'BOUKILI BEHALAL LEONEL',
       'MAMDEM SIMEU ESTHER YVONNE ', 'APOLLINE KEOU',
       'TAGNE KAPTUE BLAISE SERAPHIN', 'KUETE CLARISSE MIRIANE',
       'Michèle Evina', 'HONLA EBANGA PATRICK YVELIN',
       'CHAMANI TCHANKO HERMANN', 'MENZEPOH FODAP PERRIN',
       'jean claude mudingo', 'MANOUALE MBAKOP FERLY',
       'HERVE BERTIN BISSELEUA DAGHELA', 'KAMDEM KANGAING AUDRIC JOEL',
       'ATCHAM AMOUGOU LYSIANE', 'PASCAL AYMAR FANKAM KOUANI',
       'KENGNE NDE BALBINE', 'FON SERJUR', 'TSALA  BALA HENRI ACHILLE',
       'BEN FOTSO KAMGA', 'FADIMATOU TINTIE', 'MAKONGO MARIUS EDWING',
       'ALEXANDRE BLONDEL DJOMO', 'MOUSSA SAIDOU', 'SEIDE PONTIEN MOUSSA',
       'JUSTIN AMOUGOU ONGOUDOU', 'Albert Patrick Mandjack', 'MANA FELIX',
       'FOTIO ALAIN HERMANN', 'ABISSI KONGA WILLY STEVE',
       'DJIDA BIENVENUE KYEBTANBO', 'SUZIE MINETTE VOUGAT MOUENBANG',
       'ousmanou mahama inoua', 'NYEMB THOMAS', 'BERYL NGBWA',
       'KELY MOTUE DJOKO', 'Michelle Stevine Yonzou kollo',
       'LEOPOLD NOMBO TENDZE', 'PAUL ABEGA', 'DELISA MANETEU GWAMBA',
       'France Gallilée ETABA MEBADA', 'MELANIE KAMANG ETEGNE',
       'MOMHA TECLAIRE NATHALIE', 'Steve Yvan KAMGA MONTHE',
       'FUHNGWA NORBERT', 'FOHAWA BOREL LEE',
       'IVAN VALERY NGOUDJOU TCHOUTEZEM', 'TAGNE TAKAM CYRILLE',
       'GWANYETULA RELINDIS', 'NJIKI NJIKI PIERRE', '. DEWERE SALOMON',
       'MOGTA TEITSA NESTOR DEJOLI', 'RODOLPHE JOEL FOAMOUE',
       'AGAPELE WASSOUO PROSPER', 'YANNICK MICHEL NEMATCHOUA YANGOUE',
       'NANKAM CEDRIC WILLIE', 'RICHELLE GLINIS ESIGNING TSAGUE',
       'CLAUDE YATCHET TONFEN', 'TANGU SUSTAN',
       'BILLY COLLINS OUAFO FOSSO', 'SEDRIQUE DONGMO LAMANE',
       'NINTEDEM DONGMO PIERRE DAVID', 'AHMED KOTOKO ABAME ALIFA',
       'BADAI BLAISE', 'OUMAROU MOHAMED BABA', 'ALIOU MAHMOUDOU',
       'PIERRE DELL', 'YONGWA DTISSIBE FRANCIS', 'GUELAH PATRICK SOFAK',
       'EMMANUEL SIKAMO NOULELE', 'FRANCIS MBOUTCHOUANG KAMGANG',
       'ARMEL LANDRY FOKOU', 'ND BOURDANE WANIE', 'NOUBISSIE PANI HUGUES',
       'MPOUMA YOMTA BLAISE', 'LEOGA SHERON', 'NANA GAELLE',
       'SALVADOR ATETSOP FOUEZE', 'BACHIROU VAZA ND',
       'MEKANDA ZENON THIERRY', 'NGOUH ISSOFA', 'MICHEL HANS BATTA',
       'ALAMINE JEAN FRANCOIS OUMAROU', 'AMADOU SALY',
       'HERMAN MBOUOMBOUO DOUOYAP', 'AISSATOU ILYASSA',
       'LEON SIEGFRIED MOUSSA', 'ELIE JUNIOR OLOMO NDJAMBOU',
       'BRICE TCHINGANG NGANDO', 'JAURES BOUWE DJOUMBISSIE',
       'GLAWDYS MARIE FLEUR NTAMACK NDZIE',
       'ETONLEU FOMETIO CHANCEL GENINGS', 'BENAJA BETHLEHEM',
       'MENANGA LANDRY', 'PATRICIA EVA PETA TOA PEYEMBOUO',
       'NGOU VOUFO MARCEL', 'TAMAH MADRISS NDIEH', 'MICHAEL NANFACK',
       'Kuate wafo Emmanuel', 'AHMED FELATA', 'FELIX EBOUE TELA',
       'ND BOSSERA ZOUFANE EPAPHRAS', 'PATRICK GERAUD EKWALLA',
       'ADAM ABAKACHI LIMAN LIMAN', 'HOUAG THEOPHILE BIENVENUE MOISE',
       'TCHATCHOUANG KONMEGNE JOEL', 'LOUIS KOUNA', 'ONANA ATANGA HARVEY',
       'LE SAINT SOLEIL DJOYEP TCHOUZOU  MBARGA', 'RAMESETTE ATABONG',
       'DJOYEP TCHOUZOU LE SAINT SOLEIL', 'YOUSSOUFFA AHMADOU',
       'JOEL NGUETCHOU TCHOUMI', 'AMIDOU ADAMA ACHILLE MERLIN',
       'JOSEE CORETTE NGONG ZE', 'ADAMA DJONYABO STEPHANIE',
       'DJIHA TCHAPTCHET ERIC'], dtype=object)

#### Removing all the trailing spaces...

In [25]:
# Remove trailing spaces from all columns in transactions_df
for column in transactions_df.columns:
    if transactions_df[column].dtype == 'object':
        # Convert to string first and handle NaN values
        transactions_df[column] = transactions_df[column].astype(str).replace('nan', '')
        transactions_df[column] = transactions_df[column].str.strip()

In [26]:
transactions_df[transactions_df['Type utilisateur transaction'] == 'AGENT']['Nom portefeuille expediteur'].unique()

array(['IT SOA', 'IT NDOGBONG', 'IT LOGPOM', 'IT BAFOUSSAM',
       'HOP ESEKA 2ESEKA 2', 'HOP YOKADOUMA 1HOP YOKADOUMA 1',
       'HOP SERVICESARL', 'HOPZEKOUO NELIE SONIA', '',
       'HOP POUMAHOP POUMA', 'Emi money baf wankoSarl',
       'HOP NGAOUIHOP NGAOUI', 'HOP NKOMKANANKOMKANA', 'EXPRESS UNIONSA',
       'CB MARTIALDJOUBISSIE', 'EU FOUMBAN FOYERFOUMBAN FOYER',
       'SarlEmi money mbalmayo 2', 'HOP KOUME BONISHOP KOUME BONIS',
       'DTN NANGA NANGA JUNIORHOP SIEGE DCM', 'MUFFA ANGOUNDANKOABANG',
       'HOP DLA PK 15HOP DLA PK 15', 'CB ALLANFEZE',
       'HOP YDE NKOZOA NKOZOA', 'EMI MONEY SARL', 'IT EKOUNOU',
       'HOP MBOUMNYEBELMBOUMNYEBEL', 'HOP NKONDJOCKHOP NKONDJOCK',
       'EU FOUMBAN CENTRE FOUMBAN CENTRE', 'EU TIKOTIKO',
       'SarlEmi money mvan', 'HOP EVOUDOULAEVOUDOULA'], dtype=object)

#### Chargement des différents point de services

#### Function to identify all hop agencies

In [28]:
# Define a function to check if a name matches HOP patterns
def is_hop_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip().upper()
    return (name.startswith('HOP') or 
            name == 'HOP SERVICESARL' or
            name == 'ALBINEHOP' or 
            name == 'DTN NANGA NANGA JUNIORHOP SIEGE DCM')

# Get transactions where either sender or receiver matches HOP pattern
hop_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_hop_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_hop_agency))
].copy()

# Display first few rows
print("HOP transactions:")
hop_transactions_df.head()

HOP transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
4,W202507298554670,CASH_OUT,AGENT,HOP ESEKA 2ESEKA 2,237683752726,1687000.0,161000,1526000.0,10005-00033-10278451101-79,NDE PADY JULIO,0,,NaN,NaN,AGENT_WEB,COMPLETED,08:39:17,2025-07-29
5,W202507298554673,CASH_OUT,AGENT,HOP YOKADOUMA 1HOP YOKADOUMA 1,237683725013,1777500.0,1500000,277500.0,10005-00031-08764381001-42,SOCIETE GUSTAVO DISTRIBUTION SARL,0,,NaN,NaN,AGENT_WEB,COMPLETED,08:39:32,2025-07-29
6,W202507298554680,WALLET_TO_WALLET,AGENT,HOP SERVICESARL,237676739074,18247034.0,2000000,16247034.0,,,237683725013,HOP YOKADOUMA 1HOP YOKADOUMA 1,277500.0,2277500.0,AGENT_WEB,COMPLETED,08:40:14,2025-07-29
7,W202507298554717,CASH_OUT,AGENT,HOP YOKADOUMA 1HOP YOKADOUMA 1,237683725013,2277500.0,500000,1777500.0,10005-00031-08764381001-42,SOCIETE GUSTAVO DISTRIBUTION SARL,0,,NaN,NaN,AGENT_WEB,COMPLETED,08:43:32,2025-07-29
8,W202507298554803,CASH_OUT,AGENT,HOPZEKOUO NELIE SONIA,237683760958,5500000.0,270000,5230000.0,10005-00001-04291161051-81,KAMGA LEON,0,,NaN,NaN,AGENT_WEB,COMPLETED,08:50:22,2025-07-29

In [29]:
hop_transactions_df.shape

(113, 18)

#### Emi money agences

#### Function to identify Emi money transactions...

In [31]:
# Define a function to check if a name matches EMI Money patterns
def is_emi_money_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip()
    patterns = ['Emi money', 'EMI MONEY', 'Sarl Emi', 'Sarl Emi money', 'EMI MONEY SARL']
    return any(pattern in name for pattern in patterns)

# Get transactions where either sender or receiver matches EMI Money pattern
emi_money_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_emi_money_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_emi_money_agency)) |
    (transactions_df['Nom portefeuille expediteur'] == 'EMI MONEY SARL') |
    (transactions_df['Nom portefeuille destinataire'] == 'EMI MONEY SARL')
].copy()

# Display first few rows
print("EMI Money transactions:")
emi_money_transactions_df.head()

EMI Money transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
18,W202507298556062,CASH_OUT,AGENT,Emi money baf wankoSarl,237694105776,173392.00,9000,164392.00,10005-00003-09330601051-44,MOTCHEKA NOUMBISSI BORIS ARNAUD,0,,NaN,NaN,AGENT_WEB,COMPLETED,10:15:23,2025-07-29
19,W202507298556064,CASH_OUT,AGENT,Emi money baf wankoSarl,237694105776,173392.00,9000,164392.00,10005-00003-09330601051-44,MOTCHEKA NOUMBISSI BORIS ARNAUD,0,,NaN,NaN,AGENT_WEB,COMPLETED,10:15:24,2025-07-29
67,W202507298557210,WALLET_TO_WALLET,AGENT,SarlEmi money mbalmayo 2,237683747999,63500.00,16500,47000.00,,,237690722465,ND YAHYA HAROUN,0.0,16500.0,AGENT_WEB,COMPLETED,11:30:46,2025-07-29
123,W202507298559329,WALLET_TO_WALLET,AGENT,EMI MONEY SARL,237683748413,106350.34,80000,26350.34,,,237683748189,SarlEmi money mvan,15000.0,95000.0,AGENT_WEB,COMPLETED,14:01:50,2025-07-29
135,W202507298565003,CASH_OUT,AGENT,SarlEmi money mvan,237683748189,95000.00,60000,35000.00,10005-00062-09074091101-73,EYENGA MBOZO'O EDWIGE MARIE FLOR,0,,NaN,NaN,AGENT_WEB,COMPLETED,16:17:21,2025-07-29

In [32]:
emi_money_transactions_df.shape

(5, 18)

#### Function to identify Express Union agences

In [33]:
# Define a function to check if a name matches Express Union patterns
def is_express_union_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip()
    return name.startswith('EU ') or name.startswith('EUF ') or name == 'EXPRESS UNIONSA'

# Get transactions where either sender or receiver matches Express Union pattern
express_union_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_express_union_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_express_union_agency))
].copy()

# Display first few rows
print("Express Union transactions:")
express_union_transactions_df.head()

Express Union transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
27,W202507298556390,WALLET_TO_WALLET,AGENT,HOP SERVICESARL,237676739074,4997034.0,500000,4497034.0,,,237683735851,EU FOUMBAN CENTRE FOUMBAN CENTRE,144153.0,644153.0,AGENT_WEB,COMPLETED,10:36:22,2025-07-29
40,W202507298556736,WALLET_TO_WALLET,AGENT,EXPRESS UNIONSA,237679530802,5744640.0,300000,5444640.0,,,237683726639,EU FOUMBAN FOYERFOUMBAN FOYER,47014.0,347014.0,AGENT_WEB,COMPLETED,10:59:53,2025-07-29
64,W202507298556976,CASH_OUT,AGENT,EU FOUMBAN FOYERFOUMBAN FOYER,237683726639,347014.0,250000,97014.0,10005-00065-09650421101-11,MANTOUM NSANGOU CHARLES,0,,NaN,NaN,AGENT_WEB,COMPLETED,11:14:34,2025-07-29
127,W202507298559722,CASH_OUT,AGENT,EU FOUMBAN CENTRE FOUMBAN CENTRE,237683735851,644153.0,214129,430024.0,10005-00002-04402621004-62,CAMEROON WATER UTILITIES CORPORATION,0,,NaN,NaN,AGENT_WEB,COMPLETED,14:30:10,2025-07-29
132,W202507298563377,WALLET_TO_WALLET,AGENT,EXPRESS UNIONSA,237679530802,7444640.0,2000000,5444640.0,,,237683750578,EU TIKOTIKO,46000.0,2046000.0,AGENT_WEB,COMPLETED,15:46:24,2025-07-29

In [34]:
express_union_transactions_df.shape

(6, 18)

#### Function to identify all Instant transfert transactions(IT)

In [35]:
# Define a function to check if a name matches Instant Transfer patterns
def is_instant_transfer_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip()
    return name.startswith('IT ') or name == 'INSTANTTRANSFER SARL'

# Get transactions where either sender or receiver matches Instant Transfer pattern 
instant_transfer_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_instant_transfer_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_instant_transfer_agency))
].copy()

# Display first few rows
print("Instant Transfer transactions:")
instant_transfer_transactions_df.head()

Instant Transfer transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
0,W202507298553887,WALLET_TO_WALLET,AGENT,IT SOA,237651303385,21950.0,5000,16950.0,,,237693815840,Ongmakagne Valérie,80624.30,85624.30,AGENT_WEB,COMPLETED,07:37:28,2025-07-29
1,W202507298554006,WALLET_TO_WALLET,AGENT,IT NDOGBONG,237673632295,18430.0,5000,13430.0,,,237658105406,EDWIGE CHRISTELLE NIMENI,19005.00,24005.00,AGENT_WEB,COMPLETED,07:45:08,2025-07-29
2,W202507298554078,WALLET_TO_WALLET,AGENT,IT LOGPOM,237652072597,206775.0,6000,200775.0,,,237678509063,BINTOU NGOUNGOURE MVUH,359803.10,365803.10,AGENT_WEB,COMPLETED,07:50:57,2025-07-29
3,W202507298554080,WALLET_TO_WALLET,AGENT,IT BAFOUSSAM,237652073136,140875.0,6000,134875.0,,,237678509063,BINTOU NGOUNGOURE MVUH,365803.10,371803.10,AGENT_WEB,COMPLETED,07:51:11,2025-07-29
12,W202507298555861,CASH_IN,AGENT,,0,NaN,1000000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,237694749760,INSTANTTRANSFER SARL,17984.95,1017984.95,AGENT_WEB,COMPLETED,09:59:42,2025-07-29

In [36]:
instant_transfer_transactions_df.shape

(8, 18)

#### Function to identify Multi-Service Sarl transactions

In [ ]:
# # Extract CB entries to add to call_box_agences
# cb_entries = np.array([x for x in ms_agences if x.startswith('CB ')])

# # Combine with existing call_box_agences and remove duplicates
# call_box_agences = np.unique(np.concatenate([call_box_agences, cb_entries]))

# # Filter out CB entries from ms_agences array
# ms_agences = np.array([x for x in ms_agences if not x.startswith('CB ')])

# # Display filtered ms_agences
# ms_agences

In [37]:
# Define a function to check if a name matches Multi-Service patterns
def is_multiservice_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip()
    # Check if name starts with 'MS ' or contains 'MULTI-SERVICE'
    if name.startswith('MS ') or 'MULTI-SERVICE' in name.upper():
        return True
    # Check for isolated 'MS' in the name
    words = name.split()
    if 'MS' in words:
        return True
    return False

# Get transactions where either sender or receiver matches Multi-Service pattern
multiservice_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_multiservice_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_multiservice_agency))
].copy()

# Display first few rows
print("Multi-Service transactions:")
multiservice_transactions_df.head()

Multi-Service transactions:

Empty DataFrame
Columns: [Reference transaction, Type transaction, Type utilisateur transaction, Nom portefeuille expediteur, Numero porte feuille expediteur, Solde expediteur avant transaction, Montant transaction, Solde expediteur apres transaction, Compte bancaire destinataire, Nom destinataire, Numero porte feuille destinataire, Nom portefeuille destinataire, Solde destinataire avant transaction, Solde destinataire apres transaction, Type canal, Statut transaction, Heure transaction, Date transaction]
Index: []

In [38]:
multiservice_transactions_df['Nom portefeuille expediteur'].unique()

array([], dtype=object)

In [39]:
# Filter for transactions with 'MULTI-SERVICE SARL' as either sender or receiver
super_agent_transactions = multiservice_transactions_df[
    (multiservice_transactions_df['Nom portefeuille expediteur'] == 'MULTI-SERVICE SARL') |
    (multiservice_transactions_df['Nom portefeuille destinataire'] == 'MULTI-SERVICE SARL')
]

# Display the filtered transactions
print("Super agent (MULTI-SERVICE SARL) transactions:")
super_agent_transactions.head()

Super agent (MULTI-SERVICE SARL) transactions:

Empty DataFrame
Columns: [Reference transaction, Type transaction, Type utilisateur transaction, Nom portefeuille expediteur, Numero porte feuille expediteur, Solde expediteur avant transaction, Montant transaction, Solde expediteur apres transaction, Compte bancaire destinataire, Nom destinataire, Numero porte feuille destinataire, Nom portefeuille destinataire, Solde destinataire avant transaction, Solde destinataire apres transaction, Type canal, Statut transaction, Heure transaction, Date transaction]
Index: []

In [ ]:
multiservice_transactions_df.shape

#### Function to identify Muffa transactions...

In [40]:
# Define a function to check if a name matches Muffa patterns
def is_muffa_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip().upper()
    return name.startswith('MUFFA')

# Get transactions where either sender or receiver matches Muffa pattern
muffa_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_muffa_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_muffa_agency))
].copy()

# Display first few rows
print("Muffa transactions:")
muffa_transactions_df.head()

Muffa transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
107,W202507298558290,CASH_IN,AGENT,,0,NaN,100000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,237696064115,MUFFA ANGOUNDANKOABANG,1389.0,101389.0,AGENT_WEB,COMPLETED,12:45:40,2025-07-29
111,W202507298558363,CASH_IN,AGENT,,0,NaN,1000000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,237696064115,MUFFA ANGOUNDANKOABANG,101389.0,1101389.0,AGENT_WEB,COMPLETED,12:51:11,2025-07-29
112,W202507298558391,CASH_IN,AGENT,,0,NaN,200000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,237696064115,MUFFA ANGOUNDANKOABANG,1101389.0,1301389.0,AGENT_WEB,COMPLETED,12:53:46,2025-07-29
114,W202507298558452,WALLET_TO_WALLET,AGENT,MUFFA ANGOUNDANKOABANG,237696064115,1301389.0,1000000,301389.0,,,237656586331,Marie Laurence NGA TSANGA,30001.0,1030001.0,AGENT_WEB,COMPLETED,12:57:57,2025-07-29
116,W202507298558567,WALLET_TO_WALLET,AGENT,MUFFA ANGOUNDANKOABANG,237696064115,301389.0,300000,1389.0,,,237656586331,Marie Laurence NGA TSANGA,1030001.0,1330001.0,AGENT_WEB,COMPLETED,13:04:44,2025-07-29

In [41]:
muffa_transactions_df.shape

(5, 18)

#### Function to identify all Call box transactions

In [42]:
# Define a function to check if a name matches Call Box patterns
def is_call_box_agency(name):
    if not isinstance(name, str):
        return False
    name = name.strip().upper()
    return name.startswith('CB')

# Get transactions where either sender or receiver matches Call Box pattern
call_box_transactions_df = transactions_df[
    (transactions_df['Nom portefeuille expediteur'].apply(is_call_box_agency)) |
    (transactions_df['Nom portefeuille destinataire'].apply(is_call_box_agency))
].copy()

# Display first few rows
print("Call Box transactions:")
call_box_transactions_df.head()

Call Box transactions:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
51,W202507298556824,CASH_OUT,AGENT,CB MARTIALDJOUBISSIE,237659409198,470850.0,470000,850.0,10005-00001-07605141051-03,YAHNJOU PIEDJOU SAMUEL,0,,NaN,NaN,AGENT_WEB,COMPLETED,11:04:52,2025-07-29
118,W202507298558686,WALLET_TO_WALLET,AGENT,CB ALLANFEZE,237697252795,3018.0,3000,18.0,,,237697252795,ALLAN LOIC FEZE DZALI,19.4,3019.4,AGENT_WEB,COMPLETED,13:13:57,2025-07-29

In [43]:
call_box_transactions_df.shape

(2, 18)

#### Super agent Names...

In [44]:
hop_super_agent = 'HOP SERVICESARL'
express_union_super_agent = 'EXPRESS UNIONSA'
emi_money_super_agent = 'EMI MONEY SARL'
multiservice_super_agent = 'MULTI-SERVICE SARL'
instant_transfer_super_agent = 'INSTANTTRANSFER SARL'

#### Recap of the different agences dataframes

In [45]:
hop_transactions_df.shape, emi_money_transactions_df.shape, express_union_transactions_df.shape, instant_transfer_transactions_df.shape, multiservice_transactions_df.shape, muffa_transactions_df.shape, call_box_transactions_df.shape

((113, 18), (5, 18), (6, 18), (8, 18), (0, 18), (5, 18), (2, 18))

In [46]:
# Sum all rows from different agency dataframes
total_agency_transactions = (
    len(hop_transactions_df) + 
    len(emi_money_transactions_df) + 
    len(express_union_transactions_df) + 
    len(instant_transfer_transactions_df) + 
    len(multiservice_transactions_df) + 
    len(muffa_transactions_df) + 
    len(call_box_transactions_df)
)

print(f"Total number of agency transactions: {total_agency_transactions}")

Total number of agency transactions: 139

In [47]:
# Get all transactions that are not in any agency dataframe
non_agency_transactions = transactions_df[
    ~(
        # Check if transaction is not in any agency dataframe
        transactions_df.index.isin(hop_transactions_df.index) |
        transactions_df.index.isin(emi_money_transactions_df.index) |
        transactions_df.index.isin(express_union_transactions_df.index) |
        transactions_df.index.isin(instant_transfer_transactions_df.index) |
        transactions_df.index.isin(multiservice_transactions_df.index) |
        transactions_df.index.isin(muffa_transactions_df.index) |
        transactions_df.index.isin(call_box_transactions_df.index)
    )
].copy()

print(f"Number of transactions not in any agency dataframe: {len(non_agency_transactions)}")
print("\nSample of transactions not in any agency dataframe:")
display(non_agency_transactions.head())

Number of transactions not in any agency dataframe: 4998

Sample of transactions not in any agency dataframe:

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
138,W202507298552151,CASH_IN,CUSTOMER,,0,NaN,100000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,237675986033,NKOTTE ESSONGUE ESTHER,493.2,100493.2,SARA_MOBILE,COMPLETED,00:02:02,2025-07-29
139,W202507298552152,CASH_IN,CUSTOMER,,0,NaN,44000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,237656332969,MIRIAM VARALDE TCHOUPIE DJOMOU,36.8,44036.8,SARA_MOBILE,COMPLETED,00:02:09,2025-07-29
140,W202507298552155,CASH_IN,CUSTOMER,,0,NaN,40000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,237698741502,GUY PERKINS YOUMBI KAMENI,342.2,40342.2,SARA_MOBILE,COMPLETED,00:02:49,2025-07-29
141,W202507298552156,CASH_IN,CUSTOMER,,0,NaN,50000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,237693650263,ESSOME ESSOME OLIVIER,0.6,50000.6,SARA_MOBILE,COMPLETED,00:04:01,2025-07-29
142,W202507298552157,CASH_IN,CUSTOMER,,0,NaN,50000,NaN,10005-00001-38110090602-36,DAP MONNAIE ELECTRONIQUE,237699650650,PND IBRAHIM KAIGAMA BOUKAR,15037.5,65037.5,SARA_MOBILE,COMPLETED,00:04:13,2025-07-29

#### Let's see the different agent we are not capturing...

In [48]:
# Get unique sender and receiver names for AGENT transactions not captured by any agency
agent_senders = non_agency_transactions[non_agency_transactions['Type utilisateur transaction'] == 'AGENT']['Nom portefeuille expediteur'].unique()
agent_receivers = non_agency_transactions[non_agency_transactions['Type utilisateur transaction'] == 'AGENT']['Nom portefeuille destinataire'].unique()

print("Unique sender names for AGENT transactions not captured:")
print("-----------------------------------------------------")
for sender in agent_senders:
    print(sender)
    
print("\nUnique receiver names for AGENT transactions not captured:")
print("-------------------------------------------------------") 
for receiver in agent_receivers:
    print(receiver)

Unique sender names for AGENT transactions not captured:
-----------------------------------------------------

Unique receiver names for AGENT transactions not captured:
-------------------------------------------------------

## Donner le type de transaction

In [49]:
def categorize_transactions(df, is_agency_func, super_agent=None):
    """
    Categorizes transactions based on type and participants.
    
    Args:
        df: DataFrame containing transactions
        is_agency_func: Function that takes a name and returns True if it belongs to the agency
        super_agent: Name of the super agent (optional)
        
    Returns:
        DataFrame with categorized transaction types
    """
    # Create a copy of the DataFrame to avoid modifying the original
    df = df.copy()
    
    # Replace CASH_IN and CASH_OUT
    df['Type transaction'] = df['Type transaction'].replace({
        'CASH_IN': 'Approvisionement',
        'CASH_OUT': 'Versement bancaire'
    })

    # Handle WALLET_TO_WALLET cases
    wallet_mask = df['Type transaction'] == 'WALLET_TO_WALLET'

    # Case 1: From agency or super agent to non-agency (Dépot)
    depot_mask = (
        wallet_mask & 
        ((df['Nom portefeuille expediteur'].apply(is_agency_func)) | 
         (df['Nom portefeuille expediteur'] == super_agent)) &
        ~df['Nom portefeuille destinataire'].apply(is_agency_func)
    )
    df.loc[depot_mask, 'Type transaction'] = 'Dépot'

    # Case 2: From non-agency and non-super agent to agency (Retrait)
    retrait_mask = (
        wallet_mask &
        ~df['Nom portefeuille expediteur'].apply(is_agency_func) &
        (df['Nom portefeuille expediteur'] != super_agent) &
        df['Nom portefeuille destinataire'].apply(is_agency_func)
    )
    df.loc[retrait_mask, 'Type transaction'] = 'Retrait'

    # Only apply super agent logic if super_agent is provided
    if super_agent:
        # Case 3: From super agent to its own agency type (Approvisionement)
        appro_mask = (
            wallet_mask &
            (df['Nom portefeuille expediteur'] == super_agent) &
            df['Nom portefeuille destinataire'].apply(is_agency_func)
        )
        df.loc[appro_mask, 'Type transaction'] = 'Approvisionement'

        # Case 4: From agency to its own super agent type (Décharge)
        decharge_mask = (
            wallet_mask &
            df['Nom portefeuille expediteur'].apply(is_agency_func) &
            (df['Nom portefeuille destinataire'] == super_agent)
        )
        df.loc[decharge_mask, 'Type transaction'] = 'Décharge'

    # Handle transactions between different types of agents
    def is_any_agency(name):
        return (is_hop_agency(name) or is_emi_money_agency(name) or 
                is_express_union_agency(name) or is_instant_transfer_agency(name) or
                is_multiservice_agency(name) or is_muffa_agency(name) or 
                is_call_box_agency(name))

    inter_agency_mask = wallet_mask & (
        df['Nom portefeuille expediteur'].apply(is_any_agency) &
        df['Nom portefeuille destinataire'].apply(is_any_agency)
    )
    
    # For these inter-agency transactions, classify based on balance changes
    retrait_by_balance = (
        inter_agency_mask &
        (df['Solde expediteur avant transaction'] > df['Solde expediteur apres transaction'])
    )
    df.loc[retrait_by_balance, 'Type transaction'] = 'Dépot'
    
    depot_by_balance = (
        inter_agency_mask &
        (df['Solde expediteur avant transaction'] < df['Solde expediteur apres transaction'])
    )
    df.loc[depot_by_balance, 'Type transaction'] = 'Retrait'
    
    return df

# Apply categorization to each dataframe separately
hop_transactions_df = categorize_transactions(hop_transactions_df, is_hop_agency, hop_super_agent)
emi_money_transactions_df = categorize_transactions(emi_money_transactions_df, is_emi_money_agency, None)
express_union_transactions_df = categorize_transactions(express_union_transactions_df, is_express_union_agency, express_union_super_agent)
instant_transfer_transactions_df = categorize_transactions(instant_transfer_transactions_df, is_instant_transfer_agency, instant_transfer_super_agent)
multiservice_transactions_df = categorize_transactions(multiservice_transactions_df, is_multiservice_agency, multiservice_super_agent)
muffa_transactions_df = categorize_transactions(muffa_transactions_df, is_muffa_agency, None)
call_box_transactions_df = categorize_transactions(call_box_transactions_df, is_call_box_agency, None)

In [50]:
hop_transactions_df.head()

,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille expediteur,Numero porte feuille expediteur,Solde expediteur avant transaction,Montant transaction,Solde expediteur apres transaction,Compte bancaire destinataire,Nom destinataire,Numero porte feuille destinataire,Nom portefeuille destinataire,Solde destinataire avant transaction,Solde destinataire apres transaction,Type canal,Statut transaction,Heure transaction,Date transaction
4,W202507298554670,Versement bancaire,AGENT,HOP ESEKA 2ESEKA 2,237683752726,1687000.0,161000,1526000.0,10005-00033-10278451101-79,NDE PADY JULIO,0,,NaN,NaN,AGENT_WEB,COMPLETED,08:39:17,2025-07-29
5,W202507298554673,Versement bancaire,AGENT,HOP YOKADOUMA 1HOP YOKADOUMA 1,237683725013,1777500.0,1500000,277500.0,10005-00031-08764381001-42,SOCIETE GUSTAVO DISTRIBUTION SARL,0,,NaN,NaN,AGENT_WEB,COMPLETED,08:39:32,2025-07-29
6,W202507298554680,Dépot,AGENT,HOP SERVICESARL,237676739074,18247034.0,2000000,16247034.0,,,237683725013,HOP YOKADOUMA 1HOP YOKADOUMA 1,277500.0,2277500.0,AGENT_WEB,COMPLETED,08:40:14,2025-07-29
7,W202507298554717,Versement bancaire,AGENT,HOP YOKADOUMA 1HOP YOKADOUMA 1,237683725013,2277500.0,500000,1777500.0,10005-00031-08764381001-42,SOCIETE GUSTAVO DISTRIBUTION SARL,0,,NaN,NaN,AGENT_WEB,COMPLETED,08:43:32,2025-07-29
8,W202507298554803,Versement bancaire,AGENT,HOPZEKOUO NELIE SONIA,237683760958,5500000.0,270000,5230000.0,10005-00001-04291161051-81,KAMGA LEON,0,,NaN,NaN,AGENT_WEB,COMPLETED,08:50:22,2025-07-29

In [51]:
hop_transactions_df['Type transaction'].value_counts()

Type transaction
Approvisionement      64
Dépot                 25
Versement bancaire    24
Name: count, dtype: int64

In [52]:
express_union_transactions_df['Type transaction'].value_counts()

Type transaction
Dépot                 3
Versement bancaire    3
Name: count, dtype: int64

In [53]:
instant_transfer_transactions_df['Type transaction'].value_counts()

Type transaction
Dépot               5
Approvisionement    3
Name: count, dtype: int64

In [54]:
emi_money_transactions_df['Type transaction'].value_counts()

Type transaction
Versement bancaire    3
Dépot                 2
Name: count, dtype: int64

In [55]:
multiservice_transactions_df['Type transaction'].value_counts()

Series([], Name: count, dtype: int64)

In [56]:
call_box_transactions_df['Type transaction'].value_counts()

Type transaction
Versement bancaire    1
Dépot                 1
Name: count, dtype: int64

## Vérifier les cas de Retrait et de Décharge

In [57]:
instant_transfer_transactions_df[instant_transfer_transactions_df['Type transaction'].isin(['Retrait', 'Décharge'])]

Empty DataFrame
Columns: [Reference transaction, Type transaction, Type utilisateur transaction, Nom portefeuille expediteur, Numero porte feuille expediteur, Solde expediteur avant transaction, Montant transaction, Solde expediteur apres transaction, Compte bancaire destinataire, Nom destinataire, Numero porte feuille destinataire, Nom portefeuille destinataire, Solde destinataire avant transaction, Solde destinataire apres transaction, Type canal, Statut transaction, Heure transaction, Date transaction]
Index: []

## Créer les soldes

In [58]:
def create_solde_columns(df):
    """
    Creates unified agent perspective columns for all agency types.
    Uses the specific agency recognition functions instead of hardcoded lists.
    """
    # Helper function to check if a name belongs to any agency type
    def is_any_agency(name):
        return (is_hop_agency(name) or is_emi_money_agency(name) or 
                is_express_union_agency(name) or is_instant_transfer_agency(name) or
                is_multiservice_agency(name) or is_muffa_agency(name) or 
                is_call_box_agency(name))
    
    # First create annuaire_df with unique Nom/Numero pairs
    expediteur_pairs = df[['Nom portefeuille expediteur', 'Numero porte feuille expediteur']].rename(
        columns={'Nom portefeuille expediteur': 'Nom portefeuille', 
                'Numero porte feuille expediteur': 'Numero portefeuille'}
    )
    destinataire_pairs = df[['Nom portefeuille destinataire', 'Numero porte feuille destinataire']].rename(
        columns={'Nom portefeuille destinataire': 'Nom portefeuille',
                'Numero porte feuille destinataire': 'Numero portefeuille'}
    )
    annuaire_df = pd.concat([expediteur_pairs, destinataire_pairs]).drop_duplicates().dropna()

    # Create annuaire for bank accounts
    bank_annuaire = df[['Nom destinataire', 'Compte bancaire destinataire']].dropna().drop_duplicates()

    # Create new columns
    df['Nom portefeuille'] = None
    df['Numero portefeuille'] = None
    df['Solde avant transaction'] = None
    df['Solde après transaction'] = None
    df['Partenaire transaction'] = None
    df['Numero portefeuille partenaire transaction'] = None
    df['Compte bancaire partenaire'] = None

    # When agent is expediteur (using agency recognition functions)
    expediteur_mask = df['Nom portefeuille expediteur'].apply(is_any_agency)
    df.loc[expediteur_mask, 'Nom portefeuille'] = df.loc[expediteur_mask, 'Nom portefeuille expediteur']
    df.loc[expediteur_mask, 'Numero portefeuille'] = df.loc[expediteur_mask, 'Numero porte feuille expediteur']
    df.loc[expediteur_mask, 'Solde avant transaction'] = df.loc[expediteur_mask, 'Solde expediteur avant transaction']
    df.loc[expediteur_mask, 'Solde après transaction'] = df.loc[expediteur_mask, 'Solde expediteur apres transaction']
    df.loc[expediteur_mask, 'Partenaire transaction'] = df.loc[expediteur_mask, 'Nom portefeuille destinataire']
    df.loc[expediteur_mask, 'Numero portefeuille partenaire transaction'] = df.loc[expediteur_mask, 'Numero porte feuille destinataire']
    
    # Add bank account info when available
    bank_mask = expediteur_mask & df['Compte bancaire destinataire'].notna()
    df.loc[bank_mask, 'Compte bancaire partenaire'] = df.loc[bank_mask, 'Compte bancaire destinataire']
    df.loc[bank_mask, 'Partenaire transaction'] = df.loc[bank_mask, 'Nom destinataire']

    # When agent is destinataire (using agency recognition functions)
    destinataire_mask = df['Nom portefeuille destinataire'].apply(is_any_agency)
    df.loc[destinataire_mask, 'Nom portefeuille'] = df.loc[destinataire_mask, 'Nom portefeuille destinataire']
    df.loc[destinataire_mask, 'Numero portefeuille'] = df.loc[destinataire_mask, 'Numero porte feuille destinataire']
    df.loc[destinataire_mask, 'Solde avant transaction'] = df.loc[destinataire_mask, 'Solde destinataire avant transaction']
    df.loc[destinataire_mask, 'Solde après transaction'] = df.loc[destinataire_mask, 'Solde destinataire apres transaction']
    df.loc[destinataire_mask, 'Partenaire transaction'] = df.loc[destinataire_mask, 'Nom portefeuille expediteur']
    df.loc[destinataire_mask, 'Numero portefeuille partenaire transaction'] = df.loc[destinataire_mask, 'Numero porte feuille expediteur']

    # Sort by Nom portefeuille and Date/Heure to see progression
    df = df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])

    # Drop old columns
    columns_to_drop = ['Nom portefeuille expediteur', 'Nom portefeuille destinataire',
                      'Solde expediteur avant transaction', 'Solde expediteur apres transaction', 
                      'Solde destinataire avant transaction', 'Solde destinataire apres transaction',
                      'Numero porte feuille expediteur', 'Numero porte feuille destinataire',
                      'Compte bancaire destinataire', 'Nom destinataire']
    df = df.drop(columns=columns_to_drop)

    return df, annuaire_df, bank_annuaire

# Apply the updated function to all agency dataframes
hop_df, hop_annuaire, hop_bank_annuaire = create_solde_columns(hop_transactions_df)
express_union_df, express_union_annuaire, express_union_bank_annuaire = create_solde_columns(express_union_transactions_df)
emi_money_df, emi_money_annuaire, emi_money_bank_annuaire = create_solde_columns(emi_money_transactions_df)
instant_transfer_df, instant_transfer_annuaire, instant_transfer_bank_annuaire = create_solde_columns(instant_transfer_transactions_df)
multiservice_df, multiservice_annuaire, multiservice_bank_annuaire = create_solde_columns(multiservice_transactions_df)
muffa_df, muffa_annuaire, muffa_bank_annuaire = create_solde_columns(muffa_transactions_df)
call_box_df, call_box_annuaire, call_box_bank_annuaire = create_solde_columns(call_box_transactions_df)

# Display results for verification
print("HOP dataframe:")
hop_df.head()
print("\nExpress Union dataframe:")
express_union_df.head()
print("\nEMI Money dataframe:")
emi_money_df.head()

HOP dataframe:

Express Union dataframe:

EMI Money dataframe:

,Reference transaction,Type transaction,Type utilisateur transaction,Montant transaction,Type canal,Statut transaction,Heure transaction,Date transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire
18,W202507298556062,Versement bancaire,AGENT,9000,AGENT_WEB,COMPLETED,10:15:23,2025-07-29,Emi money baf wankoSarl,237694105776,173392.0,164392.0,MOTCHEKA NOUMBISSI BORIS ARNAUD,0,10005-00003-09330601051-44
19,W202507298556064,Versement bancaire,AGENT,9000,AGENT_WEB,COMPLETED,10:15:24,2025-07-29,Emi money baf wankoSarl,237694105776,173392.0,164392.0,MOTCHEKA NOUMBISSI BORIS ARNAUD,0,10005-00003-09330601051-44
67,W202507298557210,Dépot,AGENT,16500,AGENT_WEB,COMPLETED,11:30:46,2025-07-29,SarlEmi money mbalmayo 2,237683747999,63500.0,47000.0,,237690722465,
123,W202507298559329,Dépot,AGENT,80000,AGENT_WEB,COMPLETED,14:01:50,2025-07-29,SarlEmi money mvan,237683748189,15000.0,95000.0,EMI MONEY SARL,237683748413,
135,W202507298565003,Versement bancaire,AGENT,60000,AGENT_WEB,COMPLETED,16:17:21,2025-07-29,SarlEmi money mvan,237683748189,95000.0,35000.0,EYENGA MBOZO'O EDWIGE MARIE FLOR,0,10005-00062-09074091101-73

In [59]:
express_union_df.head()

,Reference transaction,Type transaction,Type utilisateur transaction,Montant transaction,Type canal,Statut transaction,Heure transaction,Date transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire
27,W202507298556390,Dépot,AGENT,500000,AGENT_WEB,COMPLETED,10:36:22,2025-07-29,EU FOUMBAN CENTRE FOUMBAN CENTRE,237683735851,144153.0,644153.0,HOP SERVICESARL,237676739074,
127,W202507298559722,Versement bancaire,AGENT,214129,AGENT_WEB,COMPLETED,14:30:10,2025-07-29,EU FOUMBAN CENTRE FOUMBAN CENTRE,237683735851,644153.0,430024.0,CAMEROON WATER UTILITIES CORPORATION,0,10005-00002-04402621004-62
40,W202507298556736,Dépot,AGENT,300000,AGENT_WEB,COMPLETED,10:59:53,2025-07-29,EU FOUMBAN FOYERFOUMBAN FOYER,237683726639,47014.0,347014.0,EXPRESS UNIONSA,237679530802,
64,W202507298556976,Versement bancaire,AGENT,250000,AGENT_WEB,COMPLETED,11:14:34,2025-07-29,EU FOUMBAN FOYERFOUMBAN FOYER,237683726639,347014.0,97014.0,MANTOUM NSANGOU CHARLES,0,10005-00065-09650421101-11
132,W202507298563377,Dépot,AGENT,2000000,AGENT_WEB,COMPLETED,15:46:24,2025-07-29,EU TIKOTIKO,237683750578,46000.0,2046000.0,EXPRESS UNIONSA,237679530802,

In [60]:
emi_money_df.head()

,Reference transaction,Type transaction,Type utilisateur transaction,Montant transaction,Type canal,Statut transaction,Heure transaction,Date transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire
18,W202507298556062,Versement bancaire,AGENT,9000,AGENT_WEB,COMPLETED,10:15:23,2025-07-29,Emi money baf wankoSarl,237694105776,173392.0,164392.0,MOTCHEKA NOUMBISSI BORIS ARNAUD,0,10005-00003-09330601051-44
19,W202507298556064,Versement bancaire,AGENT,9000,AGENT_WEB,COMPLETED,10:15:24,2025-07-29,Emi money baf wankoSarl,237694105776,173392.0,164392.0,MOTCHEKA NOUMBISSI BORIS ARNAUD,0,10005-00003-09330601051-44
67,W202507298557210,Dépot,AGENT,16500,AGENT_WEB,COMPLETED,11:30:46,2025-07-29,SarlEmi money mbalmayo 2,237683747999,63500.0,47000.0,,237690722465,
123,W202507298559329,Dépot,AGENT,80000,AGENT_WEB,COMPLETED,14:01:50,2025-07-29,SarlEmi money mvan,237683748189,15000.0,95000.0,EMI MONEY SARL,237683748413,
135,W202507298565003,Versement bancaire,AGENT,60000,AGENT_WEB,COMPLETED,16:17:21,2025-07-29,SarlEmi money mvan,237683748189,95000.0,35000.0,EYENGA MBOZO'O EDWIGE MARIE FLOR,0,10005-00062-09074091101-73

In [61]:
instant_transfer_df.head()

,Reference transaction,Type transaction,Type utilisateur transaction,Montant transaction,Type canal,Statut transaction,Heure transaction,Date transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire
12,W202507298555861,Approvisionement,AGENT,1000000,AGENT_WEB,COMPLETED,09:59:42,2025-07-29,INSTANTTRANSFER SARL,237694749760,17984.95,1017984.95,,0,None
13,W202507298555866,Approvisionement,AGENT,1000000,AGENT_WEB,COMPLETED,10:00:10,2025-07-29,INSTANTTRANSFER SARL,237694749760,1017984.95,2017984.95,,0,None
15,W202507298555892,Approvisionement,AGENT,1000000,AGENT_WEB,COMPLETED,10:01:38,2025-07-29,INSTANTTRANSFER SARL,237694749760,2017984.95,3017984.95,,0,None
3,W202507298554080,Dépot,AGENT,6000,AGENT_WEB,COMPLETED,07:51:11,2025-07-29,IT BAFOUSSAM,237652073136,140875.0,134875.0,,237678509063,
124,W202507298559347,Dépot,AGENT,3000,AGENT_WEB,COMPLETED,14:03:24,2025-07-29,IT EKOUNOU,237652072523,104450.0,101450.0,,237690516507,

In [62]:
instant_transfer_df[instant_transfer_df["Type transaction"] == "Retrait"]

Empty DataFrame
Columns: [Reference transaction, Type transaction, Type utilisateur transaction, Montant transaction, Type canal, Statut transaction, Heure transaction, Date transaction, Nom portefeuille, Numero portefeuille, Solde avant transaction, Solde après transaction, Partenaire transaction, Numero portefeuille partenaire transaction, Compte bancaire partenaire]
Index: []

In [63]:
instant_transfer_df[instant_transfer_df["Nom portefeuille"] == "IT ACACIA YAOUNDE"].head(20)

Empty DataFrame
Columns: [Reference transaction, Type transaction, Type utilisateur transaction, Montant transaction, Type canal, Statut transaction, Heure transaction, Date transaction, Nom portefeuille, Numero portefeuille, Solde avant transaction, Solde après transaction, Partenaire transaction, Numero portefeuille partenaire transaction, Compte bancaire partenaire]
Index: []

In [64]:
instant_transfer_transactions_df[instant_transfer_transactions_df['Type transaction'] == 'Retrait'].head()

Empty DataFrame
Columns: [Reference transaction, Type transaction, Type utilisateur transaction, Nom portefeuille expediteur, Numero porte feuille expediteur, Solde expediteur avant transaction, Montant transaction, Solde expediteur apres transaction, Compte bancaire destinataire, Nom destinataire, Numero porte feuille destinataire, Nom portefeuille destinataire, Solde destinataire avant transaction, Solde destinataire apres transaction, Type canal, Statut transaction, Heure transaction, Date transaction, Nom portefeuille, Numero portefeuille, Solde avant transaction, Solde après transaction, Partenaire transaction, Numero portefeuille partenaire transaction, Compte bancaire partenaire]
Index: []

[0 rows x 25 columns]

In [65]:
multiservice_df.head()

Empty DataFrame
Columns: [Reference transaction, Type transaction, Type utilisateur transaction, Montant transaction, Type canal, Statut transaction, Heure transaction, Date transaction, Nom portefeuille, Numero portefeuille, Solde avant transaction, Solde après transaction, Partenaire transaction, Numero portefeuille partenaire transaction, Compte bancaire partenaire]
Index: []

In [ ]:
muffa_df.head()

In [ ]:
call_box_df.head()

In [66]:
hop_transactions_df['Solde avant transaction'].isnull().sum(), hop_transactions_df['Solde après transaction'].isnull().sum()

(0, 0)

In [67]:
express_union_transactions_df['Solde avant transaction'].isnull().sum(), express_union_transactions_df['Solde après transaction'].isnull().sum()

(0, 0)

In [68]:
hop_df.columns

Index(['Reference transaction', 'Type transaction',
       'Type utilisateur transaction', 'Montant transaction', 'Type canal',
       'Statut transaction', 'Heure transaction', 'Date transaction',
       'Nom portefeuille', 'Numero portefeuille', 'Solde avant transaction',
       'Solde après transaction', 'Partenaire transaction',
       'Numero portefeuille partenaire transaction',
       'Compte bancaire partenaire'],
      dtype='object')

In [69]:
# Reorder columns
columns_order = ['Date transaction', 'Heure transaction', 'Reference transaction', 
                'Type transaction', 'Type utilisateur transaction', 'Nom portefeuille', 
                'Numero portefeuille', 'Solde avant transaction', 'Montant transaction',
                'Solde après transaction', 'Partenaire transaction',
                'Numero portefeuille partenaire transaction', 'Compte bancaire partenaire',
                'Type canal', 'Statut transaction']

hop_df = hop_df[columns_order]
express_union_df = express_union_df[columns_order]
instant_transfer_df = instant_transfer_df[columns_order]
emi_money_df = emi_money_df[columns_order]
multiservice_df = multiservice_df[columns_order]
muffa_df = muffa_df[columns_order]
call_box_df = call_box_df[columns_order]

In [70]:
hop_df.head()

,Date transaction,Heure transaction,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Montant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire,Type canal,Statut transaction
76,2025-07-29,11:45:33,W202507298557433,Dépot,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,0.0,10000000,10000000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
80,2025-07-29,11:48:45,W202507298557476,Versement bancaire,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,10000000.0,10000000,0.0,MOBILE TELEPHONE NETWORKS,0,10005-00002-00588271001-35,AGENT_WEB,COMPLETED
108,2025-07-29,12:46:31,W202507298558302,Dépot,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,0.0,9000000,9000000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
109,2025-07-29,12:49:49,W202507298558343,Versement bancaire,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,9000000.0,9000000,0.0,MOBILE TELEPHONE NETWORKS,0,10005-00002-00588271001-35,AGENT_WEB,COMPLETED
27,2025-07-29,10:36:22,W202507298556390,Dépot,AGENT,EU FOUMBAN CENTRE FOUMBAN CENTRE,237683735851,144153.0,500000,644153.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED

In [71]:
express_union_df.head()

,Date transaction,Heure transaction,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Montant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire,Type canal,Statut transaction
27,2025-07-29,10:36:22,W202507298556390,Dépot,AGENT,EU FOUMBAN CENTRE FOUMBAN CENTRE,237683735851,144153.0,500000,644153.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
127,2025-07-29,14:30:10,W202507298559722,Versement bancaire,AGENT,EU FOUMBAN CENTRE FOUMBAN CENTRE,237683735851,644153.0,214129,430024.0,CAMEROON WATER UTILITIES CORPORATION,0,10005-00002-04402621004-62,AGENT_WEB,COMPLETED
40,2025-07-29,10:59:53,W202507298556736,Dépot,AGENT,EU FOUMBAN FOYERFOUMBAN FOYER,237683726639,47014.0,300000,347014.0,EXPRESS UNIONSA,237679530802,,AGENT_WEB,COMPLETED
64,2025-07-29,11:14:34,W202507298556976,Versement bancaire,AGENT,EU FOUMBAN FOYERFOUMBAN FOYER,237683726639,347014.0,250000,97014.0,MANTOUM NSANGOU CHARLES,0,10005-00065-09650421101-11,AGENT_WEB,COMPLETED
132,2025-07-29,15:46:24,W202507298563377,Dépot,AGENT,EU TIKOTIKO,237683750578,46000.0,2000000,2046000.0,EXPRESS UNIONSA,237679530802,,AGENT_WEB,COMPLETED

In [72]:
hop_df['Type transaction'].value_counts()

Type transaction
Approvisionement      64
Dépot                 25
Versement bancaire    24
Name: count, dtype: int64

In [73]:
hop_df['Type utilisateur transaction'].value_counts()

Type utilisateur transaction
AGENT       111
CUSTOMER      2
Name: count, dtype: int64

In [74]:
express_union_df['Type utilisateur transaction'].value_counts()

Type utilisateur transaction
AGENT    6
Name: count, dtype: int64

In [75]:
express_union_df['Type transaction'].value_counts()

Type transaction
Dépot                 3
Versement bancaire    3
Name: count, dtype: int64

In [76]:
express_union_df.head()

,Date transaction,Heure transaction,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Montant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire,Type canal,Statut transaction
27,2025-07-29,10:36:22,W202507298556390,Dépot,AGENT,EU FOUMBAN CENTRE FOUMBAN CENTRE,237683735851,144153.0,500000,644153.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
127,2025-07-29,14:30:10,W202507298559722,Versement bancaire,AGENT,EU FOUMBAN CENTRE FOUMBAN CENTRE,237683735851,644153.0,214129,430024.0,CAMEROON WATER UTILITIES CORPORATION,0,10005-00002-04402621004-62,AGENT_WEB,COMPLETED
40,2025-07-29,10:59:53,W202507298556736,Dépot,AGENT,EU FOUMBAN FOYERFOUMBAN FOYER,237683726639,47014.0,300000,347014.0,EXPRESS UNIONSA,237679530802,,AGENT_WEB,COMPLETED
64,2025-07-29,11:14:34,W202507298556976,Versement bancaire,AGENT,EU FOUMBAN FOYERFOUMBAN FOYER,237683726639,347014.0,250000,97014.0,MANTOUM NSANGOU CHARLES,0,10005-00065-09650421101-11,AGENT_WEB,COMPLETED
132,2025-07-29,15:46:24,W202507298563377,Dépot,AGENT,EU TIKOTIKO,237683750578,46000.0,2000000,2046000.0,EXPRESS UNIONSA,237679530802,,AGENT_WEB,COMPLETED

In [77]:
# Sort both dataframes by date and time
hop_df = hop_df.sort_values(['Date transaction', 'Heure transaction'])
express_union_df = express_union_df.sort_values(['Date transaction', 'Heure transaction'])
instant_transfer_df = instant_transfer_df.sort_values(['Date transaction', 'Heure transaction'])
emi_money_df = emi_money_df.sort_values(['Date transaction', 'Heure transaction'])
multiservice_df = multiservice_df.sort_values(['Date transaction', 'Heure transaction'])
muffa_df = muffa_df.sort_values(['Date transaction', 'Heure transaction'])
call_box_df = call_box_df.sort_values(['Date transaction', 'Heure transaction'])

In [78]:
# Sort both dataframes by expediteur name, date and time
hop_df = hop_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])
express_union_df = express_union_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])
instant_transfer_df = instant_transfer_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])
emi_money_df = emi_money_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])
multiservice_df = multiservice_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])
muffa_df = muffa_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])
call_box_df = call_box_df.sort_values(['Nom portefeuille', 'Date transaction', 'Heure transaction'])

In [79]:
hop_df.head(20)

,Date transaction,Heure transaction,Reference transaction,Type transaction,Type utilisateur transaction,Nom portefeuille,Numero portefeuille,Solde avant transaction,Montant transaction,Solde après transaction,Partenaire transaction,Numero portefeuille partenaire transaction,Compte bancaire partenaire,Type canal,Statut transaction
76,2025-07-29,11:45:33,W202507298557433,Dépot,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,0.0,10000000,10000000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
80,2025-07-29,11:48:45,W202507298557476,Versement bancaire,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,10000000.0,10000000,0.0,MOBILE TELEPHONE NETWORKS,0,10005-00002-00588271001-35,AGENT_WEB,COMPLETED
108,2025-07-29,12:46:31,W202507298558302,Dépot,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,0.0,9000000,9000000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
109,2025-07-29,12:49:49,W202507298558343,Versement bancaire,AGENT,DTN NANGA NANGA JUNIORHOP SIEGE DCM,237683733701,9000000.0,9000000,0.0,MOBILE TELEPHONE NETWORKS,0,10005-00002-00588271001-35,AGENT_WEB,COMPLETED
27,2025-07-29,10:36:22,W202507298556390,Dépot,AGENT,EU FOUMBAN CENTRE FOUMBAN CENTRE,237683735851,144153.0,500000,644153.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
117,2025-07-29,13:11:34,W202507298558656,Versement bancaire,AGENT,HOP DLA PK 15HOP DLA PK 15,237683737249,3850000.0,1760000,2090000.0,CIMENTERIES DU CAMEROUN,0,10005-00002-05894031001-25,AGENT_WEB,COMPLETED
4,2025-07-29,08:39:17,W202507298554670,Versement bancaire,AGENT,HOP ESEKA 2ESEKA 2,237683752726,1687000.0,161000,1526000.0,NDE PADY JULIO,0,10005-00033-10278451101-79,AGENT_WEB,COMPLETED
46,2025-07-29,11:03:18,W202507298556792,Dépot,AGENT,HOP ESEKA 2ESEKA 2,237683752726,1526000.0,10000000,11526000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
49,2025-07-29,11:04:18,W202507298556810,Dépot,AGENT,HOP ESEKA 2ESEKA 2,237683752726,11526000.0,1000000,12526000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
66,2025-07-29,11:25:00,W202507298557125,Versement bancaire,AGENT,HOP ESEKA 2ESEKA 2,237683752726,12526000.0,2100000,10426000.0,ALASSANE HALIROU,0,10005-00005-04625461051-93,AGENT_WEB,COMPLETED
101,2025-07-29,12:34:53,W202507298558145,Dépot,AGENT,HOP ESEKA 2ESEKA 2,237683752726,10426000.0,2000000,12426000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
115,2025-07-29,13:02:39,W202507298558532,Versement bancaire,AGENT,HOP ESEKA 2ESEKA 2,237683752726,12426000.0,11000000,1426000.0,SOCIETE AGROPASTORALE DE BANEKANE (SA),0,10005-00025-05514541002-77,AGENT_WEB,COMPLETED
131,2025-07-29,15:45:11,W202507298563306,Dépot,AGENT,HOP EVOUDOULAEVOUDOULA,237683758838,1000.0,500000,501000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
137,2025-07-29,17:03:15,W202507298567312,Versement bancaire,AGENT,HOP EVOUDOULAEVOUDOULA,237683758838,501000.0,300000,201000.0,NTAMBENG COOP CREDIT UNION LTD,0,10005-00034-08342241001-25,AGENT_WEB,COMPLETED
69,2025-07-29,11:32:51,W202507298557242,Dépot,AGENT,HOP KOUME BONISHOP KOUME BONIS,237683750599,238000.0,100000,138000.0,,237699017732,,AGENT_WEB,COMPLETED
121,2025-07-29,13:46:00,W202507298559147,Dépot,AGENT,HOP MBOUMNYEBELMBOUMNYEBEL,237683751416,2690500.0,3000000,5690500.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
125,2025-07-29,14:15:57,W202507298559515,Versement bancaire,AGENT,HOP MBOUMNYEBELMBOUMNYEBEL,237683751416,5690500.0,4000000,1690500.0,MAVIANCE PLC,0,10005-00002-04560101002-23,AGENT_WEB,COMPLETED
128,2025-07-29,14:54:19,W202507298560465,Versement bancaire,AGENT,HOP MBOUMNYEBELMBOUMNYEBEL,237683751416,1690500.0,1000000,690500.0,MAVIANCE PLC,0,10005-00002-04560101002-23,AGENT_WEB,COMPLETED
16,2025-07-29,10:10:17,W202507298555996,Dépot,AGENT,HOP NGAOUIHOP NGAOUI,237683751425,0.0,10000000,10000000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED
17,2025-07-29,10:12:34,W202507298556028,Dépot,AGENT,HOP NGAOUIHOP NGAOUI,237683751425,10000000.0,7000000,17000000.0,HOP SERVICESARL,237676739074,,AGENT_WEB,COMPLETED

In [80]:
hop_df.to_excel('transactions_hop_service_29_07_2025.xlsx')
express_union_df.to_excel('transactions_express_union_29_07_2025.xlsx')
instant_transfer_df.to_excel('transactions_instant_transfer_29_07_2025.xlsx')
emi_money_df.to_excel('transactions_emi_money_29_07_2025.xlsx')
multiservice_df.to_excel('transactions_multiservice_29_07_2025.xlsx')
muffa_df.to_excel('transactions_muffa_29_07_2025.xlsx')
call_box_df.to_excel('transactions_call_box_29_07_2025.xlsx')